<template>
  <v-row>
    <v-container fluid>
      <v-data-iterator
        :items="items"
        :items-per-page.sync="itemsPerPage"
        :page="page"
        hide-default-footer
      >
        <template v-slot:default="props">
          <v-row>
            <v-col
              v-for="item in props.items"
              :key="item.id"
              cols="12"
              sm="6"
              md="4"
              lg="3"
            >
              <slot name="card" v-bind="item"></slot>
            </v-col>
          </v-row>
        </template>

        <template v-slot:footer>
          <v-row class="mt-2">
            <v-col cols="4">
              <span class="grey--text"><slot name="footer"></slot></span>
              <v-menu offset-y>
                <template v-slot:activator="{ on, attrs }">
                  <v-btn
                    dark
                    text
                    color="primary"
                    class="ml-2"
                    v-bind="attrs"
                    v-on="on"
                  >
                    {{ itemsPerPage }}
                    <v-icon>mdi-chevron-down</v-icon>
                  </v-btn>
                </template>
                <v-list>
                  <v-list-item
                    v-for="(number, index) in itemsPerPageArray"
                    :key="index"
                    @click="updateItemsPerPage(number)"
                  >
                    <v-list-item-title>{{ number }}</v-list-item-title>
                  </v-list-item>
                </v-list>
              </v-menu>
            </v-col>
            <v-col cols="8">
              <div class="text-start">
                <v-pagination
                  style="justify-content: start"
                  v-model="page"
                  :length="numberOfPages"
                  prev-icon="mdi-menu-left"
                  next-icon="mdi-menu-right"
                ></v-pagination>
              </div>
            </v-col>
          </v-row>
        </template>
      </v-data-iterator>
    </v-container>
  </v-row>
</template>

<script>
/**
 * This is a headache component it uses scoped slots which will make our components so reusable but a little be complicated but you can find
 * all the details in this article
 * https://vuejsdevelopers.com/2017/10/02/vue-js-scoped-slots/
 */
export default {
  props: {
    items: {
      type: Array,
      required: true,
    },
  },
  data() {
    return {
      progress: true,
      itemsPerPageArray: [4, 6, 8, 9, 12],
      page: 1,
      itemsPerPage: 4,
    }
  },
  computed: {
    numberOfPages() {
      return Math.ceil(this.items.length / this.itemsPerPage)
    },
  },
  methods: {
    updateItemsPerPage(number) {
      this.itemsPerPage = number
      this.page = 1
    },
  },
}
</script>
