<template>
  <v-list-group :prepend-icon="item.icon">
    <template v-slot:activator>
      <v-list-item-title v-text="item.title"></v-list-item-title>
    </template>

    <v-list-item v-for="subItem in item.items" :key="subItem.title" link :to="subItem.to">
      <v-list-item-title v-text="subItem.title"></v-list-item-title>
      <v-list-item-action>
        <v-icon v-text="subItem.icon"></v-icon>
      </v-list-item-action>
    </v-list-item>
  </v-list-group>
</template>

<script>
export default {
  props: {
    item: {
      type: Object,
      required: true,
      validator: function(item) {
        // this is a custom prop validator : the items object must contains an array of sub items
        // shows warning in development mode if function return false
        return !item.items || item.items.length > 0
      }
    }
  }
}
</script>