<template>
  <v-form @submit.prevent="onSubmit" v-model="valid">
    <v-card outlined>
      <v-card-title>
        <v-spacer></v-spacer>
        <app-header-title v-if="training.id"
          >Update the training</app-header-title
        >
        <app-header-title v-else>Create a new training</app-header-title>
        <v-spacer></v-spacer>
      </v-card-title>
      <v-card-text>
        <v-container>
          <v-row dense>
            <v-col cols="12">
              <v-text-field
                outlined
                :rules="[
                  rules.required,
                  (value) =>
                    (value && value.length >= 10) || 'Min 10 characters',
                ]"
                counter
                maxlength="200"
                label="Name"
                v-model="training.name"
              />
            </v-col>
          </v-row>
          <v-row dense>
            <v-col cols="12">
              <app-mark-down-editor
                title="Description"
                :content.sync="training.description"
              ></app-mark-down-editor>
            </v-col>
          </v-row>
          <v-row dense class="mt-8">
            <v-col cols="12" md="6">
              <app-dynamic-text-field
                @saved="addRequirements"
                @modificationEnabled="requirementsWereValidated = false"
                title="Requirements"
                label="Add a new requirement"
                :items="training.requirements"
              ></app-dynamic-text-field>
            </v-col>
            <v-col cols="12" md="6">
              <app-dynamic-text-field
                @saved="addCriterias"
                @modificationEnabled="criteriasWereValidated = false"
                title="For who"
                label="Add a new criteria"
                :items="training.criterias"
              ></app-dynamic-text-field>
            </v-col>
          </v-row>
          <v-row dense class="mt-8">
            <v-col cols="12" md="6">
              <v-select
                outlined
                :items="levels"
                label="Level"
                v-model="training.level"
                :rules="[rules.required]"
              ></v-select>
            </v-col>
            <v-col cols="12" md="6">
              <app-tags-group
                label="Tags"
                :tags.sync="training.tags"
                @error="throwError($event)"
              ></app-tags-group>
            </v-col>
          </v-row>
          <v-row dense>
            <v-col cols="12" md="6">
              <v-menu
                v-model="datePickerMenu"
                :close-on-content-click="false"
                transition="scale-transition"
                offset-y
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-text-field
                    v-model="training.startingDate"
                    label="Starting date"
                    readonly
                    v-bind="attrs"
                    v-on="on"
                    outlined
                    append-icon="mdi-calendar"
                    :rules="[rules.required]"
                  ></v-text-field>
                </template>
                <v-date-picker
                  v-model="training.startingDate"
                  :max="
                    new Date(Date.now() + 31556952000)
                      .toISOString()
                      .substr(0, 10)
                  "
                  :min="new Date().toISOString().substr(0, 10)"
                  @change="datePickerMenu = false"
                ></v-date-picker>
              </v-menu>
            </v-col>
            <v-col cols="12" md="6">
              <v-text-field
                outlined
                suffix="days"
                label="Duration"
                v-model="training.duration"
                :rules="[
                  rules.required,
                  (value) =>
                    (value && value > 0) ||
                    'Duration must be a positive number',
                ]"
                type="number"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row dense>
            <v-col cols="12" md="6">
              <v-text-field
                outlined
                suffix="persons"
                label="Minimun number of participants"
                v-model="training.minParticipants"
                :rules="[
                  rules.required,
                  (value) =>
                    (value && value >= 1) ||
                    'Minimun number of participants cannot be lower than one',
                  (value) =>
                    (value && value <= training.maxParticipants) ||
                    'Minimun number of participants cannot be greater than the Maximum number',
                ]"
                type="number"
              ></v-text-field>
            </v-col>
            <v-col cols="12" md="6">
              <v-text-field
                outlined
                suffix="persons"
                label="Maximum number of participants"
                v-model="training.maxParticipants"
                :rules="[
                  rules.required,
                  (value) =>
                    (value && value >= 1) ||
                    'Maximum number of participants cannot be lower than one',
                  (value) =>
                    (value && value >= training.minParticipants) ||
                    'Maximum number of participants cannot be lower than the Minimun number',
                ]"
                type="number"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row dense>
            <v-col cols="12" md="6">
              <v-text-field
                outlined
                prefix="$"
                label="Price"
                v-model="training.price"
                :rules="[
                  rules.required,
                  (value) =>
                    (value && parseInt(value) >= 0) ||
                    'Price must be a non negative number',
                  rules.price,
                ]"
                type="text"
              ></v-text-field>
            </v-col>
            <v-col cols="12" md="6">
              <v-text-field
                outlined
                label="Image URL"
                v-model="training.image"
                :rules="[rules.link]"
              />
            </v-col>
          </v-row>
        </v-container>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn class="ma-2" color="primary" type="submit" :disabled="!valid">
          <v-icon left v-if="training.id">save</v-icon>Save
        </v-btn>
      </v-card-actions>
      <v-snackbar v-model="snackbar.status">
        {{ snackbar.message }}
        <v-btn :color="snackbar.type" @click="snackbar.status = false">
          Close
        </v-btn>
      </v-snackbar>
    </v-card>
  </v-form>
</template>

<script>
import DynamicTextField from '@/components/ui/inputs/DynamicTextField.vue'
import MarkDownEditor from '@/components/ui/inputs/mark-down-editor'
import TagsGroupAutocomplete from '@/components/ui/inputs/TagsGroupAutocomplete.vue'
import HeaderTitle from '@/components/ui/text/HeaderTitle.vue'
import ElementTitle from '@/components/ui/text/ElementTitle.vue'
import * as stringUtils from '@/utils/string-utils'
import axios from 'axios'
import * as endpoints from '@/constants/rest-endpoints'
import * as alerts from '@/utils/alerts-utils'

// This component can be used to create a new training or to update an existing one. If you want to update a training pass it as props
export default {
  props: {
    training: {
      type: Object,
      required: false,
      default() {
        return {
          name: null,
          description: null,
          requirements: null,
          criterias: null,
          // the max of the starting date is now + 1 year
          startingDate: new Date().toISOString().substr(0, 10),
          level: null,
          tags: null,
          duration: 1,
          minParticipants: 1,
          maxParticipants: 1,
          price: null,
          image: null,
        }
      },
    },
  },
  components: {
    appDynamicTextField: DynamicTextField,
    appMarkDownEditor: MarkDownEditor,
    appTagsGroup: TagsGroupAutocomplete,
    appHeaderTitle: HeaderTitle,
    appElementTitle: ElementTitle,
  },
  data() {
    return {
      valid: false,
      rules: {
        required: (value) => !!value || 'This field can not be empty',
        counter: (value) =>
          (value && value.length <= 80) || 'Max 80 characters',
        price: (value) =>
          stringUtils.isValidPrice(value) ||
          'the price precision (the number of digits after the radix point) is 2',
        link: (value) =>
          !value ||
          stringUtils.isValidLink(value) ||
          'this field must be a url',
        // image url is not required but if mentionned, it has to be an image
      },
      levels: [],
      criteriasWereValidated: false, // a used boolean to make sure that the user has clicked on the save button in the forwho component
      requirementsWereValidated: false,
      snackbar: {
        status: false,
        message: '',
        type: '',
      },
      // field used by the vuetify data picker
      datePickerMenu: false,
    }
  },
  computed: {
    disableSaveButton() {
      if (!this.criteriasWereValidated || !this.requirementsWereValidated)
        return true
    },
  },
  created() {
    // get training levels from the backend
    axios
      .get(endpoints.LEVELS)
      .then((res) => {
        this.levels = res.data
      })
      .catch((err) => {
        this.throwError(err)
      })
  },
  methods: {
    onSubmit() {
      this.$emit('submit', this.training)
    },
    addCriterias(event) {
      this.training.criterias = event
      this.criteriasWereValidated = true
    },
    addRequirements(event) {
      this.training.requirements = event
      this.requirementsWereValidated = true
    },
    throwError(err) {
      this.snackbar = alerts.error(err)
    },
  },
}
</script>