<template>
  <p>
    <span class="headline mb-0 grey--text text--darken-1 hidden-sm-and-down">
      <slot></slot>
    </span>
    <span class="heading mb-0 grey--text text--darken-1 hidden-md-and-up">
      <slot></slot>
    </span>
  </p>
</template>