<template>
  <p>
    <span class="display-1 font-weight-bold hidden-sm-and-down">
      <slot></slot>
    </span>
    <span class="headline font-weight-bold hidden-md-and-up">
      <slot></slot>
    </span>
  </p>
</template>