<template>
  <v-container>
    <v-breadcrumbs :items="links">
      <template v-slot:item="{ item }">
        <v-breadcrumbs-item :to="item.to" :disabled="item.disabled" exact>
          {{ item.text.toUpperCase() }}
        </v-breadcrumbs-item>
      </template>
    </v-breadcrumbs>

    <v-row>
      <v-col cols="6" v-for="item in items" :key="item.title">
        <v-btn
          class="grey lighten-2"
          outlined
          tile
          block
          :to="item.to"
          exact
          active-class="primary darken-1 white--text"
        >
          <v-icon left v-text="item.icon"></v-icon>
          {{ item.title }}
        </v-btn>
      </v-col>
    </v-row>
    <router-view></router-view>
  </v-container>
</template>
<script>
import * as routesNames from '@/constants/routes-names'
export default {
  data: () => ({
    links: [
      {
        text: 'Home',
        disabled: false,
        to: { name: routesNames.HOME_PAGE },
      },
      {
        text: 'My Trainings',
        disabled: true,
        to: { name: routesNames.MY_TRAININGS_PAGE },
      },
    ],
    items: [
      {
        icon: 'settings',
        title: 'Manage',
        to: { name: routesNames.MANAGE_TRAINING_PAGE },
      },
      {
        icon: 'create',
        title: 'Create',
        to: { name: routesNames.CREATE_NEW_TRAINING_PAGE },
      },
    ],
  }),
}
</script>