<template>
  <div>
    <app-training-form @submit="onSubmit"></app-training-form>
    <v-snackbar v-model="snackbar.status">
      {{ snackbar.message }}
      <v-btn :color="snackbar.type" @click="snackbar.status = false">
        Close
      </v-btn>
    </v-snackbar>
  </div>
</template>

<script>
import TrainingForm from '@/components/ui/forms/TrainingForm.vue'
import axios from 'axios'
import * as alerts from '@/utils/alerts-utils'
import * as endpoints from '@/constants/rest-endpoints'

export default {
  components: {
    appTrainingForm: TrainingForm,
  },
  data() {
    return {
      snackbar: {
        status: false,
        message: '',
        type: '',
      },
    }
  },
  methods: {
    onSubmit(training) {
      axios
        .post(endpoints.TRAININGS, training)
        .then((res) => {
          this.snackbar = alerts.info('The training was successfully created')
        })
        .catch((err) => {
          this.snackbar = alerts.error(err)
        })
    },
  },
}
</script>