<template>
  <app-training></app-training>
</template>

<script>
import Training from '@/components/training'

export default {
  components: {
    appTraining: Training,
  },
  mounted() {
    // we have to dispatch this training id to the store so it can retirieve the traingin and update other components including this one
    this.$store.dispatch('training/SET_TRAINING', { id: this.getTrainingId() })
  },
  methods: {
    getTrainingId() {
      return this.$route.params.id
    },
  },
}
</script>