<template>
  <v-card>
    <v-card-title>
      My Trainings
      <v-spacer></v-spacer>
      <v-text-field
        v-model="search"
        append-icon="mdi-magnify"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
    </v-card-title>
    <v-card-text>
      <v-data-table :headers="headers" :items="trainings" :search="search">
        <template v-slot:item.startingDate="{ item }">
          {{ item.startingDate | date }}
        </template>
        <template v-slot:item.status="{ item }">
          <v-chip :color="getColor(item.status)" dark small>
            {{ item.status }}
          </v-chip>
        </template>
        <template v-slot:item.actions="{ item }">
          <v-btn x-small color="primary" fab icon :to="item.preview">
            <v-icon small class="mx-1">mdi-eye</v-icon>
          </v-btn>
          <v-btn x-small color="primary" fab icon :to="item.edit">
            <v-icon small class="mx-1">mdi-pencil</v-icon>
          </v-btn>
          <v-btn
            x-small
            color="red darken-2"
            fab
            icon
            v-if="item.status === 'author'"
            @click="showDeletionDialog(item)"
          >
            <v-icon small class="mx-1">mdi-delete</v-icon>
          </v-btn>
        </template>
      </v-data-table>
      <v-snackbar v-model="snackbar.status">
        {{ snackbar.message }}
        <v-btn :color="snackbar.type" @click="snackbar.status = false">
          Close
        </v-btn>
      </v-snackbar>
      <appDeleteDialog
        v-if="selectedTraining"
        :dialog="deleteDialog"
        title="Training Deletion"
        :content="`Do you really want to delete this training (${selectedTraining.name}) ?`"
        @deleted="deleteTraining"
      ></appDeleteDialog>
    </v-card-text>
  </v-card>
</template>
<script>
import axios from 'axios'
import * as endpoints from '@/constants/rest-endpoints'
import * as alerts from '@/utils/alerts-utils'
import * as routesNames from '@/constants/routes-names'
import * as arrayUtils from '@/utils/array-utils'
import DeleteDialog from '@/components/ui/dialog/DeleteDialog.vue'

export default {
  components: {
    appDeleteDialog: DeleteDialog,
  },
  data() {
    return {
      search: '',
      headers: [
        { text: 'Name', value: 'name', align: 'start' },
        { text: 'Date', value: 'startingDate' },
        { text: 'Duration', value: 'duration' },
        { text: 'Role', value: 'status' },
        { text: 'Price', value: 'price' },
        { text: 'Actions', value: 'actions', sortable: false },
      ], // data table headers
      trainings: [],
      selectedTraining: null, // this is the training selected by the user to be deleted
      deleteDialog: false, // used to control the show/hide of the delete dialop
      snackbar: {
        status: false,
        message: '',
        type: '',
      },
    }
  },
  created() {
    // get trainings of the current user
    const uid = this.$store.getters['auth/getUid']
    axios
      .all([
        axios.get(endpoints.USER_GIVEN_TRAININGS.replace('{uid}', uid)),
        axios.get(endpoints.USER_FOLLOWED_TRAININGS.replace('{uid}', uid)),
      ])
      .then(
        axios.spread((given, followed) => {
          const givenTrainings = given.data
          const followedTrainings = followed.data
          // add given tag
          givenTrainings.forEach((tr) => {
            tr.status = 'author'
          })
          followedTrainings.forEach((tr) => {
            tr.status = 'participant'
          })
          this.trainings = givenTrainings.concat(followedTrainings)
          // add the to path to the response to facilitate the navigation of our app after
          this.trainings.forEach((tr) => {
            tr.edit = {
              name: routesNames.EDIT_TRAINING_PAGE,
              params: { id: tr.id },
            }
            tr.preview = {
              name: routesNames.PREVIEW_TRAINING_PAGE,
              params: { id: tr.id },
            }
          })
        })
      )
      .catch((err) => {
        this.throwError(err)
      })
  },
  methods: {
    showDeletionDialog(item) {
      this.selectedTraining = item
      this.deleteDialog = true
    },
    deleteTraining(choice) {
      if (!!choice) {
        axios
          .delete(endpoints.TRAINING.replace('{id}', this.selectedTraining.id))
          .then((res) => {
            this.snackbar = alerts.info('The training was successfully deleted')
            arrayUtils.removeElement(this.selectedTraining, this.trainings)
          })
          .catch((err) => {
            this.throwError(err)
          })
          .then(() => {
            this.selectedTraining = null
            this.deleteDialog = false
          })
      } else {
        this.selectedTraining = null
        this.deleteDialog = false
      }
    },
    throwError(err) {
      this.snackbar = alerts.error(err)
    },
    getColor(status) {
      if (status === 'author') return 'light-green lighten-2'
      else if (status === 'participant') return 'purple lighten-2'
    },
  },
}
</script>