<template>
  <div>
    <v-progress-linear
      v-if="progress"
      color="primary"
      indeterminate
      rounded
      height="6"
    ></v-progress-linear>
    <app-training-form
      v-else
      @submit="onSubmit"
      :training="training"
    ></app-training-form>
    <v-snackbar v-model="snackbar.status">
      {{ snackbar.message }}
      <v-btn :color="snackbar.type" @click="snackbar.status = false">
        Close
      </v-btn>
    </v-snackbar>
  </div>
</template>

<script>
import TrainingForm from '@/components/ui/forms/TrainingForm.vue'
import axios from 'axios'
import * as alerts from '@/utils/alerts-utils'
import * as endpoints from '@/constants/rest-endpoints'

export default {
  components: {
    appTrainingForm: TrainingForm,
  },
  data() {
    return {
      id: this.$route.params.id,
      progress: true,
      snackbar: {
        status: false,
        message: '',
        type: '',
      },
      training: null,
    }
  },
  created() {
    axios
      .get(endpoints.TRAINING.replace('{id}', this.id))
      .then((res) => {
        this.training = res.data
        this.progress = false
      })
      .catch((err) => {
        this.snackbar = alerts.error(err)
        this.progress = false
      })
  },
  methods: {
    onSubmit(training) {
      axios
        .put(endpoints.TRAINING.replace('{id}', this.id), training)
        .then((res) => {
          this.snackbar = alerts.info('The training was successfully updated')
        })
        .catch((err) => {
          this.snackbar = alerts.error(err)
        })
    },
  },
}
</script>