<template>
  <v-container>
    <v-row justify="center">
      <v-btn
        icon
        :href="`mailto:${mail_icon.href}`"
        :disabled="!mail_icon.enabled"
      >
        <v-icon class="ma-3" :color="mail_icon.color">{{
          mail_icon.name
        }}</v-icon>
      </v-btn>
      <v-btn
        icon
        :href="icon.href"
        :disabled="!icon.enabled"
        target="_blank"
        v-for="icon in sn_icons"
        :key="icon.name"
      >
        <v-icon class="ma-3" :color="icon.color">{{ icon.name }}</v-icon>
      </v-btn>
      <v-btn icon :disabled="!phone_icon.enabled" @click.stop="dialog = true">
        <v-icon class="ma-3" :color="phone_icon.color">{{
          phone_icon.name
        }}</v-icon>
      </v-btn>
    </v-row>
    <v-row justify="center">
      <v-dialog v-model="dialog" max-width="290">
        <v-card>
          <v-card-title class="headline grey lighten-2">
            Phone Number
          </v-card-title>
          <v-card-text>
            <v-sheet color="white" elevation="0" class="mt-5">
              <v-chip class="ma-2" color="green" text-color="white">
                <v-icon left> phone </v-icon>
                <span ref="copyPhone">
                  {{ phone_icon.phone }}
                </span>
              </v-chip>
              <v-tooltip bottom>
                <template v-slot:activator="{ on, attrs }">
                  <v-btn
                    icon
                    @click.stop.prevent="copyPhone"
                    v-bind="attrs"
                    v-on="on"
                  >
                    <v-icon>content_copy</v-icon>
                  </v-btn>
                </template>
                <span>copy to clipboard</span>
              </v-tooltip>
            </v-sheet>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary" text @click="dialog = false"> Close </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
  </v-container>
</template>
<script>
export default {
  props: ['author'],
  data() {
    return {
      dialog: false,
    }
  },
  computed: {
    mail_icon() {
      if (this.author) {
        return {
          name: 'email',
          color: 'black',
          enabled: this.author.isEmailEnabled,
          href: this.author.email,
        }
      }
    },
    sn_icons() {
      if (this.author) {
        return [
          // social network links
          {
            name: 'fas fa-link',
            color: 'black',
            enabled: this.author.isSiteEnabled,
            href: this.author.site,
          },
          {
            name: 'fab fa-linkedin',
            color: 'blue darken-2',
            enabled: this.author.isLinkedinEnabled,
            href: this.author.linkedin,
          },
          {
            name: 'fab fa-youtube',
            color: 'red darken-2',
            enabled: this.author.isYoutubeEnabled,
            href: this.author.youtube,
          },
          {
            name: 'fab fa-github',
            enabled: this.author.isGithubEnabled,
            href: this.author.github,
          },
          {
            name: 'fab fa-gitlab',
            color: 'orange darken-2',
            enabled: this.author.isGitlabEnabled,
            href: this.author.gitlab,
          },
          {
            name: 'fab fa-docker',
            color: 'blue',
            enabled: this.author.isDockerHubEnabled,
            href: this.author.dockerHub,
          },
          {
            name: 'fab fa-twitter',
            color: 'blue lighten-2',
            enabled: this.author.isTwitterEnabled,
            href: this.author.twitter,
          },
          {
            name: 'fab fa-facebook',
            color: 'blue accent-3',
            enabled: this.author.isFacebookEnabled,
            href: this.author.facebook,
          },
        ]
      }
    },
    phone_icon() {
      if (this.author) {
        return {
          name: 'phone',
          color: 'green darken-2',
          enabled: this.author.isPhoneNumberEnabled,
          phone: this.author.phoneNumber,
        }
      }
    },
  },
  methods: {
    copyPhone() {
      this.selectText(this.$refs.copyPhone)
      document.execCommand('copy')
    },
    selectText(element) {
      // source : https://stackoverflow.com/questions/54179004/how-to-copy-innerhtml-to-clipboard-in-vue-js
      var range
      if (document.selection) {
        // IE
        range = document.body.createTextRange()
        range.moveToElementText(element)
        range.select()
      } else if (window.getSelection) {
        range = document.createRange()
        range.selectNode(element)
        window.getSelection().removeAllRanges()
        window.getSelection().addRange(range)
      }
    },
  },
}
</script>