<template>
  <v-container v-if="author">
    <v-row justify="center">
      <v-avatar size="80" class="mt-5">
        <v-img
          v-if="author.photo && author.photo.length > 1"
          :src="author.photo"
        ></v-img>
        <v-img
          v-else
          src="https://cdn.vuetifyjs.com/images/lists/1.jpg"
        ></v-img>
      </v-avatar>
    </v-row>
    <v-row justify="center" class="mt-3">
      <p class="headline mb-0">
        {{ `${author.firstName} ${author.lastName}` }}
      </p>
    </v-row>
    <v-row justify="center">
      <p class="overline font-weight-medium">{{ author.job }}</p>
    </v-row>
    <app-author-social-links :author="author"></app-author-social-links>
  </v-container>
  <v-container v-else>
    <v-row justify="center">
      <v-sheet color="white lighten-4" class="mt-5">
        <v-skeleton-loader class="mx-auto" type="avatar"></v-skeleton-loader>
      </v-sheet>
    </v-row>
    <v-row justify="center" class="mt-3">
      <v-sheet color="grey lighten-4">
        <v-skeleton-loader
          class="mx-auto"
          type="list-item"
          width="250"
        ></v-skeleton-loader>
      </v-sheet>
    </v-row>
    <v-row justify="center">
      <v-sheet color="white lighten-4">
        <v-skeleton-loader
          class="mx-auto"
          type="text"
          width="200"
        ></v-skeleton-loader>
      </v-sheet>
    </v-row>
    <v-row justify="center">
      <v-sheet color="white lighten-4">
        <v-skeleton-loader
          class="mx-auto"
          type="list-item"
          width="500"
        ></v-skeleton-loader>
      </v-sheet>
    </v-row>
  </v-container>
</template>
<script>
import AuthorSocialLinks from './AuthorSocialLinks'

export default {
  props: ['author'],
  components: {
    appAuthorSocialLinks: AuthorSocialLinks,
  },
}
</script>