<template>
  <v-row justify="center">
    <v-col cols="5" md="2" v-for="item in summary" :key="item.title">
      <v-sheet color="white text-center" shaped elevation="4">
        <div class="subtitle-1 font-weight-medium text-uppercase indigo--text">
          {{ item.title }}
        </div>
        <div v-if="item.value">{{ item.value }}</div>
        <v-skeleton-loader
          v-else
          class="mx-auto"
          type="text"
        ></v-skeleton-loader>
      </v-sheet>
    </v-col>
    <v-snackbar v-model="snackbar.status">
      {{ snackbar.message }}
      <v-btn :color="snackbar.type" @click="snackbar.status = false">
        Close
      </v-btn>
    </v-snackbar>
  </v-row>
</template>
<script>
import { authorStatsMixin } from '@/mixins/author-stats-mixin'

export default {
  props: ['uid'],
  mixins: [authorStatsMixin],
  data() {
    return {
      snackbar: {
        status: false,
        message: '',
        type: '',
      },
    }
  },
}
</script>