<template>
  <v-container>
    <app-author-header :author="author"></app-author-header>
    <app-author-stats :uid="uid"></app-author-stats>
    <v-row justify="center">
      <v-col cols="12">
        <v-sheet class="mt-10 px-2">
          <p class="headline font-weight-medium my-2 primary--text">
            About the author
          </p>
          <div class="body-1" v-if="author">{{ author.about }}</div>
          <div class="body-1" v-else>
            <v-sheet color="white lighten-4" class="mt-5">
              <v-skeleton-loader
                class="mx-auto"
                type="paragraph@3"
              ></v-skeleton-loader>
            </v-sheet>
          </div>
        </v-sheet>
      </v-col>
    </v-row>
    <v-row justify="center">
      <v-col cols="12">
        <v-sheet class="my-8 px-2">
          <p class="headline font-weight-medium my-2 primary--text">
            Hobbies and interests
          </p>
          <div class="body-1" v-if="author">
            <ul>
              <li v-for="item in author.interestsSkills" :key="item.id">
                {{ item.description }}
              </li>
            </ul>
          </div>
          <div class="body-1" v-else>
            <v-sheet color="white lighten-4" class="mt-5">
              <v-skeleton-loader
                class="mx-auto"
                type="sentences@3"
              ></v-skeleton-loader>
            </v-sheet>
          </div>
        </v-sheet>
      </v-col>
    </v-row>
    <v-row justify="center">
      <app-author-cards :authorId="uid"></app-author-cards>
    </v-row>
    <v-row>
      <v-snackbar v-model="snackbar.status">
        {{ snackbar.message }}
        <v-btn :color="snackbar.type" @click="snackbar.status = false">
          Close
        </v-btn>
      </v-snackbar>
    </v-row>
  </v-container>
</template>
<script>
import AuthorHeader from './AuthorHeader.vue'
import AuthorCards from './cards/AuthorCards.vue'
import AuthorStats from './AuthorStats'
import axios from 'axios'
import * as endpoints from '@/constants/rest-endpoints'
import * as alerts from '@/utils/alerts-utils'

export default {
  props: {
    uid: {
      type: Number,
      required: true,
    },
  },
  components: {
    appAuthorHeader: AuthorHeader,
    appAuthorCards: AuthorCards,
    appAuthorStats: AuthorStats,
  },
  data() {
    return {
      author: null,
      snackbar: {
        status: false,
        message: '',
        type: '',
      },
    }
  },
  mounted() {
    axios
      .get(endpoints.USER_DESCRIPTION.replace('{uid}', this.uid))
      .then((res) => {
        this.author = res.data
      })
      .catch((err) => {
        this.snackbar = alerts.error(err)
      })
  },
}
</script>