<template>
  <v-list>
    <v-list-item v-for="n in 5" :key="n">
      <v-row dense no-gutters>
        <v-col>
          <v-rating
            :value="ratings[5 - n]"
            background-color="grey"
            color="yellow accent-4"
            dense
            size="18"
            readonly
          ></v-rating>
        </v-col>
        <v-col>
          <p v-if="progress">
            <v-progress-circular
              indeterminate
              color="primary"
              size="16"
              width="2"
            ></v-progress-circular>
          </p>
          <span class="subtitle-1 primary--text font-weight-medium ml-4" v-else
            >{{
              rating.details[labels[5 - n]] ? rating.details[labels[5 - n]] : 0
            }}%</span
          ></v-col
        >
      </v-row>
    </v-list-item>
  </v-list>
</template>
<script>
export default {
  props: ['progress', 'rating'],
  data: () => ({
    ratings: [1, 2, 3, 4, 5],
    labels: ['oneStar', 'twoStars', 'threeStars', 'fourStars', 'fiveStars'],
  }),
}
</script>