<template>
  <v-card class="pa-2" outlined tile :loading="loading">
    <v-card-title>
      <p class="headline">Participants feedback</p>
    </v-card-title>

    <v-card-text v-if="!loading">
      <v-row dense no-gutters>
        <v-col cols="6">
          <v-row dense no-gutters>
            <v-col cols="12">
              <v-row justify="center">
                <p class="display-4 font-weight-medium" v-if="progress">
                  <v-card flat tile v-if="progress">
                    <v-progress-circular
                      indeterminate
                      color="primary"
                    ></v-progress-circular>
                  </v-card>
                </p>
                <p class="display-4 font-weight-medium" v-else>
                  {{ evaluation.rating.score ? evaluation.rating.score : 0 }}
                </p>
              </v-row>
            </v-col>
            <v-col cols="12">
              <v-row justify="center" class="pl-4">out of 5</v-row>
            </v-col>
            <v-col cols="12">
              <v-row justify="center">
                <v-rating
                  :value="evaluation.rating.score"
                  background-color="grey"
                  color="yellow accent-4"
                  dense
                  size="18"
                  readonly
                ></v-rating>
              </v-row>
              <v-divider class="my-2"></v-divider>
              <v-row justify="center">
                <p v-if="progress">
                  <v-progress-circular
                    indeterminate
                    color="primary"
                    size="16"
                    width="2"
                  ></v-progress-circular>
                  ratings
                </p>
                <p v-else>
                  <span class="heading font-weight-black">{{
                    evaluation.reviews ? evaluation.reviews : 0
                  }}</span>
                  ratings
                </p>
              </v-row>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="6">
          <v-row dense no-gutters justify="center">
            <app-training-rating-stars
              :progress="progress"
              :rating="evaluation.rating"
            ></app-training-rating-stars>
          </v-row>
        </v-col>
      </v-row>
    </v-card-text>
    <v-divider></v-divider>
    <app-training-rating-actions
      v-if="canRateTraining && !loading"
      @refresh="refresh"
    ></app-training-rating-actions>
    <v-snackbar v-model="snackbar.status">
      {{ snackbar.message }}
      <v-btn :color="snackbar.type" @click="snackbar.status = false">
        Close
      </v-btn>
    </v-snackbar>
  </v-card>
</template>
<script>
import TrainingRatingStars from './TrainingRatingStars'
import TrainingRatingActions from './TrainingRatingActions'
import axios from 'axios'
import * as alerts from '@/utils/alerts-utils'
import * as endpoints from '@/constants/rest-endpoints'

export default {
  components: {
    appTrainingRatingStars: TrainingRatingStars,
    appTrainingRatingActions: TrainingRatingActions,
  },
  data() {
    return {
      progress: true,
      evaluation: {
        rating: {
          score: null,
          details: {
            oneStar: null,
            twoStars: null,
            threeStars: null,
            fourStars: null,
            fiveStars: null,
          },
        },
        reviews: null,
      },
      snackbar: {
        status: false,
        message: '',
        type: '',
      },
    }
  },
  computed: {
    loading() {
      return this.$store.getters['training/getLoading']
    },
    canRateTraining() {
      const training = this.$store.getters['training/getTraining']
      const uid = this.$store.getters['auth/getUid']
      // if the current user is the author of the training, hide the rate actions panel
      if (training && training.author && uid) return training.author.id !== uid
      return true
    },
  },
  watch: {
    // Well this a little bit complicated but this is the idea : we keep the training card loading until we get the training object from the store
    // that's why we have a loading computed properties which will be set to true and after getting the training it will be false
    // we gonna watch for this changes and if loading pass from false to true we will mount this component by getting the evaluation of the training
    // (training from the store)
    loading: function (newValue, oldValue) {
      if (!newValue && oldValue) {
        this.refresh()
      }
    },
  },
  methods: {
    refresh() {
      const training = this.$store.getters['training/getTraining']
      this.progress = true
      axios
        .get(endpoints.TRAINING_EVALUATION.replace('{id}', training.id))
        .then((res) => {
          this.evaluation = res.data
        })
        .catch((err) => {
          this.snackbar = alerts.error(err)
        })
        .then(() => {
          this.progress = false
        })
    },
  },
}
</script>