<template>
  <v-form v-model="valid">
    <v-container class="text-center">
      <v-row dense>
        <v-col cols="12">{{
          review.id ? 'Your Rating' : 'Would you like to rate this training ?'
        }}</v-col>
      </v-row>
      <v-row dense>
        <v-col cols="12" v-if="!!progress">
          <v-skeleton-loader type="text"></v-skeleton-loader>
        </v-col>
        <v-col cols="12" v-else>
          <v-rating
            v-model="review.stars"
            color="yellow accent-4"
            dense
            hover
            size="24"
            :readonly="!hasWriteTrainingsPerm || isMyTraining()"
          >
          </v-rating>
          {{ review.stars }}
        </v-col>
      </v-row>
      <v-row>
        <v-dialog v-model="dialog" max-width="420">
          <v-card>
            <v-card-title class="headline grey lighten-2">
              Add a feedback ?
            </v-card-title>
            <v-card-text>
              You current rating is
              <span class="primary--text font-weight-bolds">{{
                review.stars
              }}</span>
              <br />Would you like to add your feedback about the training?
            </v-card-text>
            <v-container>
              <v-row dense v-if="showFeedbackForm">
                <v-col cols="12">
                  <v-textarea
                    auto-grow
                    outlined
                    v-model="review.comment"
                    counter
                    maxlength="1000"
                    clearable
                    :rules="[
                      (value) => !!value || 'This field can not be empty',
                      (value) =>
                        (value && value.length >= 25) || 'Min 25 characters',
                    ]"
                  ></v-textarea>
                </v-col>
              </v-row>
              <v-row dense>
                <v-switch
                  v-model="review.isAnonymous"
                  :label="
                    review.isAnonymous
                      ? 'The feedback will be anonymous'
                      : 'The feedback will not be anonymous'
                  "
                ></v-switch>
              </v-row>
            </v-container>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                color="primary"
                text
                @click="saveOrUpdateFeedback"
                v-if="!showFeedbackForm"
              >
                No, Thanks
              </v-btn>
              <v-btn
                color="primary"
                text
                @click="showFeedbackForm = true"
                v-if="!showFeedbackForm"
              >
                Yes
              </v-btn>
              <v-btn
                color="primary"
                text
                @click="saveOrUpdateFeedback"
                v-if="showFeedbackForm"
              >
                Cancel
              </v-btn>
              <v-btn
                color="primary"
                text
                @click="saveOrUpdateFeedback"
                v-if="showFeedbackForm"
                :disabled="!valid"
              >
                {{ review.id ? 'Update' : 'Save' }}
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-row>
      <v-row>
        <v-snackbar v-model="snackbar.status">
          {{ snackbar.message }}
          <v-btn :color="snackbar.type" @click="snackbar.status = false">
            Close
          </v-btn>
        </v-snackbar>
      </v-row>
    </v-container>
  </v-form>
</template>
<script>
import axios from 'axios'
import * as endpoints from '@/constants/rest-endpoints'
import * as alerts from '@/utils/alerts-utils'
import { cloneSimpleObject } from '@/utils/objects-utils'

export default {
  data() {
    return {
      dialog: false,
      valid: false,
      progress: true,
      showFeedbackForm: false,
      review: {
        stars: 0,
        comment: null,
        isAnonymous: true,
        training: {
          id: 0,
        },
      },
      snackbar: {
        status: false,
        message: '',
        type: '',
      },
      training: null,
      uid: null,
      dataLoaded: false, // this parameter will be used one time. After fetching the review in the created lifecycle we will set it to true and not modify it later
    }
  },
  computed: {
    // if the current has the trainings-writer permission we will let him add a new feedback
    hasWriteTrainingsPerm() {
      return this.$store.getters['auth/hasWriteTrainingsPerm']
    },
  },
  mounted() {
    this.training = this.$store.getters['training/getTraining']
    // the training will be present in the store because this component will be loaded by its parent after setting the training
    this.review.training.id = this.training.id
    this.uid = this.$store.getters['auth/getUid']
    axios
      .get(endpoints.REVIEWS_SEARCH, {
        params: {
          page: 0,
          size: 1,
          trainingId: this.training.id,
          uid: this.uid,
        },
      })
      .then((res) => {
        if (res.data && res.data.length) {
          // as the review stars is an enum (api declaration) the backend will map it to a string and not a number so we shoud
          // transform it to a number before assigning it to the review
          const [reviewTmp] = res.data
          reviewTmp.stars = parseInt(reviewTmp.stars)
          this.review = reviewTmp
        }
      })
      .catch((err) => {
        this.snackbar = alerts.error(err)
      })
      .then(() => {
        this.progress = false
        // well after mounting to template and init data the first time a popup will be shown to add a feedback why that ? because of the watcher below
        // and because the review has been changed after the axios call. How to prevent that ? with the dataLoaded.
        // the watcher will be disabled at first (dataLoaded false) and after getting the reponse from the server we will enable the watcher (dataLoaded true)
        this.$nextTick(() => {
          //  with this we skip the first change
          // https://stackoverflow.com/questions/52637936/vuejs-skip-watchers-first-change
          this.dataLoaded = true
        })
      })
  },
  watch: {
    'review.stars'() {
      if (this.dataLoaded) {
        this.dialog = true
      }
    },
  },
  methods: {
    saveOrUpdateFeedback() {
      this.progress = true
      // retransform the the stars to a string
      const reviewTmp = cloneSimpleObject(this.review)
      reviewTmp.stars = '' + reviewTmp.stars
      this.saveOrUpdate(reviewTmp)
        .catch((err) => {
          this.snackbar = alerts.error(err)
        })
        .then(() => {
          this.dialog = false
          this.showFeedbackForm = false
          this.progress = false
        })
    },
    saveOrUpdate(reviewTmp) {
      if (this.review.id) {
        // update a review
        return axios
          .put(
            endpoints.REVIEWS_UPDATE.replace('{id}', this.review.id),
            reviewTmp
          )
          .then((res) => {
            this.snackbar = alerts.info('You feedback was successfully updated')
            // after creating a new review we will tell the parent to refresh the statistcs so the user can see the impact of his feedback
            this.$emit('refresh')
          })
      } else {
        // add new review
        return axios.post(endpoints.REVIEWS, reviewTmp).then((res) => {
          this.snackbar = alerts.info('You feedback was successfully saved')
          this.$emit('refresh')
        })
      }
    },
    isMyTraining() {
      // if this is the training of the current authenticated user
      const training = this.$store.getters['training/getTraining']
      const uid = this.$store.getters['auth/getUid']
      return (
        !!training && !!uid && !!training.author && training.author.id == uid
      )
    },
  },
}
</script>