<template>
  <v-card outlined>
    <v-card-title>{{ title ? title : '' }}</v-card-title>
    <v-textarea
      auto-grow
      outlined
      v-model="clonedContent"
      @keyup="updateParentContent"
      counter
      maxlength="5000"
      clearable
      :rules="[
        (value) => !!value || 'This field can not be empty',
        (value) => (value && value.length >= 25) || 'Min 25 characters',
      ]"
    ></v-textarea>
    <v-card-actions>
      <v-container>
        <v-row dense>
          <v-col cols="6" md="2">
            <v-btn text small @click.stop="showTitle = true">Add Title</v-btn>
          </v-col>
          <v-col cols="6" md="2">
            <v-btn text small @click.stop="showSubTitle = true"
              >Add SubTitle</v-btn
            >
          </v-col>
          <v-col cols="6" md="2" @click.stop="showList = true">
            <v-btn text small>Add List</v-btn>
          </v-col>
          <v-col cols="6" md="2" @click.stop="showTag = true">
            <v-btn text small>Add tag</v-btn>
          </v-col>
          <v-col cols="6" md="2" @click.stop="generate">
            <v-btn text small>Generate</v-btn>
          </v-col>
          <v-spacer></v-spacer>
          <v-col cols="6" md="2" v-show="!!clonedContent">
            <v-btn text small @click.stop="preview = true">Preview</v-btn>
          </v-col>
        </v-row>
      </v-container>
    </v-card-actions>
    <app-mark-add-title-dialog
      :dialog="showTitle"
      @update="addTitle"
      @disabled="showTitle = false"
    ></app-mark-add-title-dialog>
    <app-mark-add-title-dialog
      message="Add Subtitle"
      :dialog="showSubTitle"
      @update="addSubTitle"
      @disabled="showSubTitle = false"
    ></app-mark-add-title-dialog>
    <app-mark-add-list-dialog
      :dialog="showList"
      @update="addList"
      @disabled="showList = false"
      :key="listComponentKey"
    ></app-mark-add-list-dialog>
    <app-mark-add-title-dialog
      message="Add Tag"
      :dialog="showTag"
      @update="addTag"
      @disabled="showTag = false"
    ></app-mark-add-title-dialog>
    <app-mark-preview-dialog
      v-if="!!clonedContent"
      :dialog="preview"
      :text="clonedContent"
      @disabled="preview = false"
    ></app-mark-preview-dialog>
  </v-card>
</template>
<script>
import MarkAddTitleDialog from './MarkAddTitleDialog.vue'
import MarkAddListDialog from './MarkAddListDialog.vue'
import MarkPreviewDialog from './MarkPreviewDialog.vue'

export default {
  props: {
    title: {
      required: false,
      type: String,
    },
    content: {
      required: false,
      type: String,
    },
  },
  components: {
    appMarkAddTitleDialog: MarkAddTitleDialog,
    appMarkAddListDialog: MarkAddListDialog,
    appMarkPreviewDialog: MarkPreviewDialog, // this component will be loaded only if the content is not null
  },
  data: () => ({
    showTitle: false,
    showSubTitle: false,
    showList: false,
    showTag: false,
    preview: false,
    listComponentKey: 0,
    // to avoid mutating the content we have to clone the content
    clonedContent: null,
    // as MarkAddListDialog has its own state it will be defficult to change that state each time the user wants to create a new list
    // to solve the issue we will force to recreate the component using the key technic ; https://michaelnthiessen.com/force-re-render/
  }),
  created() {
    if (this.content) {
      this.clonedContent = this.content // clone the content
    } else {
      this.clonedContent = '# Training title here'
    }
  },
  methods: {
    addTitle(title) {
      this.showTitle = false
      this.clonedContent += `\n# ${title}`
      this.updateParentContent()
    },
    addSubTitle(title) {
      this.showSubTitle = false
      this.clonedContent += `\n## ${title}`
      this.updateParentContent()
    },
    addTag(tagName) {
      this.showTag = false
      this.clonedContent += '`' + `${tagName}` + '`'
      this.updateParentContent()
    },
    addList(list) {
      this.showList = false
      this.forceRerender()
      this.clonedContent += `\n${list}`
      this.updateParentContent()
    },
    updateParentContent() {
      // push the changes to the parent after the content modification
      this.$emit('update:content', this.clonedContent)
    },
    generate() {
      this.clonedContent = `# Training title
present your training here

## Introduction
### Prerequisites
What things you need to install the software and how to install them
* [Maven](https://maven.apache.org/) - Dependency Management
  * Nested Item
* [ROME](https://rometools.github.io/rome/) - Used to generate RSS Feeds
  * Another Nested Item

### Installing
1. First step. For some styling, use *This text will be italic* or **This text will be bold**
2. Second step
  1. Indented item
  2. Indented item
3. Third step

Table of librairies to download for your os :

First Header  |  Second Header |   Third Header
--------------|-------------------------------------------
cell 1        |  cell 2        |  cell 3
cell 4        |  cell 5        |  cell 6

## Architecture
The framework architecture
        `
      this.updateParentContent()
    },
    forceRerender() {
      this.listComponentKey += 1
    },
  },
}
</script>