<template>
  <v-dialog v-model="dialog">
    <v-card>
      <v-card-title class="headline">{{ message }}</v-card-title>

      <v-card-text>
        <v-text-field
          label="Content"
          prepend-icon="title"
          v-model="title"
          outlined
        ></v-text-field>
      </v-card-text>

      <v-card-actions>
        <v-spacer></v-spacer>

        <v-btn color="primary darken-1" text @click="disableDiablog"
          >Cancel</v-btn
        >

        <v-btn color="primary darken-1" text @click="updateTitle">Apply</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script>
export default {
  props: {
    dialog: {
      required: true,
      type: Boolean,
    },
    message: {
      required: false,
      type: String,
      default: 'Add Title',
    },
  },
  data() {
    return {
      title: '',
    }
  },
  methods: {
    disableDiablog() {
      this.$emit('disabled')
    },
    updateTitle() {
      this.$emit('update', this.title)
      this.title = ''
    },
  },
}
</script>