<template>
  <v-dialog v-model="dialog" scrollable>
    <v-card outlined>
      <v-card-text class="black--text mt-8">
        <div v-html="compiledMarkdown"></div>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary darken-1" text @click="disableDialog"
          >Close</v-btn
        >
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script>
export default {
  props: {
    text: {
      type: String,
      default: '',
    },
    dialog: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    compiledMarkdown: function () {
      if (this.text) return marked(this.text, { sanitize: true })
    },
  },
  methods: {
    disableDialog() {
      this.$emit('disabled')
    },
  },
}
</script>