<template>
  <v-dialog v-model="dialog">
    <v-card>
      <v-card-title class="headline">Add List</v-card-title>

      <v-card-text>
        <app-dynamic-text-field
          @saved="addList"
          @modificationEnabled="changed = true"
          @added="changed = true"
          @deleted="changed = true"
          label="Add a new item"
        ></app-dynamic-text-field>
      </v-card-text>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-switch
          v-model="ordered"
          :label="ordered ? 'ordered' : 'unordered'"
        ></v-switch>
        <v-spacer></v-spacer>
        <v-btn color="primary darken-1" text @click="disableDiablog"
          >Cancel</v-btn
        >
        <v-btn
          color="primary darken-1"
          text
          @click="saveList"
          :disabled="listItems.length < 1 || !!changed"
          >Apply</v-btn
        >
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script>
import DynamicTextField from '@/components/ui/inputs/DynamicTextField.vue'
export default {
  props: {
    dialog: {
      required: true,
      type: Boolean,
    },
  },
  components: {
    appDynamicTextField: DynamicTextField,
  },
  data: () => ({
    listItems: [],
    ordered: true,
    changed: false,
    // this boolean will follow the changes of the list, each time the user click on save it'll be true. if he clicks on + or delete it'll be false
  }),
  methods: {
    disableDiablog() {
      this.$emit('disabled')
    },
    saveList() {
      let text = ''
      if (this.ordered)
        this.listItems.forEach((e, i) => {
          text += `${i + 1}. ${e} \n`
        })
      else
        this.listItems.forEach((e, i) => {
          text += `* ${e} \n`
        })
      this.$emit('update', text)
    },
    addList(list) {
      this.listItems = list
        .map((item) => {
          if (item && item.description && item.description.trim().length > 0)
            return item.description
          else return ''
        })
        .filter((item) => item.length > 0)
      this.changed = false
    },
  },
}
</script>