<template>
  <v-card outlined>
    <v-card-title>{{ title ? title : '' }}</v-card-title>
    <v-container>
      <v-row dense v-for="(n, index) in clonedItems.length" :key="index">
        <v-col cols="10">
          <v-text-field
            v-model="clonedItems[index].description"
            dense
            outlined
            :disabled="readOnly"
            :label="label"
          />
        </v-col>
        <v-col cols="2">
          <v-btn
            fab
            color="red darken-1"
            outlined
            small
            @click="deleteItem(index)"
            :disabled="readOnly"
          >
            <v-icon>mdi-delete</v-icon>
          </v-btn>
        </v-col>
      </v-row>
    </v-container>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn
        fab
        color="green darken-2 white--text"
        small
        elevation="0"
        v-show="!readOnly"
        @click="saveItems"
      >
        <v-icon>done</v-icon>
      </v-btn>
      <v-btn
        fab
        color="primary"
        small
        elevation="0"
        v-show="readOnly"
        @click="enableItemsModification"
      >
        <v-icon>edit</v-icon>
      </v-btn>
      <v-btn
        fab
        color="primary"
        small
        elevation="0"
        :disabled="disableAddButton"
        @click="addItem"
      >
        <v-icon>mdi-plus</v-icon>
      </v-btn>
    </v-card-actions>
  </v-card>
</template>
<script>
import { cloneSimpleObject } from '@/utils/objects-utils'
export default {
  props: {
    // pass the items if you want to fill the requirements with data from parent otherwise if this is a new training don't pass anything
    items: {
      required: false,
      type: Array,
    },
    label: {
      required: false,
      type: String,
    },
    title: {
      required: false,
      type: String,
    },
  },
  data: () => ({
    clonedItems: null,
    readOnly: false, // the component is readonly
  }),
  computed: {
    disableAddButton() {
      if (this.readOnly) return true
      // if last added element is empty , disable the button
      if (
        this.clonedItems.length > 0 &&
        this.clonedItems[this.clonedItems.length - 1].description.trim() == ''
      )
        return true
      return false
    },
  },
  created() {
    if (this.items) {
      this.clonedItems = cloneSimpleObject(this.items)
      this.readOnly = true
    }
    if (this.clonedItems === null) {
      this.clonedItems = []
    }
  },
  methods: {
    addItem() {
      let obj = {
        id: -1,
        description: '',
      }
      this.clonedItems.push(obj)
      this.$emit('added', obj)
    },
    deleteItem(index) {
      let obj = this.clonedItems.splice(index, 1)
      this.$emit('deleted', obj)
    },
    saveItems() {
      // the user clicks on the save button and we have to send the items to the parent
      this.readOnly = true
      this.$emit('saved', this.clonedItems)
    },
    enableItemsModification() {
      // the user clicks on the modify button and we have to notify the parent so he can change the its status
      this.readOnly = false
      this.$emit('modificationEnabled')
    },
  },
}
</script>