<template>
  <v-text-field
    :label="label"
    outlined
    :append-icon="clonedShowPublic ? 'public' : 'public_off'"
    @click:append="changeScope"
    v-model="clonedInput"
    @keyup="$emit('update', clonedInput)"
    :error-messages="errorMessage"
    :error="!!errorMessage"
    @input="validate"
    @blur="validate"
  ></v-text-field>
</template>
<script>
import * as stringUtils from '@/utils/string-utils'

export default {
  // this component will be used to make a data shared or private with other users of the app . It is used in the profile component for example
  props: ['input', 'showPublic', 'label', 'type'],
  data() {
    return {
      clonedInput: '',
      clonedShowPublic: false,
      errorMessage: null,
    }
  },
  watch: {
    // This would be called anytime the value of showPublic changes in the parent
    // https://stackoverflow.com/questions/46425633/how-to-send-updated-values-from-parent-component-to-child-component-in-vue-js
    showPublic(newValue, oldValue) {
      this.clonedShowPublic = this.showPublic ? this.showPublic : false
    },
  },
  mounted() {
    this.clonedInput = this.input ? this.input : ''
    this.clonedShowPublic = this.showPublic ? this.showPublic : false
  },
  methods: {
    changeScope() {
      this.clonedShowPublic = !this.clonedShowPublic
      this.$emit('share', this.clonedShowPublic)
    },
    validate() {
      // well, we will do the validation manually in this component because it is a littre bit complicated. This text field can be empty but if the user
      // introduced a type we will use a rule depends on the type
      const test = (type, value) => {
        if (value.length === 0) return null
        if (type === 'link' && !stringUtils.isValidLink(value))
          return 'A link must starts with http'
        if (type === 'email' && !stringUtils.isValidEmail(value))
          return 'Invalid e-mail'
        if (type === 'phone' && !stringUtils.isValidFrenchPhoneNumber(value))
          return 'Invalid french phone number'
        return null
      }

      this.errorMessage = test(this.type, this.clonedInput)
    },
  },
}
</script>