<template>
  <v-combobox
    v-model="clonedTags"
    :items="items"
    :search-input.sync="search"
    hide-selected
    hint="Maximum of 5 tags"
    :label="label ? label : 'Add some tags'"
    multiple
    persistent-hint
    small-chips
    outlined
    :loading="loading"
    item-text="value"
    @change="onChange"
    @keyup="onKeyUp"
  >
    <template v-slot:no-data>
      <v-list-item>
        <v-list-item-content>
          <v-list-item-title>
            No results matching "<strong>{{ search }}</strong
            >". <br />
            Press <kbd>enter</kbd> to create a new one
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </template>
  </v-combobox>
</template>
<script>
import axios from 'axios'
import * as restEndpoints from '@/constants/rest-endpoints'
import { cloneSimpleObject } from '@/utils/objects-utils'

export default {
  props: {
    label: {
      required: false,
      type: String,
    },
    tags: {
      required: false,
      type: Array,
    },
  },
  data: () => ({
    loading: false,
    items: [],
    clonedTags: [],
    search: null,
  }),
  created() {
    this.loading = true
    axios
      .get(restEndpoints.TAGS, {
        params: {
          page: 0,
          size: 5,
        },
      })
      .then((response) => {
        this.items = response.data
      })
      .catch((error) => {
        this.$emit('error', error)
      })
      .then(() => {
        // always executed
        this.loading = false
        // if the tags are present we gonna make a copy of them to avoid mutating the tags prop
        if (this.tags) {
          this.clonedTags = cloneSimpleObject(this.tags)
        }
      })
  },
  watch: {
    clonedTags(val) {
      if (val.length > 5) {
        // It the number of tags exceed 5 we will remove the last one
        this.$nextTick(() => this.clonedTags.pop())
      }
    },
  },
  methods: {
    onChange() {
      // If the user choose a tag from the list, it'll be an object because it was retrieved from the api
      // If the user creates a new tag, it'll be a simple string. We will transform it to an object so we can send it back to the api
      const arr = this.clonedTags.map((item) => {
        if (!(item instanceof Object))
          return {
            id: -1,
            value: item,
          }
        return item
      })
      this.$emit('update:tags', arr)
    },
    // each time the user starts to write a tag we will try to fetch it from the api
    onKeyUp() {
      this.loading = true
      axios
        .get(restEndpoints.TAGS, {
          params: {
            page: 0,
            size: 5,
            startOfTag: this.search,
          },
        })
        .then((response) => {
          this.items = response.data
        })
        .catch((error) => {
          this.$emit('error', error)
        })
        .then(() => {
          // always executed
          this.loading = false
        })
    },
  },
}
</script>