<template>
  <app-training-progress v-if="progress"></app-training-progress>
  <v-container v-else>
    <v-col cols="12">
      <p class="headline font-weight-medium my-2 primary--text">Trainings</p>
    </v-col>
    <v-data-iterator
      :items="trainings"
      :items-per-page.sync="itemsPerPage"
      :page="page"
      hide-default-footer
    >
      <template v-slot:default="props">
        <v-row v-for="item in props.items" :key="item.id" cols="12">
          <app-author-card :training="item"></app-author-card>
        </v-row>
      </template>
      <template v-slot:footer>
        <v-row class="mt-2">
          <v-col cols="12">
            <v-pagination
              class="text-center"
              v-model="page"
              :length="numberOfPages"
            ></v-pagination>
          </v-col>
        </v-row>
      </template>
    </v-data-iterator>
    <v-snackbar v-model="snackbar.status">
      {{ snackbar.message }}
      <v-btn :color="snackbar.type" @click="snackbar.status = false">
        Close
      </v-btn>
    </v-snackbar>
  </v-container>
</template>
<script>
import AuthorCard from './AuthorCard.vue'
import TrainingProgress from '@/components/ui/progress/TrainingProgress.vue'
import axios from 'axios'
import * as endpoints from '@/constants/rest-endpoints'
import * as alerts from '@/utils/alerts-utils'

export default {
  props: ['authorId'],
  components: {
    appAuthorCard: AuthorCard,
    appTrainingProgress: TrainingProgress,
  },
  data: () => ({
    progress: false,
    page: 1,
    trainingsCount: 0,
    trainings: [],
    snackbar: {
      status: false,
      message: '',
      type: '',
    },
    itemsPerPage: 4,
  }),
  computed: {
    numberOfPages() {
      return Math.ceil(this.trainingsCount / 4)
    },
  },
  mounted() {
    this.progress = true
    axios
      .all([
        axios.get(
          endpoints.USER_GIVEN_TRAININGS.replace('{uid}', this.authorId)
        ),
        axios.get(endpoints.USER_EVALUATION.replace('{uid}', this.authorId)),
      ])
      .then(
        axios.spread((trainings, evaluation) => {
          this.trainings = trainings.data
          this.trainingsCount = evaluation.data.trainings
        })
      )
      .catch((err) => {
        this.snackbar = alerts.error(err)
      })
      .then(() => (this.progress = false))
  },
}
</script>