<template>
  <v-row
    dense
    :class="{ 'grey lighten-3': isHovering }"
    :style="{ cursor: isHovering ? 'pointer' : '' }"
    @mouseover="isHovering = true"
    @mouseout="isHovering = false"
    @click="goToTraining"
  >
    <v-col cols="12">
      <v-row dense>
        <v-col cols="10">
          <span class="subtitle-1 font-weight-medium">{{ training.name }}</span>
          <span class="caption">, {{ training.startingDate | date }}</span>
        </v-col>
      </v-row>
    </v-col>
    <v-col cols="4" class="mr-4">
      <v-row justify="center">
        <v-card elevation="0">
          <v-img
            alt="Training logo"
            height="100"
            width="250"
            :src="training.image"
            v-if="training.image && training.image.length > 1"
          />
          <v-img
            alt="Education logo"
            height="100"
            width="250"
            src="@/assets/education.png"
            v-else
          />
        </v-card>
      </v-row>
      <v-row justify="center">
        <span class="caption">{{ training.duration }} days</span>
      </v-row>
    </v-col>
    <v-col>
      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-avatar
            size="35"
            class="mr-4"
            color="indigo"
            v-bind="attrs"
            v-on="on"
          >
            <v-icon dark> fa-users </v-icon>
          </v-avatar>
        </template>
        <span>participants</span>
      </v-tooltip>
      <app-tiny-circular-progress v-if="progress"></app-tiny-circular-progress>
      <span class="caption black--text" v-else>{{ participants }}</span>
    </v-col>
    <v-col>
      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-avatar
            size="35"
            class="mr-4"
            color="indigo"
            v-bind="attrs"
            v-on="on"
          >
            <v-icon dark> fa-comments </v-icon>
          </v-avatar>
        </template>
        <span>feedbacks</span>
      </v-tooltip>
      <app-tiny-circular-progress v-if="progress"></app-tiny-circular-progress>
      <span class="caption" v-else>{{ reviews }}</span>
    </v-col>
    <v-col>
      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-avatar
            size="35"
            class="mr-4"
            color="indigo"
            v-bind="attrs"
            v-on="on"
          >
            <v-icon dark> fa-star </v-icon>
          </v-avatar>
        </template>
        <span>rating</span>
      </v-tooltip>
      <app-tiny-circular-progress v-if="progress"></app-tiny-circular-progress>
      <span class="caption" v-else>{{ rating ? rating : '0' }}</span>
    </v-col>
    <v-col>
      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-chip
            :color="pickColor()"
            text-color="white"
            v-bind="attrs"
            v-on="on"
          >
            {{ training.level }}
          </v-chip>
        </template>
        <span>level</span>
      </v-tooltip>
    </v-col>
    <v-col>
      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <span
            class="headline mx-1 font-weight-medium indigo--text"
            v-bind="attrs"
            v-on="on"
            >{{ training.price }}</span
          >
        </template>
        <span>price</span>
      </v-tooltip>
      <v-icon small class="pb-1">fas fa-dollar-sign</v-icon>
    </v-col>
    <v-col cols="12">
      <v-divider></v-divider>
    </v-col>
    <v-snackbar v-model="snackbar.status">
      {{ snackbar.message }}
      <v-btn :color="snackbar.type" @click="snackbar.status = false">
        Close
      </v-btn>
    </v-snackbar>
  </v-row>
</template>
<script>
import TinyCircularProgress from '@/components/ui/progress/TinyCircularProgress'
import axios from 'axios'
import * as endpoints from '@/constants/rest-endpoints'
import * as alerts from '@/utils/alerts-utils'
import * as routesNames from '@/constants/routes-names'
import * as stringUtils from '@/utils/string-utils'

export default {
  props: {
    training: {
      type: Object,
      required: true,
    },
  },
  components: {
    appTinyCircularProgress: TinyCircularProgress,
  },
  data: () => ({
    isHovering: false,
    participants: null,
    reviews: null,
    rating: null,
    progress: true,
    snackbar: {
      status: false,
      message: '',
      type: '',
    },
  }),
  mounted() {
    axios
      .all([
        axios.get(
          endpoints.TRAINING_COUNT_PARTICIPANTS.replace(
            '{id}',
            this.training.id
          )
        ),
        axios.get(
          endpoints.TRAINING_COUNT_REVIEWS.replace('{id}', this.training.id)
        ),
        axios.get(
          endpoints.TRAINING_EVALUATION.replace('{id}', this.training.id)
        ),
      ])
      .then(
        axios.spread((participants, reviews, evaluation) => {
          this.participants = participants.data
          this.reviews = reviews.data
          this.rating = evaluation.data.rating.score
        })
      )
      .catch((err) => {
        this.snackbar = alerts.error(err)
      })
      .then(() => (this.progress = false))
  },
  methods: {
    goToTraining() {
      this.$router.push({
        name: routesNames.TRAINING_PAGE,
        params: {
          id: this.training.id,
        },
      })
    },
    pickColor() {
      return stringUtils.pickColor(this.training.level)
    },
  },
}
</script>