<template>
  <v-navigation-drawer v-model="drawer" temporary absolute>
    <v-list-item>
      <v-list-item-avatar>
        <v-img
          v-if="userPhoto && userPhoto.length > 1"
          :src="userPhoto"
        ></v-img>
        <v-img
          v-else
          src="https://cdn.vuetifyjs.com/images/lists/1.jpg"
        ></v-img>
      </v-list-item-avatar>
      <v-list-item-content>
        <v-list-item-title>{{ userName }}</v-list-item-title>
      </v-list-item-content>
    </v-list-item>
    <v-divider></v-divider>
    <v-list dense>
      <template v-for="item in menuItems">
        <app-list-group
          v-if="item.items"
          :item="item"
          :key="item.title"
          v-show="item.show"
        ></app-list-group>
        <app-list-item
          v-else
          :item="item"
          :key="item.title"
          v-show="item.show"
        ></app-list-item>
      </template>
    </v-list>
  </v-navigation-drawer>
</template>
<script>
import { eventBus } from '@/main'
import ListGroup from '@/components/ui/lists/ListGroup.vue'
import ListItem from '@/components/ui/lists/ListItem.vue'
import * as routesNames from '@/constants/routes-names'

export default {
  components: {
    appListGroup: ListGroup,
    appListItem: ListItem,
  },
  data: () => ({
    drawer: false,
    menuItems: [
      {
        title: 'Home',
        icon: 'dashboard',
        to: { name: routesNames.HOME_PAGE },
        show: true,
      },
      {
        title: 'My Trainings',
        icon: 'build',
        to: { name: routesNames.MANAGE_TRAINING_PAGE },
        show: true,
      },
      {
        title: 'Admin Panel',
        icon: 'admin_panel_settings',
        show: true,
        items: [
          {
            title: 'Users Management',
            icon: 'fa-users-cog',
            to: { name: routesNames.ADMIN_USERS_PAGE },
          },
          {
            title: 'New Requests',
            icon: 'fa-user-plus',
            to: { name: routesNames.ADMIN_REQUESTS_PAGE },
          },
          {
            title: 'Teams Management',
            icon: 'fa-users',
            to: { name: routesNames.ADMIN_TEAMS_PAGE },
          },
        ],
      },
      {
        title: 'About',
        icon: 'question_answer',
        to: { name: routesNames.ABOUT_PAGE },
        show: true,
      },
    ],
  }),
  computed: {
    // https://stackoverflow.com/questions/43270159/vue-js-2-how-to-watch-store-values-from-vuex
    isAdmin() {
      return this.$store.getters['auth/isAdmin']
    },
    canReadTrainings() {
      return this.$store.getters['auth/canReadTrainings']
    },
    canManageTrainings() {
      return this.$store.getters['auth/canManageTrainings']
    },
    userName() {
      return this.$store.getters['auth/getUserName']
    },
    userPhoto() {
      return this.$store.getters['auth/getUserPhoto']
    },
  },
  mounted() {
    // when the component gets created we will register it to listen to the event bus
    eventBus.$on('drawerWasChanged', (data) => {
      // the second argument is a function to get executed each time we receive the event
      // data is the data trasmited in the event
      this.drawer = data
    })
  },
  watch: {
    isAdmin(newValue) {
      // add some attributes to the menu items to order the show/hide of the menu. Admin panel for example cannot be shown to simple users
      this.menuItems[2].show = newValue
    },
    canManageTrainings(newValue) {
      this.menuItems[1].show = newValue
    },
    canReadTrainings(newValue) {
      // check read-trainings permission to show the home
      this.menuItems[0].show = newValue
    },
  },
}
</script>
