<template>
  <v-card color="grey lighten-4" flat tile>
    <v-app-bar dense color="white accent-4">
      <v-app-bar-nav-icon @click="toogleDrawer"></v-app-bar-nav-icon>
      <div class="shrink mt-1 hidden-sm-and-down">
        <span class="black white--text font-weight-black headline">CO-</span>
        <span class="primary white--text font-weight-black headline"
          >TRAINING</span
        >
      </div>
      <div class="shrink mt-1 hidden-md-and-up">
        <span class="black white--text font-weight-black headline">CO-</span>
        <span class="primary white--text font-weight-black headline">TRA</span>
      </div>
      <v-spacer></v-spacer>
      <template v-if="hasReadUsersPerm">
        <p
          class="font-weight-medium my-2 px-2 py-1"
          :class="{ 'grey lighten-3': isHovering }"
          :style="{ cursor: isHovering ? 'pointer' : '' }"
          @mouseover="isHovering = true"
          @mouseout="isHovering = false"
          @click="goToResources()"
        >
          {{ userResource.budget }} $ | {{ userResource.nbDays }} D
        </p>
      </template>
      <v-tooltip bottom v-if="hasReadUsersPerm">
        <template v-slot:activator="{ on }">
          <v-btn color="primary" dark v-on="on" icon :to="whishlistPathName">
            <v-badge
              color="grey darken-3"
              offset-y="10"
              :content="whichlistCount"
              v-if="whichlistCount"
            >
              <v-icon>favorite</v-icon>
            </v-badge>
            <v-icon v-else>favorite</v-icon>
          </v-btn>
        </template>
        <span>Whishlist</span>
      </v-tooltip>
      <v-menu offset-y>
        <template v-slot:activator="{ on }">
          <v-btn color="primary" dark v-on="on" icon>
            <v-icon>person</v-icon>
          </v-btn>
        </template>
        <v-list>
          <v-list-item
            v-for="(item, index) in profileItems"
            :key="item.title"
            link
            :to="item.to"
            v-show="index == 2 || hasWriteUsersPerm"
          >
            <v-list-item-icon>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title>{{ item.title }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-menu>
    </v-app-bar>
  </v-card>
</template>

<script>
import { eventBus } from '@/main'
import * as routesNames from '@/constants/routes-names'

export default {
  data() {
    return {
      whishlistPathName: { name: routesNames.WHISH_LIST_PAGE },
      profileItems: [
        {
          title: 'Profile',
          icon: 'account_circle',
          to: { name: routesNames.PROFILE_PAGE },
        },
        {
          title: 'Settings',
          icon: 'settings',
          to: { name: routesNames.SETTINGS_PAGE },
        },
        {
          title: 'Logout',
          icon: 'exit_to_app',
          to: { name: routesNames.LOG_OUT_ROUTE },
        },
      ],
      isHovering: false,
    }
  },
  computed: {
    whichlistCount() {
      return this.$store.getters['toolbar/getWhishlist']
    },
    userResource() {
      return this.$store.getters['toolbar/getResource']
    },
    // if the users has the users-writer permission we can show the profile and the settings so he can modify his data
    hasWriteUsersPerm() {
      return this.$store.getters['auth/hasWriteUsersPerm']
    },
    // if the user has the users-reader permission we can show him his resources and his trianings whishlist
    hasReadUsersPerm() {
      return this.$store.getters['auth/hasReadUsersPerm']
    },
  },
  created() {
    /*
    const vm = this
    // https://stackoverflow.com/questions/46096261/how-can-i-watch-synchronously-a-state-change-in-vuex
    this.$store.watch(
      (state) => {
        return vm.$store.getters['auth/hasWriteUsersPerm']
      },
      (newValue) => {
        const settingsObj = Object.assign({}, vm.profileItems[1], {
          show: newValue,
        })
        // https://vuejs.org/v2/guide/reactivity.html#For-Arrays
        vm.$set(vm.profileItems, 1, settingsObj)
      },
      {
        deep: true,
      }
    )
    TODO : i tried to add a watcher but that does not work and the reason is not clear
    */
  },
  methods: {
    toogleDrawer() {
      eventBus.toggleDrawer(true)
    },
    goToResources() {
      this.$router.push({
        name: routesNames.RESOURCES_PAGE,
      })
    },
  },
}
</script>
