<template>
  <v-container>
    <v-row no-gutters>
      <v-col cols="3" md="1">
        <v-avatar size="50">
          <v-img src="https://cdn.vuetifyjs.com/images/lists/1.jpg"></v-img>
        </v-avatar>
      </v-col>
      <v-col cols="9" md="11">
        <v-row dense>
          <p class="ml-2 font-weight-bold subtitle-2">
            {{ getReviewAuthorName() }}
          </p>
          <p>, {{ review.date }}</p>
        </v-row>
        <v-row dense>
          <v-rating
            :value="parseInt(review.stars)"
            background-color="grey"
            color="yellow accent-4"
            dense
            empty-icon
            size="18"
            readonly
          ></v-rating>
        </v-row>
      </v-col>
    </v-row>
    <v-row no-gutters>
      <v-col cols="12">
        <p class="body-2 font-weight-regular black--text">
          {{ review.comment }}
        </p>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
export default {
  props: ['review'],
  methods: {
    getReviewAuthorName() {
      if (this.review.author && !this.review.isAnonymous) {
        return `${this.review.author.firstName} ${this.review.author.lastName}`
      }
      return 'anonymous review'
    },
  },
}
</script>