<template>
  <v-card outlined tile :loading="progress">
    <v-card-title>
      <p class="headline">Reviews</p>
    </v-card-title>
    <v-card-text>
      <app-training-review
        v-for="(review, index) in reviews"
        :key="index"
        :review="review"
      ></app-training-review>
    </v-card-text>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn text @click="nextPage">Show more</v-btn>
    </v-card-actions>
    <v-snackbar v-model="snackbar.status">
      {{ snackbar.message }}
      <v-btn :color="snackbar.type" @click="snackbar.status = false">
        Close
      </v-btn>
    </v-snackbar>
  </v-card>
</template>
<script>
import TrainingReview from './TrainingReview.vue'
import axios from 'axios'
import * as alerts from '@/utils/alerts-utils'
import * as endpoints from '@/constants/rest-endpoints'

export default {
  components: {
    appTrainingReview: TrainingReview,
  },
  data() {
    return {
      page: 0,
      size: 5,
      reviews: [],
      progress: false,
      snackbar: {
        status: false,
        message: '',
        type: '',
      },
    }
  },
  created() {
    this.getReviews()
  },
  methods: {
    nextPage() {
      this.page += 1
      this.getReviews()
    },
    getReviews() {
      this.progress = true
      const training = this.$store.getters['training/getTraining']
      axios
        .get(endpoints.REVIEWS_SEARCH, {
          params: {
            page: this.page,
            size: this.size,
            trainingId: training.id,
          },
        })
        .then((res) => {
          this.reviews = this.reviews.concat(res.data)
        })
        .catch((err) => {
          this.snackbar = alerts.error(err)
        })
        .then(() => {
          this.progress = false
        })
    },
  },
}
</script>
    