<template>
  <div>
    <v-select
      :items="teams"
      label="Team"
      v-model="clonedTeam"
      :rules="[
        () =>
          (clonedTeam.name && clonedTeam.name.length > 0) ||
          'Team name is required',
      ]"
      ref="picker"
      item-text="name"
      persistent-hint
      return-object
      single-line
      :outlined="outlined"
      :hint="`${clonedTeam.name} team`"
      :loading="progress"
      :disabled="progress"
      @change="$emit('update:team', clonedTeam)"
      :dense="dense"
    ></v-select>
    <v-snackbar v-model="snackbar.status">
      {{ snackbar.message }}
      <v-btn color="error" @click="snackbar.status = false"> Close </v-btn>
    </v-snackbar>
  </div>
</template>
<script>
import axios from 'axios'
import * as restEndpoints from '@/constants/rest-endpoints'

export default {
  props: {
    team: {
      type: Object,
      required: true,
    },
    outlined: {
      type: Boolean,
      required: false,
      default: false,
    },
    dense: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
  data() {
    return {
      snackbar: {
        status: false,
        message: '',
      },
      teams: [],
      progress: true,
      clonedTeam: {},
    }
  },
  mounted() {
    this.clonedTeam = this.team
    // fetch the data when the view is created and the data is
    // already being observed
    this.fetchTeams()
  },
  methods: {
    fetchTeams() {
      axios
        .get(restEndpoints.TEAMS)
        .then((response) => {
          this.teams = response.data
        })
        .catch((err) => {
          this.snackbar = alerts.error(err)
        })
        .then(() => {
          this.progress = false
        })
    },
  },
}
</script>