<template>
  <v-container>
    <v-breadcrumbs :items="links">
      <template v-slot:item="{ item }">
        <v-breadcrumbs-item :to="item.to" :disabled="item.disabled" exact>
          {{ item.text.toUpperCase() }}
        </v-breadcrumbs-item>
      </template>
    </v-breadcrumbs>

    <v-row class="text-center">
      <v-col cols="12">
        <div class="shrink mt-1 hidden-sm-and-down">
          <span class="display-2 black white--text font-weight-black">CO-</span>
          <span class="display-2 primary white--text font-weight-black"
            >TRAINING</span
          >
        </div>
      </v-col>

      <v-col class="mb-4">
        <span class="display-2 font-weight-bold mb-3">Welcome</span>
      </v-col>

      <v-col class="mb-5" cols="12">
        <p>
          The company training project is a tool that i've created to ensure the
          development of technical skills of employees within a company.
          <br />
          Each employee will have a budget each year which can be spent on
          trainings. Employees will also be able to earn money by giving
          trainings.
          <br />
          This tool will help employees to organize trainings. An employee can
          plan a training, define its price and receive feedbacks from other
          employees. The tool offers the possibility to an administrator to
          create user accounts, add a budget to each account, add teams ...
          <br />
          this tool allows for the sustainable development of employees skills
          and encourages them to participate and give trainings.
        </p>
      </v-col>

      <v-col class="mb-5" cols="12">
        <h2 class="headline font-weight-bold mb-3">Important Links</h2>

        <v-row justify="center">
          <a
            v-for="(link, i) in importantLinks"
            :key="i"
            :href="link.href"
            class="subheading mx-3"
            target="_blank"
            >{{ link.text }}</a
          >
        </v-row>
      </v-col>

      <v-col class="mb-5" cols="12">
        <h2 class="headline font-weight-bold mb-3">Ecosystem</h2>

        <v-row justify="center">
          <a
            v-for="(eco, i) in ecosystem"
            :key="i"
            :href="eco.href"
            class="subheading mx-3"
            target="_blank"
            >{{ eco.text }}</a
          >
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import * as routesNames from '@/constants/routes-names'

export default {
  data: () => ({
    links: [
      {
        text: 'Home',
        disabled: false,
        to: { name: routesNames.HOME_PAGE },
      },
      {
        text: 'About',
        disabled: true,
        to: { name: routesNames.ABOUT_PAGE },
      },
    ],

    ecosystem: [
      {
        text: 'Git',
        href: 'https://git-scm.com/',
      },
      {
        text: 'Vue.js',
        href: 'https://vuejs.org/',
      },
      {
        text: 'Vuex',
        href: 'https://vuex.vuejs.org/',
      },
      {
        text: 'Vue Router',
        href: 'https://router.vuejs.org/',
      },
      {
        text: 'Axios',
        href: 'https://github.com/axios/axios',
      },
      {
        text: 'Moment.js',
        href: 'https://momentjs.com/',
      },
      {
        text: 'JavaScript',
        href: 'https://developer.mozilla.org/en-US/docs/Web/JavaScript',
      },
      {
        text: 'Visual Studio Code',
        href: 'https://code.visualstudio.com/',
      },
      {
        text: 'Apicurio Studio',
        href: 'https://www.apicur.io/studio/',
      },
    ],
    importantLinks: [
      {
        text: 'Gitlab Project',
        href: 'https://gitlab.com/co-training',
      },
      {
        text: 'SwaggerHub Rest API',
        href:
          'https://app.swaggerhub.com/apis-docs/mouhamedali/co-training/1.0.0',
      },
      {
        text: 'Sonar Cloud Project',
        href: 'https://sonarcloud.io/organizations/co-training/projects',
      },
    ],
  }),
}
</script>
