<template>
  <v-container>
    <v-breadcrumbs :items="links">
      <template v-slot:item="{ item }">
        <v-breadcrumbs-item :to="item.to" :disabled="item.disabled" exact>
          {{ item.text.toUpperCase() }}
        </v-breadcrumbs-item>
      </template>
    </v-breadcrumbs>
    <app-author :uid="getAuthorId()"></app-author>
  </v-container>
</template>
<script>
import Author from '@/components/author'
import * as routesNames from '@/constants/routes-names'

export default {
  components: {
    appAuthor: Author,
  },
  data: () => ({
    links: [
      {
        text: 'Home',
        disabled: false,
        to: { name: routesNames.HOME_PAGE },
      },
      {
        text: 'Author',
        disabled: true,
        to: { name: routesNames.AUTHOR_PAGE },
      },
    ],
  }),
  methods: {
    getAuthorId() {
      return this.$route.params.uid
    },
  },
}
</script>