<template>
  <v-container>
    <v-breadcrumbs :items="links">
      <template v-slot:item="{ item }">
        <v-breadcrumbs-item :to="item.to" :disabled="item.disabled" exact>
          {{ item.text.toUpperCase() }}
        </v-breadcrumbs-item>
      </template>
    </v-breadcrumbs>

    <app-training-progress v-show="progress"></app-training-progress>
    <v-row>
      <v-container fluid>
        <v-data-iterator
          :items="trainings"
          :items-per-page.sync="itemsPerPage"
          :page="page"
          hide-default-footer
        >
          <template v-slot:default="props">
            <v-row>
              <v-col
                v-for="item in props.items"
                :key="item.id"
                cols="12"
                sm="6"
                md="4"
                lg="3"
              >
                <app-training-card :training="item"></app-training-card>
              </v-col>
            </v-row>
          </template>

          <template v-slot:footer>
            <v-row class="mt-2" align="center" justify="center">
              <span class="grey--text">Trainings per page</span>
              <v-menu offset-y>
                <template v-slot:activator="{ on, attrs }">
                  <v-btn
                    dark
                    text
                    color="primary"
                    class="ml-2"
                    v-bind="attrs"
                    v-on="on"
                  >
                    {{ itemsPerPage }}
                    <v-icon>mdi-chevron-down</v-icon>
                  </v-btn>
                </template>
                <v-list>
                  <v-list-item
                    v-for="(number, index) in itemsPerPageArray"
                    :key="index"
                    @click="updateItemsPerPage(number)"
                  >
                    <v-list-item-title>{{ number }}</v-list-item-title>
                  </v-list-item>
                </v-list>
              </v-menu>

              <v-spacer></v-spacer>

              <span class="mr-4 grey--text">
                Page {{ page }} of {{ numberOfPages }}
              </span>
              <v-btn
                fab
                dark
                color="blue darken-3"
                @click="formerPage"
                small
                elevation="0"
              >
                <v-icon large>mdi-chevron-left</v-icon>
              </v-btn>
              <v-btn
                small
                fab
                dark
                elevation="0"
                color="blue darken-3"
                class="ml-1"
                @click="nextPage"
              >
                <v-icon large>mdi-chevron-right</v-icon>
              </v-btn>
            </v-row>
          </template>
        </v-data-iterator>
      </v-container>
    </v-row>
    <v-row>
      <v-snackbar v-model="snackbar.status">
        {{ snackbar.message }}
        <v-btn :color="snackbar.type" @click="snackbar.status = false">
          Close
        </v-btn>
      </v-snackbar>
    </v-row>
  </v-container>
</template>

<script>
import TrainingCard from '@/components/ui/cards/TrainingCard.vue'
import TrainingProgress from '@/components/ui/progress/TrainingProgress.vue'
import axios from 'axios'
import * as alerts from '@/utils/alerts-utils'
import * as endpoints from '@/constants/rest-endpoints'
import moment from 'moment'
import * as routesNames from '@/constants/routes-names'

export default {
  components: {
    appTrainingCard: TrainingCard,
    appTrainingProgress: TrainingProgress,
  },
  data() {
    return {
      links: [
        {
          text: 'Home',
          disabled: false, // even if the link is not disabled it will be because the current path is HOME (vue error if you load the path more than once)
          to: { name: routesNames.HOME_PAGE },
        },
      ],
      progress: true,
      trainings: [],
      trainingsCount: 0,
      snackbar: {
        status: false,
        message: '',
        type: '',
      },
      itemsPerPageArray: [4, 6, 8, 9, 12],
      page: 1,
      itemsPerPage: 4,
    }
  },
  mounted() {
    // get trainings
    this.getTrainings()
    // count trainings
    const endDate = moment().add(1, 'years').format('YYYY-MM-DD')
    const startDate = moment().subtract(1, 'years').format('YYYY-MM-DD')
    axios
      .get(endpoints.TRAININGS_COUNT, {
        params: {
          page: this.page - 1,
          size: this.itemsPerPage,
          start: startDate,
          end: endDate,
        },
      })
      .then((res) => {
        this.trainingsCount = res.data
      })
      .catch((err) => {
        this.snackbar = alerts.error(err)
      })
      .then(() => {
        this.progress = false
      })
    // if user has read user permission we can get the whishlist count and the resources
    if (this.$store.getters['auth/hasReadUsersPerm']) {
      // As this is the first component to load when the user authenticates we will init the toolbar store with the the user whishlist and resource
      this.$store.dispatch('toolbar/INIT_WHISHLIST')
      this.$store.dispatch('toolbar/INIT_RESOURCE')
    }
  },
  computed: {
    numberOfPages() {
      return Math.ceil(this.trainingsCount / this.itemsPerPage)
    },
  },
  methods: {
    // Vuetify Data Iterator : https://vuetifyjs.com/en/components/data-iterators/#filter
    nextPage() {
      if (this.page + 1 <= this.numberOfPages) this.page += 1
      this.getTrainings()
    },
    formerPage() {
      if (this.page - 1 >= 1) this.page -= 1
      this.getTrainings()
    },
    updateItemsPerPage(number) {
      this.itemsPerPage = number
      this.trainings = []
      this.page = 1
      this.progress = true
      this.getTrainings()
    },
    getTrainings() {
      // https://momentjs.com/docs/#/displaying/format/
      // get trainings from the last year to the next year
      const endDate = moment().add(1, 'years').format('YYYY-MM-DD')
      const startDate = moment().subtract(1, 'years').format('YYYY-MM-DD')
      axios
        .get(endpoints.TRAININGS, {
          params: {
            page: this.page - 1,
            size: this.itemsPerPage,
            start: startDate,
            end: endDate,
          },
        })
        .then((res) => {
          this.trainings = res.data
        })
        .catch((err) => {
          this.snackbar = alerts.error(err)
        })
        .then(() => {
          this.progress = false
        })
    },
  },
}
</script>
