<template>
  <v-form @submit.prevent="onSubmit" v-model="valid">
    <v-container>
      <v-breadcrumbs :items="links">
        <template v-slot:item="{ item }">
          <v-breadcrumbs-item :to="item.to" :disabled="item.disabled" exact>
            {{ item.text.toUpperCase() }}
          </v-breadcrumbs-item>
        </template>
      </v-breadcrumbs>

      <v-row
        class="fill-height"
        align-content="center"
        justify="center"
        v-if="progress"
      >
        <v-col class="subtitle-1 text-center" cols="12"> Getting data </v-col>
        <v-col cols="6">
          <v-progress-linear
            color="primary"
            indeterminate
            rounded
            height="6"
          ></v-progress-linear>
        </v-col>
      </v-row>
      <v-row v-else>
        <v-col md="8" sm="12" :order="order[0]">
          <v-card shaped>
            <v-card-title>Profile details</v-card-title>
            <v-row dense>
              <v-col cols="12" md="6">
                <v-text-field
                  label="First Name"
                  v-model="user.firstName"
                  class="px-3"
                  outlined
                  :rules="[rules.required, rules.min]"
                ></v-text-field>
              </v-col>
              <v-col cols="12" md="6">
                <v-text-field
                  label="Last Name"
                  v-model="user.lastName"
                  class="px-3"
                  outlined
                  :rules="[rules.required, rules.min]"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row dense>
              <v-col cols="12" md="6">
                <v-text-field
                  label="Job"
                  class="px-3"
                  v-model="user.job"
                  outlined
                  :rules="[
                    rules.required,
                    (value) =>
                      (value && value.length >= 4) || 'Min 4 characters',
                  ]"
                ></v-text-field>
              </v-col>
              <v-col cols="12" md="6">
                <app-team-select
                  :team.sync="user.team"
                  :outlined="true"
                  class="px-3"
                  :rules="[rules.required]"
                ></app-team-select>
              </v-col>
            </v-row>
            <v-row dense>
              <v-col cols="6">
                <v-text-field
                  label="Image URL"
                  class="px-3"
                  v-model="user.photo"
                  outlined
                  :rules="[rules.link]"
                ></v-text-field>
              </v-col>
              <v-col cols="6">
                <v-menu
                  ref="menu"
                  v-model="datePickerMenu"
                  :close-on-content-click="false"
                  transition="scale-transition"
                  offset-y
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      v-model="user.birthday"
                      label="Birthday"
                      class="px-3"
                      readonly
                      outlined
                      v-bind="attrs"
                      v-on="on"
                      :rules="[rules.required]"
                    ></v-text-field>
                  </template>
                  <v-date-picker
                    ref="picker"
                    v-model="user.birthday"
                    :max="maxBirthday()"
                    min="1950-01-01"
                    @change="datePickerMenu = false"
                  ></v-date-picker>
                </v-menu>
              </v-col>
            </v-row>
            <v-row dense>
              <v-col cols="12" class="px-3">
                <v-textarea
                  outlined
                  auto-grow
                  label="About"
                  v-model="user.about"
                ></v-textarea>
              </v-col>
            </v-row>
            <v-row dense>
              <v-col cols="12" class="px-3 pb-8">
                <app-dynamic-text-field
                  title="Interests / Skills"
                  label="Add a new skill"
                  @saved="addSkills"
                  @modificationEnabled="skillsWereValidated = false"
                  :items="user.interestsSkills"
                ></app-dynamic-text-field>
              </v-col>
            </v-row>
            <v-row dense>
              <v-col cols="12" md="6">
                <app-scoped-text-field
                  class="px-3"
                  label="Email"
                  :input="user.email"
                  :showPublic="user.isEmailEnabled"
                  @update="user.email = $event"
                  @share="user.isEmailEnabled = $event"
                  type="email"
                ></app-scoped-text-field>
              </v-col>
              <v-col cols="12" md="6">
                <app-scoped-text-field
                  class="px-3"
                  label="Site"
                  :input="user.site"
                  :showPublic="user.isSiteEnabled"
                  @update="user.site = $event"
                  @share="user.isSiteEnabled = $event"
                  type="link"
                ></app-scoped-text-field>
              </v-col>
            </v-row>
            <v-row dense>
              <v-col cols="12" md="6">
                <app-scoped-text-field
                  class="px-3"
                  label="Linkedin"
                  :input="user.linkedin"
                  :showPublic="user.isLinkedinEnabled"
                  @update="user.linkedin = $event"
                  @share="user.isLinkedinEnabled = $event"
                  type="link"
                ></app-scoped-text-field>
              </v-col>
              <v-col cols="12" md="6">
                <app-scoped-text-field
                  class="px-3"
                  label="Youtube"
                  :input="user.youtube"
                  :showPublic="user.isYoutubeEnabled"
                  @update="user.youtube = $event"
                  @share="user.isYoutubeEnabled = $event"
                  type="link"
                ></app-scoped-text-field>
              </v-col>
            </v-row>
            <v-row dense>
              <v-col cols="12" md="6">
                <app-scoped-text-field
                  class="px-3"
                  label="Github"
                  :input="user.github"
                  :showPublic="user.isGithubEnabled"
                  @update="user.github = $event"
                  @share="user.isGithubEnabled = $event"
                  type="link"
                ></app-scoped-text-field>
              </v-col>
              <v-col cols="12" md="6">
                <app-scoped-text-field
                  class="px-3"
                  label="Gitlab"
                  :input="user.gitlab"
                  :showPublic="user.isGitlabEnabled"
                  @update="user.gitlab = $event"
                  @share="user.isGitlabEnabled = $event"
                  type="link"
                ></app-scoped-text-field>
              </v-col>
            </v-row>
            <v-row dense>
              <v-col cols="12" md="6">
                <app-scoped-text-field
                  class="px-3"
                  label="DockerHub"
                  :input="user.dockerHub"
                  :showPublic="user.isDockerHubEnabled"
                  @update="user.dockerHub = $event"
                  @share="user.isDockerHubEnabled = $event"
                  type="link"
                ></app-scoped-text-field>
              </v-col>
              <v-col cols="12" md="6">
                <app-scoped-text-field
                  class="px-3"
                  label="Twitter"
                  :input="user.twitter"
                  :showPublic="user.isTwitterEnabled"
                  @update="user.twitter = $event"
                  @share="user.isTwitterEnabled = $event"
                  type="link"
                ></app-scoped-text-field>
              </v-col>
            </v-row>
            <v-row dense>
              <v-col cols="12" md="6">
                <app-scoped-text-field
                  class="px-3"
                  label="Facebook"
                  :input="user.facebook"
                  :showPublic="user.isFacebookEnabled"
                  @update="user.facebook = $event"
                  @share="user.isFacebookEnabled = $event"
                  type="link"
                ></app-scoped-text-field>
              </v-col>
              <v-col cols="12" md="6">
                <app-scoped-text-field
                  class="px-3"
                  label="Phone Number"
                  :input="user.phoneNumber"
                  :showPublic="user.isPhoneNumberEnabled"
                  @update="user.phoneNumber = $event"
                  @share="user.isPhoneNumberEnabled = $event"
                  type="phone"
                ></app-scoped-text-field>
              </v-col>
            </v-row>
            <v-divider></v-divider>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                class="ma-2"
                color="primary"
                @click="onSubmit"
                :disabled="!valid"
              >
                <v-icon left>save</v-icon>Save Changes
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-col>
        <v-col md="4" sm="12" :order="order[1]">
          <v-card shaped>
            <v-row justify="center">
              <v-avatar size="100" class="mt-8">
                <v-img
                  v-if="user.photo && user.photo.length > 1"
                  :src="user.photo"
                ></v-img>
                <v-img
                  v-else
                  src="https://cdn.vuetifyjs.com/images/lists/1.jpg"
                ></v-img>
              </v-avatar>
            </v-row>
            <v-row justify="center"
              ><v-card-title>
                <app-avatar-name>{{
                  `${user.firstName} ${user.lastName}`
                }}</app-avatar-name></v-card-title
              >
            </v-row>
            <v-row justify="center">
              <v-card-subtitle>
                <p class="overline font-weight-medium black--text">
                  {{ user.job }}
                </p>
              </v-card-subtitle>
            </v-row>
            <v-row justify="center" class="mb-5">
              <v-icon
                class="ma-3"
                :color="user[icon.condition] ? icon.primary : icon.secondary"
                v-for="icon in sn_icons"
                :key="icon.name"
                @click="share(icon.name)"
                >{{ icon.name }}</v-icon
              >
            </v-row>
            <v-divider></v-divider>
            <v-row dense justify="center" class="mt-5 mx-2">
              <v-col cols="12">
                <span class="subtitle-1 mb-0 grey--text text--darken-1"
                  >About me</span
                >
              </v-col>
              <v-col cols="12">
                <p>
                  {{ user.about }}
                </p>
              </v-col>
            </v-row>
          </v-card>
        </v-col>
      </v-row>
      <v-row>
        <v-snackbar v-model="snackbar.status">
          {{ snackbar.message }}
          <v-btn :color="snackbar.type" @click="snackbar.status = false">
            Close
          </v-btn>
        </v-snackbar>
      </v-row>
    </v-container>
  </v-form>
</template>
<script>
import HeaderTitle from '@/components/ui/text/HeaderTitle.vue'
import ElementTitle from '@/components/ui/text/ElementTitle.vue'
import DynamicTextField from '@/components/ui/inputs/DynamicTextField.vue'
import AvatarName from '@/components/ui/text/AvatarName.vue'
import TeamSelect from '@/components/team/TeamSelect.vue'
import ScopedTextField from '@/components/ui/inputs/ScopedTextField.vue'
import * as dateUtils from '@/utils/date-utils'
import axios from 'axios'
import * as alerts from '@/utils/alerts-utils'
import * as endpoints from '@/constants/rest-endpoints'
import * as routesNames from '@/constants/routes-names'
import * as stringUtils from '@/utils/string-utils'

export default {
  components: {
    appTeamSelect: TeamSelect,
    appHeaderTitle: HeaderTitle,
    appDynamicTextField: DynamicTextField,
    appScopedTextField: ScopedTextField,
    appAvatarName: AvatarName,
  },

  // TODO mettre les différents inputs résaux sociaux dans un object comme ci après

  data: () => ({
    links: [
      {
        text: 'Home',
        disabled: false,
        to: { name: routesNames.HOME_PAGE },
      },
      {
        text: 'Profile',
        disabled: true,
        to: { name: routesNames.PROFILE_PAGE },
      },
    ],
    valid: false,
    datePickerMenu: false,
    rules: {
      required: (value) => !!value || 'This field can not be empty',
      min: (value) => (value && value.length >= 2) || 'Min 2 characters',
      link: (value) =>
        !value || stringUtils.isValidLink(value) || 'this field must be a url',
      // image url is not required but if mentionned, it has to be an image
    },
    sn_icons: [
      // social network links
      {
        name: 'email',
        primary: 'black',
        secondary: 'grey',
        condition: 'isEmailEnabled',
      },
      {
        name: 'fas fa-link',
        primary: 'black',
        secondary: 'grey',
        condition: 'isSiteEnabled',
      },
      {
        name: 'fab fa-linkedin',
        primary: 'blue darken-2',
        secondary: 'grey',
        condition: 'isLinkedinEnabled',
      },
      {
        name: 'fab fa-youtube',
        primary: 'red darken-2',
        secondary: 'grey',
        condition: 'isYoutubeEnabled',
      },
      {
        name: 'fab fa-github',
        primary: 'black',
        secondary: 'grey',
        condition: 'isGithubEnabled',
      },
      {
        name: 'fab fa-gitlab',
        primary: 'orange darken-2',
        secondary: 'grey',
        condition: 'isGitlabEnabled',
      },
      {
        name: 'fab fa-docker',
        primary: 'blue',
        secondary: 'grey',
        condition: 'isDockerHubEnabled',
      },
      {
        name: 'fab fa-twitter',
        primary: 'blue lighten-2',
        secondary: 'grey',
        condition: 'isTwitterEnabled',
      },
      {
        name: 'fab fa-facebook',
        primary: 'blue accent-3',
        secondary: 'grey',
        condition: 'isFacebookEnabled',
      },
      {
        name: 'phone',
        primary: 'green darken-2',
        secondary: 'grey',
        condition: 'isPhoneNumberEnabled',
      },
    ],
    snackbar: {
      status: false,
      message: '',
      type: '',
    },
    user: {
      firstName: '',
      lastName: '',
      job: '',
      birthday: dateUtils.yesterday(Date.now()),
      team: { id: 0, name: '' },
    },
    progress: true,
    skillsWereValidated: false, // a used boolean to make sure that the user has clicked on the save button in the interests/skills component
    uid: 0,
  }),
  computed: {
    order() {
      const { md, sm } = this.$vuetify.breakpoint
      return md ? ['first', 'last'] : sm ? ['last', 'first'] : ['first', 'last']
    },
    disableSaveButton() {
      if (!this.skillsWereValidated) return true
    },
  },
  mounted() {
    this.uid = this.$store.getters['auth/getUid']
    this.progress = true
    // get the current user data
    axios
      .get(endpoints.ACCOUNTS_CURRENT)
      .then((res) => {
        this.user = res.data.user
      })
      .catch((err) => {
        this.snackbar = alerts.error(err)
      })
      .then(() => {
        this.progress = false
      })
  },
  methods: {
    addSkills(event) {
      this.user.interestsSkills = event
      this.skillsWereValidated = true
    },
    maxBirthday() {
      return dateUtils.minimumAge()
    },
    share(icon) {
      if (icon === 'email') {
        this.user.isEmailEnabled = !this.user.isEmailEnabled
        if (this.user.isEmailEnabled) this.print('Email shared')
        else this.print('Email protected')
      } else if (icon.includes('linkedin')) {
        this.user.isLinkedinEnabled = !this.user.isLinkedinEnabled
        if (this.user.isLinkedinEnabled) this.print('Linkedin shared')
        else this.print('Linkedin protected')
      } else if (icon.includes('link')) {
        this.user.isSiteEnabled = !this.user.isSiteEnabled
        if (this.user.isSiteEnabled) this.print('Site shared')
        else this.print('Site protected')
      } else if (icon.includes('youtube')) {
        this.user.isYoutubeEnabled = !this.user.isYoutubeEnabled
        if (this.user.isYoutubeEnabled) this.print('Youtube shared')
        else this.print('Youtube protected')
      } else if (icon.includes('github')) {
        this.user.isGithubEnabled = !this.user.isGithubEnabled
        if (this.user.isGithubEnabled) this.print('Github shared')
        else this.print('Github protected')
      } else if (icon.includes('gitlab')) {
        this.user.isGitlabEnabled = !this.user.isGitlabEnabled
        if (this.user.isGitlabEnabled) this.print('Gitlab shared')
        else this.print('Gitlab protected')
      } else if (icon.includes('docker')) {
        this.user.isDockerHubEnabled = !this.user.isDockerHubEnabled
        if (this.user.isDockerHubEnabled) this.print('DockerHub shared')
        else this.print('DockerHub protected')
      } else if (icon.includes('twitter')) {
        this.user.isTwitterEnabled = !this.user.isTwitterEnabled
        if (this.user.isTwitterEnabled) this.print('Twitter shared')
        else this.print('Twitter protected')
      } else if (icon.includes('facebook')) {
        this.user.isFacebookEnabled = !this.user.isFacebookEnabled
        if (this.user.isFacebookEnabled) this.print('Facebook shared')
        else this.print('Facebook protected')
      } else if (icon.includes('phone')) {
        this.user.isPhoneNumberEnabled = !this.user.isPhoneNumberEnabled
        if (this.user.isPhoneNumberEnabled) this.print('Phone number shared')
        else this.print('Phone number protected')
      }
    },
    print(message) {
      this.snackbar = alerts.info(message)
    },
    onSubmit() {
      axios
        .put(endpoints.USER.replace('{uid}', this.uid), this.user)
        .then((res) => {
          this.snackbar = alerts.info(
            'Your profile has been successfully updated'
          )
          this.$store.dispatch('auth/SET_USER_NAME', {
            payload: `${this.user.firstName} ${this.user.lastName}`,
          })
          this.$store.dispatch('auth/SET_USER_PHOTO', {
            payload: this.user.photo,
          })
        })
        .catch((err) => {
          this.snackbar = alerts.error(err)
        })
    },
  },
}
</script>