<template>
  <v-container>
    <v-breadcrumbs :items="links">
      <template v-slot:item="{ item }">
        <v-breadcrumbs-item :to="item.to" :disabled="item.disabled" exact>
          {{ item.text.toUpperCase() }}
        </v-breadcrumbs-item>
      </template>
    </v-breadcrumbs>

    <v-row justify="center">
      <h1>Your Resources</h1>
    </v-row>
    <v-row justify="center">
      <v-col cols="6" md="2">
        <v-sheet color="white text-center" shaped elevation="4">
          <div
            class="subtitle-1 font-weight-medium text-uppercase indigo--text"
          >
            Budget
          </div>
          <div>{{ resource.budget }} $</div>
        </v-sheet>
      </v-col>
      <v-col cols="6" md="3">
        <v-sheet color="white text-center" shaped elevation="4">
          <div
            class="subtitle-1 font-weight-medium text-uppercase indigo--text"
          >
            Remaining Days
          </div>
          <div>{{ resource.nbDays }}</div>
        </v-sheet>
      </v-col>
      <v-col cols="6" md="2">
        <v-sheet color="white text-center" shaped elevation="4">
          <div
            class="subtitle-1 font-weight-medium text-uppercase indigo--text"
          >
            Jackpot
          </div>
          <div>{{ resource.jackpot }} $</div>
        </v-sheet>
      </v-col>
    </v-row>
    <v-row justify="center">
      <v-col cols="12">
        <v-alert
          border="left"
          colored-border
          color="primary"
          elevation="2"
          type="info"
        >
          <app-element-title>Budget</app-element-title>
          <p>
            The budget is an amount of money that the administrator will grant
            you at the beginning of the year or when you have just joined this
            platform. This amount of money can only be used in this platform
            (co-training) and is used to participate to the proposed trainings
            (you can find them in the Home page). The spent money will of course
            be paid into the account (co-training) of the author of the
            training.
          </p>
        </v-alert>
      </v-col>
      <v-col cols="12">
        <v-alert
          border="left"
          colored-border
          color="primary"
          elevation="2"
          type="info"
        >
          <app-element-title>Remaining days</app-element-title>
          <p>
            This is the remaining number of days that you can spent on trainings
            until the end of the current year. The counter of remainings days
            will be initialized every year and yes even if you have much money
            you can't participate to a training if the duration of this last is
            greater than your remaining days.
          </p>
        </v-alert>
      </v-col>
      <v-col cols="12">
        <v-alert
          border="left"
          colored-border
          color="primary"
          elevation="2"
          type="info"
        >
          <app-element-title>Jackpot</app-element-title>
          <p>
            At the end of the year, your budget will be transferred to your
            jackpot. If you are a motivated author and let's say that you sold
            training courses worth a thousand dollars. This amount of money will
            be moved to your jackpot and you can retirieved it in cash $$$. You
            deserve it.
          </p>
        </v-alert>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
import ElementTitle from '@/components/ui/text/ElementTitle'
import * as routesNames from '@/constants/routes-names'

export default {
  data() {
    return {
      links: [
        {
          text: 'Home',
          disabled: false,
          to: { name: routesNames.HOME_PAGE },
        },
        {
          text: 'Resources',
          disabled: true,
          to: { name: routesNames.RESOURCES_PAGE },
        },
      ],
    }
  },
  components: {
    appElementTitle: ElementTitle,
  },
  computed: {
    resource() {
      return this.$store.getters['toolbar/getResource']
    },
  },
}
</script>