<template>
  <v-container>
    <v-breadcrumbs :items="links">
      <template v-slot:item="{ item }">
        <v-breadcrumbs-item :to="item.to" :disabled="item.disabled" exact>
          {{ item.text.toUpperCase() }}
        </v-breadcrumbs-item>
      </template>
    </v-breadcrumbs>

    <v-row v-if="!progress">
      <v-col cols="12">
        <v-sheet color="white my-3">
          Accout Status :
          <v-chip
            color="red darken-2 white--text"
            class="mx-1"
            small
            v-show="!account.isActive"
          >
            <v-icon left small> fa-user-slash </v-icon>
            Disabled
          </v-chip>
          <v-chip color="success" class="mx-1" small v-show="account.isActive">
            <v-icon left small> fa-user-check </v-icon>
            Enabled
          </v-chip>
        </v-sheet>
        <v-sheet color="white my-3">
          Roles :
          <v-chip v-for="role in roles" :key="role" class="ma-1">
            {{ role }}
          </v-chip>
        </v-sheet>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12">
        <app-password-card></app-password-card>
      </v-col>
    </v-row>
    <v-row v-if="progress">
      <v-col cols="12">
        <app-linear-progress>
          <span>Getting Account Data</span>
        </app-linear-progress>
      </v-col>
    </v-row>
    <v-row v-if="!progress">
      <v-col cols="12">
        <app-email-card :account="account"></app-email-card>
      </v-col>
    </v-row>
    <v-row v-if="!progress">
      <v-col cols="12">
        <app-account-deletion-card
          :account="account"
        ></app-account-deletion-card>
      </v-col>
    </v-row>
    <v-snackbar v-model="snackbar.status">
      {{ snackbar.message }}
      <v-btn :color="snackbar.type" @click="snackbar.status = false">
        Close
      </v-btn>
    </v-snackbar>
  </v-container>
</template>
<script>
import PasswordCard from '@/components/ui/cards/settings/PasswordCard.vue'
import EmailCard from '@/components/ui/cards/settings/EmailCard.vue'
import AccountDeletionCard from '@/components/ui/cards/settings/AccountDeletionCard.vue'
import LinearProgress from '@/components/ui/progress/LinearProgress.vue'
import axios from 'axios'
import * as routesNames from '@/constants/routes-names'
import * as alerts from '@/utils/alerts-utils'
import * as endpoints from '@/constants/rest-endpoints'
import * as dataUtils from '@/utils/data-utils'

export default {
  components: {
    appPasswordCard: PasswordCard,
    appEmailCard: EmailCard,
    appLinearProgress: LinearProgress,
    appAccountDeletionCard: AccountDeletionCard,
  },
  data() {
    return {
      links: [
        {
          text: 'Home',
          disabled: false,
          to: { name: routesNames.HOME_PAGE },
        },
        {
          text: 'Settings',
          disabled: true,
          to: { name: routesNames.SETTINGS_PAGE },
        },
      ],
      account: null,
      progress: true,
      snackbar: {
        status: false,
        message: '',
        type: '',
      },
    }
  },
  computed: {
    roles() {
      if (this.account)
        return dataUtils.fromBackToFrontRoles(this.account.roles)
      return []
    },
  },
  mounted() {
    const aid = this.$store.getters['auth/getAccountId']
    this.progress = true
    axios
      .get(endpoints.ACCOUNT.replace('{id}', aid))
      .then((res) => {
        this.account = res.data
      })
      .catch((err) => {
        this.snackbar = alerts.error(err)
      })
      .then((res) => {
        this.progress = false
      })
  },
}
</script>