<template>
  <v-container>
    <v-row justify="center" class="mt-10">
      <v-icon x-large color="red darken-3 mx-auto mt-10">
        mdi-shield-lock
      </v-icon>
    </v-row>
    <v-row justify="center">
      <v-card width="400" class="mx-auto mt-5" :loading="loading">
        <v-form @submit.prevent="submit" v-model="valid">
          <v-card-title>
            <h1 class="display-1 mx-auto">SIGN UP</h1>
          </v-card-title>
          <v-card-text>
            <v-row justify="center" dense>
              <v-col cols="6">
                <v-text-field
                  label="First Name"
                  v-model="user.firstName"
                  :rules="[rules.required, rules.min]"
                ></v-text-field>
              </v-col>
              <v-col cols="6">
                <v-text-field
                  label="Last Name"
                  v-model="user.lastName"
                  :rules="[rules.required, rules.min]"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-text-field
              label="Email"
              v-model="email"
              :rules="[rules.required, rules.email]"
            ></v-text-field>
            <v-text-field
              label="Password"
              :type="!showPassword ? 'password' : 'text'"
              :append-icon="!showPassword ? 'mdi-eye-off' : 'mdi-eye'"
              @click:append="showPassword = !showPassword"
              v-model="password"
              :rules="[
                rules.required,
                () => password.length >= 5 || 'Min 5 characters',
              ]"
            ></v-text-field>
            <v-row justify="center" dense>
              <v-col cols="6">
                <v-text-field
                  label="Job"
                  v-model="user.job"
                  :rules="[
                    rules.required,
                    () => user.job.length >= 4 || 'Min 4 characters',
                  ]"
                ></v-text-field>
              </v-col>
              <v-col cols="6">
                <v-menu
                  ref="menu"
                  v-model="datePickerMenu"
                  :close-on-content-click="false"
                  transition="scale-transition"
                  offset-y
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      v-model="user.birthday"
                      label="Birthday"
                      readonly
                      v-bind="attrs"
                      v-on="on"
                    ></v-text-field>
                  </template>
                  <v-date-picker
                    ref="picker"
                    v-model="user.birthday"
                    :max="maxBirthday()"
                    min="1950-01-01"
                    @change="save"
                  ></v-date-picker>
                </v-menu>
              </v-col>
            </v-row>
            <v-select
              :items="teams"
              label="Team"
              v-model="user.team"
              :rules="[
                () => user.team.name.length > 0 || 'Team name is required',
              ]"
              ref="picker"
              item-text="name"
              persistent-hint
              return-object
              single-line
              :hint="`${user.team.name} team`"
            ></v-select>
          </v-card-text>
          <v-divider></v-divider>
          <v-card-actions>
            <v-btn color="warning" @click="reset">RESET</v-btn>
            <v-spacer></v-spacer>
            <v-btn color="info" type="submit" :disabled="!valid">
              REGISTER
            </v-btn>
          </v-card-actions>
        </v-form>
      </v-card>
    </v-row>
    <v-row justify="center" class="mt-3">
      You have already an account :
      <p
        class="primary--text mx-2"
        style="cursor: pointer"
        @click="goToSignInPage"
      >
        Sign in
      </p>
    </v-row>
    <v-row justify="center" class="mt-3">
      <app-footer></app-footer>
    </v-row>
    <v-row>
      <v-snackbar v-model="snackbar.status">
        {{ snackbar.message }}
        <v-btn :color="snackbar.type" @click="snackbar.status = false">
          Close
        </v-btn>
      </v-snackbar>
    </v-row>
  </v-container>
</template>

<script>
import VFooter from '@/components/layout/TheFooter.vue'
import * as dateUtils from '@/utils/date-utils'
import * as stringUtils from '@/utils/string-utils'
import axios from 'axios'
import * as alerts from '@/utils/alerts-utils'
import * as restEndpoints from '@/constants/rest-endpoints'
import * as routesNames from '@/constants/routes-names'

export default {
  components: {
    appFooter: VFooter,
  },
  data: () => ({
    valid: false,
    showPassword: false,
    loading: false,
    snackbar: {
      status: false,
      message: '',
    },
    user: {
      firstName: '',
      lastName: '',
      job: '',
      birthday: dateUtils.minimumAge(),
      team: { id: 0, name: '' },
    },
    email: '',
    password: '',
    teams: [],
    // field used by the vuetify data picker
    datePickerMenu: false,
    rules: {
      required: (value) => !!value || 'This field can not be empty',
      min: (value) => value.length >= 2 || 'Min 2 characters',
      email: (value) => {
        return stringUtils.isValidEmail(value) || 'Invalid e-mail.'
      },
    },
  }),
  created() {
    // fetch the data when the view is created and the data is
    // already being observed
    this.fetchTeams()
  },
  watch: {
    datePickerMenu(val) {
      val && setTimeout(() => (this.$refs.picker.activePicker = 'YEAR'))
    },
  },
  methods: {
    fetchTeams() {
      this.loading = true
      axios
        .get(restEndpoints.TEAMS)
        .then((response) => {
          this.teams = response.data
        })
        .catch((error) => {
          this.snackbar = alerts.error(error)
        })
        .then(() => {
          this.loading = false
        })
    },
    submit: function () {
      this.loading = true
      axios({
        url: restEndpoints.ACCOUNTS,
        method: 'POST',
        data: this.user,
        params: {
          email: this.email,
          password: this.password,
        },
      })
        .then((response) => {
          this.snackbar = alerts.info(
            'Your request has been submitted. It will be processed as soon as possible'
          )
        })
        .catch((error) => {
          this.snackbar = alerts.error(error)
        })
        .then(() => {
          this.loading = false
        })
    },
    save(date) {
      this.$refs.menu.save(date)
    },
    reset() {
      this.valid = false
      this.showPassword = false
      this.user = this.emptyUser()
    },
    emptyUser() {
      return {
        firstName: '',
        lastName: '',
        email: '',
        password: '',
        job: '',
        birthday: dateUtils.minimumAge(),
        team: { id: 0, name: '' },
      }
    },
    maxBirthday() {
      return dateUtils.minimumAge()
    },
    goToSignInPage() {
      this.$router.push({ name: routesNames.SIGN_IN_PAGE })
    },
  },
}
</script>