<template>
  <v-container>
    <v-row justify="center" class="mt-10">
      <v-icon x-large color="red darken-3 mx-auto mt-10">
        mdi-shield-lock
      </v-icon>
    </v-row>
    <v-row justify="center">
      <v-card width="400" class="mt-5 mx-2" :loading="loading">
        <v-form v-model="valid">
          <v-card-title>
            <h1 class="display-1 mx-auto">SIGN IN</h1>
          </v-card-title>
          <v-card-text>
            <v-text-field
              label="Email"
              prepend-icon="mdi-account-circle"
              v-model="user.email"
              :rules="[rules.required, rules.email]"
              single-line
              full-width
              hide-details
            ></v-text-field>
            <v-text-field
              label="Password"
              :type="!showPassword ? 'password' : 'text'"
              prepend-icon="mdi-lock"
              :append-icon="!showPassword ? 'mdi-eye-off' : 'mdi-eye'"
              @click:append="showPassword = !showPassword"
              v-model="user.password"
              :rules="[rules.required, rules.min]"
              single-line
              full-width
              hide-details
            ></v-text-field>
          </v-card-text>
          <v-divider></v-divider>
          <v-card-actions>
            <v-btn color="success" :to="signupRoute">SIGN UP</v-btn>
            <v-spacer></v-spacer>
            <v-btn color="info" :disabled="!valid" @click="submit">LOGIN</v-btn>
          </v-card-actions>
        </v-form>
      </v-card>
    </v-row>
    <v-row justify="center" class="mt-3">
      <app-footer></app-footer>
    </v-row>
    <v-row>
      <v-snackbar v-model="snackbar.status">
        {{ snackbar.message }}
        <v-btn color="error" @click="snackbar.status = false"> Close </v-btn>
      </v-snackbar>
    </v-row>
  </v-container>
</template>

<script>
import VFooter from '@/components/layout/TheFooter.vue'
import * as stringUtils from '@/utils/string-utils'
import * as routesNames from '@/constants/routes-names'

export default {
  data: () => ({
    signupRoute: { name: routesNames.SIGN_UP_PAGE },
    valid: false,
    showPassword: false,
    loading: false,
    snackbar: {
      status: false,
      message: '',
    },
    user: {
      email: '',
      password: '',
    },
    rules: {
      required: (value) => !!value || 'This field can not be empty',
      min: (value) => value.length >= 5 || 'Min 5 characters',
      email: (value) => {
        return stringUtils.isValidEmail(value) || 'Invalid e-mail.'
      },
    },
  }),
  components: {
    appFooter: VFooter,
  },
  methods: {
    submit() {
      this.loading = true
      this.$store
        .dispatch('auth/SIGN_IN', { user: this.user })
        .then(() => {
          this.loading = false
          if (this.$store.getters['auth/isAuthenticated']) {
            // if admin redirect to new requests
            if (this.$store.getters['auth/isAdmin'])
              this.$router.push({ name: routesNames.ADMIN_REQUESTS_PAGE })
            // if has read trainings permit navigation otherwise redirect to /about
            else if (this.$store.getters['auth/canReadTrainings'])
              this.$router.push({ name: routesNames.HOME_PAGE })
            else this.$router.push({ name: routesNames.ABOUT_PAGE })
          }
        })
        .catch((error) => {
          this.loading = false
          if (error.data && error.data.message)
            this.snackbar.message = error.data.message
          else if (error.data && error.data.error_description)
            this.snackbar.message = error.data.error_description
          else
            this.snackbar.message = 'Some kind of horrible error has occurred'
          this.snackbar.status = true
        })
    },
  },
}
</script>