<template>
  <v-container>
    <v-breadcrumbs :items="links">
      <template v-slot:item="{ item }">
        <v-breadcrumbs-item :to="item.to" :disabled="item.disabled" exact>
          {{ item.text.toUpperCase() }}
        </v-breadcrumbs-item>
      </template>
    </v-breadcrumbs>
    <v-row>
      <app-training></app-training>
    </v-row>
  </v-container>
</template>

<script>
import Training from '@/components/training'
import * as routesNames from '@/constants/routes-names'

export default {
  components: {
    appTraining: Training,
  },
  data: () => ({
    links: [
      {
        text: 'Home',
        disabled: false,
        to: { name: routesNames.HOME_PAGE },
      },
      {
        text: 'Training',
        disabled: true,
        to: { name: routesNames.TRAINING_PAGE },
      },
    ],
  }),
  mounted() {
    // we have to dispatch this training id to the store so it can retirieve the traingin and update other components including this one
    this.$store.dispatch('training/SET_TRAINING', { id: this.getTrainingId() })
  },
  methods: {
    getTrainingId() {
      return this.$route.params.id
    },
  },
}
</script>