<template>
  <v-container>
    <v-breadcrumbs :items="links">
      <template v-slot:item="{ item }">
        <v-breadcrumbs-item :to="item.to" :disabled="item.disabled" exact>
          {{ item.text.toUpperCase() }}
        </v-breadcrumbs-item>
      </template>
    </v-breadcrumbs>

    <app-training-progress v-show="progress"></app-training-progress>
    <v-row>
      <v-container fluid>
        <v-data-iterator
          :items="trainings"
          :items-per-page.sync="itemsPerPage"
          :page="page"
          hide-default-footer
        >
          <template v-slot:default="props">
            <v-row>
              <v-col
                v-for="item in props.items"
                :key="item.id"
                cols="12"
                sm="6"
                md="4"
                lg="3"
              >
                <app-training-card :training="item"></app-training-card>
              </v-col>
            </v-row>
          </template>

          <template v-slot:footer>
            <v-row class="mt-2">
              <v-col cols="4">
                <span class="grey--text">Trainings per page</span>
                <v-menu offset-y>
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn
                      dark
                      text
                      color="primary"
                      class="ml-2"
                      v-bind="attrs"
                      v-on="on"
                    >
                      {{ itemsPerPage }}
                      <v-icon>mdi-chevron-down</v-icon>
                    </v-btn>
                  </template>
                  <v-list>
                    <v-list-item
                      v-for="(number, index) in itemsPerPageArray"
                      :key="index"
                      @click="updateItemsPerPage(number)"
                    >
                      <v-list-item-title>{{ number }}</v-list-item-title>
                    </v-list-item>
                  </v-list>
                </v-menu>
              </v-col>
              <v-col cols="8">
                <div class="text-start">
                  <v-pagination
                    style="justify-content: start"
                    v-model="page"
                    :length="numberOfPages"
                    prev-icon="mdi-menu-left"
                    next-icon="mdi-menu-right"
                  ></v-pagination>
                </div>
              </v-col>
            </v-row>
          </template>
        </v-data-iterator>
      </v-container>
    </v-row>
    <v-row>
      <v-snackbar v-model="snackbar.status">
        {{ snackbar.message }}
        <v-btn :color="snackbar.type" @click="snackbar.status = false">
          Close
        </v-btn>
      </v-snackbar>
    </v-row>
  </v-container>
</template>

<script>
import TrainingCard from '@/components/ui/cards/TrainingCard.vue'
import TrainingProgress from '@/components/ui/progress/TrainingProgress.vue'
import axios from 'axios'
import * as alerts from '@/utils/alerts-utils'
import * as endpoints from '@/constants/rest-endpoints'
import moment from 'moment'
import * as routesNames from '@/constants/routes-names'

export default {
  components: {
    appTrainingCard: TrainingCard,
    appTrainingProgress: TrainingProgress,
  },
  data() {
    return {
      links: [
        {
          text: 'Home',
          disabled: false,
          to: { name: routesNames.HOME_PAGE },
        },
        {
          text: 'Whishlist',
          disabled: true,
          to: { name: routesNames.WHISH_LIST_PAGE },
        },
      ],
      progress: true,
      trainings: [],
      trainingsCount: 0,
      snackbar: {
        status: false,
        message: '',
        type: '',
      },
      itemsPerPageArray: [4, 6, 8, 9, 12],
      page: 1,
      itemsPerPage: 4,
      uid: 0,
    }
  },
  mounted() {
    this.uid = this.$store.getters['auth/getUid']
    // get whishlist
    axios
      .get(endpoints.USER_WHISHLIST_TRAININGS.replace('{uid}', this.uid))
      .then((res) => {
        this.trainings = res.data
        this.trainingsCount = this.trainings ? this.trainings.length : 0
      })
      .catch((err) => {
        this.snackbar = alerts.error(err)
      })
      .then(() => {
        this.progress = false
      })
  },
  computed: {
    numberOfPages() {
      return Math.ceil(this.trainingsCount / this.itemsPerPage)
    },
  },
  methods: {
    updateItemsPerPage(number) {
      this.itemsPerPage = number
      this.page = 1
    },
  },
}
</script>
