<template>
  <v-card class="pa-2" outlined tile>
    <v-card-text>
      <v-row>
        <v-col cols="6">
          <v-row>
            <v-avatar size="90">
              <v-img
                v-if="author.photo && author.photo.length > 1"
                :src="author.photo"
              ></v-img>
              <v-img
                v-else
                src="https://cdn.vuetifyjs.com/images/lists/1.jpg"
              ></v-img>
            </v-avatar>
          </v-row>
          <v-row class="mt-2">
            <div class="overline font-weight-bold">
              {{ `${author.firstName} ${author.lastName}` }}
            </div>
          </v-row>
        </v-col>
        <v-col cols="6">
          <v-row>
            <div class="pa-2">
              <v-icon class="mr-2" color="black">fa-video</v-icon>
              <span
                class="subtitle-2 font-weight-bold"
                v-if="summary[0].value"
                >{{ summary[0].value }}</span
              >
              <app-tiny-circular-progress v-else></app-tiny-circular-progress>
              {{ summary[0].name }}
            </div>
            <div class="pa-2">
              <v-icon class="mr-2 black--text">fa-users</v-icon>
              <span class="subtitle-2 font-weight-bold" v-if="summary[1].value">
                {{ summary[1].value }}</span
              >
              <app-tiny-circular-progress v-else></app-tiny-circular-progress>
              {{ summary[1].name }}
            </div>
            <div class="pa-2">
              <v-icon class="mr-2 black--text">fa-comments</v-icon>
              <span
                class="subtitle-2 font-weight-bold"
                v-if="summary[3].value"
                >{{ summary[3].value }}</span
              >
              <app-tiny-circular-progress v-else></app-tiny-circular-progress>
              {{ summary[3].name }}
            </div>
            <div class="pa-2">
              <v-icon class="mr-2 black--text">fa-star</v-icon>
              <span
                class="subtitle-2 font-weight-bold"
                v-if="summary[4].value"
                >{{ summary[4].value }}</span
              >
              <app-tiny-circular-progress v-else></app-tiny-circular-progress>
              {{ summary[4].name }}
            </div>
          </v-row>
        </v-col>
      </v-row>
      <v-row>
        <div class="headline font-weight-bold primary--text">
          {{ `${author.firstName} ${author.lastName}` }}
        </div>
        <v-sheet>
          {{ about }}
        </v-sheet>
      </v-row>
    </v-card-text>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn icon :to="to">
        <v-icon>open_in_new</v-icon>
      </v-btn>
    </v-card-actions>
    <v-row>
      <v-snackbar v-model="snackbar.status">
        {{ snackbar.message }}
        <v-btn :color="snackbar.type" @click="snackbar.status = false">
          Close
        </v-btn>
      </v-snackbar>
    </v-row>
  </v-card>
</template>
<script>
import TinyCircularProgress from '@/components/ui/progress/TinyCircularProgress'
import axios from 'axios'
import * as alerts from '@/utils/alerts-utils'
import * as endpoints from '@/constants/rest-endpoints'
import * as routesNames from '@/constants/routes-names'
import { authorStatsMixin } from '@/mixins/author-stats-mixin'

export default {
  mixins: [authorStatsMixin],
  components: {
    appTinyCircularProgress: TinyCircularProgress,
  },
  data() {
    return {
      snackbar: {
        status: false,
        message: '',
        type: '',
      },
    }
  },
  computed: {
    training() {
      return this.$store.getters['training/getTraining']
    },
    author() {
      return this.training ? this.training.author : {}
    },
    to() {
      return {
        name: routesNames.AUTHOR_PAGE,
        params: {
          uid: this.training ? this.training.author.id : '',
        },
      }
    },
    about() {
      return this.author.about
        ? this.author.about.substring(0, 400) + '...'
        : ''
    },
    uid() {
      // this will be used in the authorStatsMixin mixin
      return this.author.id
    },
  },
}
</script>