<template>
  <v-card outlined tile :loading="progress">
    <v-card-title>Participants</v-card-title>
    <v-card-text>
      <ul>
        <li v-for="(participant, index) in participants" :key="index">
          {{ participant }}
        </li>
      </ul>
    </v-card-text>
    <v-card-actions class="mb-5">
      <v-spacer></v-spacer>
      <v-btn icon small @click="previous" :disabled="page < 1 || progress"
        ><v-icon>mdi-arrow-left-circle-outline</v-icon></v-btn
      >
      <v-btn
        icon
        small
        @click="next"
        :disabled="progress || page + 1 >= nbPages"
        ><v-icon>mdi-arrow-right-circle-outline</v-icon></v-btn
      >
    </v-card-actions>
    <p class="text-center" v-if="nbPages > 0">
      Page {{ page + 1 }} of {{ nbPages }}
    </p>
    <v-snackbar v-model="snackbar.status">
      {{ snackbar.message }}
      <v-btn :color="snackbar.type" @click="snackbar.status = false">
        Close
      </v-btn>
    </v-snackbar>
  </v-card>
</template>
<script>
import axios from 'axios'
import * as endpoints from '@/constants/rest-endpoints'
import * as alerts from '@/utils/alerts-utils'

export default {
  data() {
    return {
      progress: false,
      training: null,
      participants: null,
      page: 0, // current page
      total: 0, // total number of partcipants
      snackbar: {
        status: false,
        message: '',
        type: '',
      },
    }
  },
  computed: {
    nbPages() {
      return Math.ceil(this.total / 5)
    },
  },
  created() {
    this.training = this.$store.getters['training/getTraining']
    this.get()
    this.count()
  },
  methods: {
    next() {
      if (this.page + 1 < this.nbPages) {
        this.page++
        this.get()
      }
    },
    previous() {
      if (this.page > 0) {
        this.page--
        this.get()
      }
    },
    get() {
      this.progress = true
      axios
        .get(
          endpoints.TRAINING_PARTICIPANTS.replace('{id}', this.training.id),
          {
            params: {
              page: this.page,
              size: 5,
            },
          }
        )
        .then((res) => {
          this.participants = res.data.map(
            (participant) => `${participant.firstName} ${participant.lastName}`
          )
        })
        .catch((err) => {
          this.snackbar = alerts.error(err)
        })
        .then(() => {
          this.progress = false
        })
    },
    count() {
      this.progress = true
      axios
        .get(
          endpoints.TRAINING_COUNT_PARTICIPANTS.replace(
            '{id}',
            this.training.id
          )
        )
        .then((res) => {
          this.total = res.data
        })
        .catch((err) => {
          this.snackbar = alerts.error(err)
        })
        .then(() => {
          this.progress = false
        })
    },
  },
}
</script>