<template>
  <v-container>
    <v-row dense v-if="!loading">
      <v-col cols="12">
        <v-img
          alt="Training logo"
          :src="training.image"
          v-if="training.image && training.image.length > 1"
        />
        <v-img alt="Education logo" src="@/assets/education.png" v-else />
      </v-col>
    </v-row>

    <v-row dense justify="center" v-if="!loading">
      <app-header-title class="ma-0 indigo--text"
        >{{ training.price }} <span class="headline">$ </span></app-header-title
      >
    </v-row>

    <v-row dense v-if="!loading">
      <v-col cols="12">
        <v-btn
          v-if="participated"
          block
          rounded
          depressed
          color="secondary"
          @click="leave"
          :disabled="
            progress || oldTraining || !hasWriteUsersPerm || isMyTraining()
          "
        >
          <v-icon>lock</v-icon>Leave
        </v-btn>
        <v-btn
          v-else
          block
          rounded
          depressed
          color="secondary"
          @click="participate"
          :disabled="
            progress ||
            oldTraining ||
            !available ||
            !hasWriteUsersPerm ||
            isMyTraining()
          "
        >
          <v-icon>lock_open</v-icon>Participate
        </v-btn>
      </v-col>
    </v-row>

    <v-row dense v-if="!loading">
      <v-col cols="12">
        <v-btn
          v-if="inWhishlist"
          block
          rounded
          outlined
          color="red darken-2"
          :disabled="progress || !hasWriteUsersPerm"
          @click="remove"
        >
          <v-icon left>mdi-heart-broken</v-icon>Fire from the whishList
        </v-btn>
        <v-btn
          v-else
          block
          rounded
          outlined
          color="red darken-2"
          :disabled="progress || !hasWriteUsersPerm"
          @click="add"
        >
          <v-icon left>mdi-heart</v-icon>Add to your whishList
        </v-btn>
      </v-col>
    </v-row>
    <v-row dense v-if="!loading">
      <app-training-remaining-places
        class="ma-1"
        @available="available = $event"
        :key="rebuildRemainingPlaces"
      ></app-training-remaining-places>
      <v-chip label class="ma-1"
        >Max number of participants : {{ training.maxParticipants }}</v-chip
      >
      <v-chip label class="ma-1"
        >Min number of participants : {{ training.minParticipants }}</v-chip
      >
      <v-chip label class="ma-1"
        >Duration : {{ training.duration }} days</v-chip
      >
    </v-row>

    <v-row dense v-if="!loading">
      <v-col cols="12">
        <app-training-participants></app-training-participants>
      </v-col>
    </v-row>

    <v-row dense v-if="!loading">
      <v-col cols="12">
        <app-training-author></app-training-author>
      </v-col>
    </v-row>

    <v-row dense v-else>
      <v-col cols="12">
        <v-card flat tile>
          <v-sheet color="grey lighten-4" class="pa-3">
            <v-skeleton-loader
              class="mx-auto"
              max-width="300"
              type="card, card-heading, list-item@3, divider, card, divider, list-item-avatar,list-item@3"
            ></v-skeleton-loader>
          </v-sheet>
        </v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-snackbar v-model="snackbar.status">
        {{ snackbar.message }}
        <v-btn :color="snackbar.type" @click="snackbar.status = false">
          Close
        </v-btn>
      </v-snackbar>
    </v-row>
  </v-container>
</template>
<script>
import TrainingAuthor from './TrainingAuthor.vue'
import HeaderTitle from '@/components/ui/text/HeaderTitle.vue'
import TrainingParticipants from './TrainingParticipants.vue'
import TrainingRemainingPlaces from './TrainingRemainingPlaces'
import { participateMixin } from '@/mixins/training-participate-mixin'
import { whishlistMixin } from '@/mixins/training-whishlist-mixin'
import axios from 'axios'
import moment from 'moment'
import * as endpoints from '@/constants/rest-endpoints'
import * as alerts from '@/utils/alerts-utils'

export default {
  components: {
    appTrainingAuthor: TrainingAuthor,
    appTrainingParticipants: TrainingParticipants,
    appTrainingRemainingPlaces: TrainingRemainingPlaces,
    appHeaderTitle: HeaderTitle,
  },
  mixins: [participateMixin, whishlistMixin],
  data() {
    return {
      progress: false,
      participated: false, // this will be true if the user participate to the current training
      inWhishlist: false, //  return true if the user is in the whishlist
      snackbar: {
        status: false,
        message: '',
        type: '',
      },
      available: null, // based on the remaining places of the training, this boolean checks if there is more places or not (available or not)
      rebuildRemainingPlaces: 0,
      // each time we participate or leave a training we will recalculate the remaining places that's whey we will use this counter to rebuild the TrainingRemainingPlaces component
    }
  },
  computed: {
    loading() {
      return this.$store.getters['training/getLoading']
    },
    training() {
      return this.$store.getters['training/getTraining']
    },
    oldTraining() {
      return moment(this.training.startingDate).isSameOrBefore(moment(), 'day')
    },
    // if the current has the users-writer permission we can let him add or remove the training from his whishlist, same if the user would like to participate or leave the training
    hasWriteUsersPerm() {
      return this.$store.getters['auth/hasWriteUsersPerm']
    },
  },
  watch: {
    // check TrainingRating for details
    loading: function (newValue, oldValue) {
      if (!newValue && oldValue) {
        this.mount()
      }
    },
  },
  methods: {
    mount() {
      // mount the component after getting the training from the store
      const training = this.$store.getters['training/getTraining']
      this.progress = true
      const uid = this.$store.getters['auth/getUid']
      // check if the current user is a participant of the training and if this training is in his whishlist
      // get followed trainings
      axios
        .get(endpoints.USER_FOLLOWED_TRAININGS.replace('{uid}', uid))
        .then((res) => {
          // filter on this training
          if (
            res.data.filter((training) => training.id === this.training.id)
              .length > 0
          ) {
            this.participated = true
          }
        })
        .catch((err) => {
          this.snackbar = alerts.error(err)
        })
        .then(() => {
          this.progress = false
        })
      // get whishlist
      axios
        .get(endpoints.USER_WHISHLIST_TRAININGS.replace('{uid}', uid))
        .then((res) => {
          // filter on this training
          if (
            res.data.filter((training) => training.id === this.training.id)
              .length > 0
          ) {
            this.inWhishlist = true
          }
        })
        .catch((err) => {
          this.snackbar = alerts.error(err)
        })
        .then(() => {
          this.progress = false
        })
    },
    // this method will be used by the mixin
    getTrainingId() {
      return this.training.id
    },
    // this method will be called by the participate mixin
    refresh() {
      // we will use it to rebuild the remaining places component
      this.rebuildRemainingPlaces++
    },
    isMyTraining() {
      // if this is the training of the current authenticated user
      const training = this.$store.getters['training/getTraining']
      const uid = this.$store.getters['auth/getUid']
      return (
        !!training && !!uid && !!training.author && training.author.id == uid
      )
    },
  },
}
</script>