<template>
  <v-container class="pa-0">
    <v-sheet v-if="progress">
      <v-skeleton-loader
        class="mx-auto"
        max-width="300"
        type="chip"
      ></v-skeleton-loader>
    </v-sheet>
    <v-chip label class="my-1" v-else
      >Remaining places : {{ remaining }}</v-chip
    >
    <v-snackbar v-model="snackbar.status">
      {{ snackbar.message }}
      <v-btn :color="snackbar.type" @click="snackbar.status = false">
        Close
      </v-btn>
    </v-snackbar>
  </v-container>
</template>
<script>
import axios from 'axios'
import * as endpoints from '@/constants/rest-endpoints'
import * as alerts from '@/utils/alerts-utils'

export default {
  data() {
    return {
      progress: true,
      remaining: null,
      snackbar: {
        status: false,
        message: '',
        type: '',
      },
    }
  },
  mounted() {
    const training = this.$store.getters['training/getTraining']
    // get the training and the training participants so we can calculate the remaining places
    // we will call simultaneous requests with Axios
    // https://stackoverflow.com/questions/61385454/how-to-post-multiple-axios-requests-at-the-same-time
    axios
      .all([
        axios.get(endpoints.TRAINING.replace('{id}', training.id)),
        axios.get(
          endpoints.TRAINING_COUNT_PARTICIPANTS.replace('{id}', training.id)
        ),
      ])
      .then(
        axios.spread((training, participants) => {
          this.remaining = training.data.maxParticipants - participants.data
          this.$emit('available', !!this.remaining)
        })
      )
      .catch((err) => {
        this.snackbar = alerts.error(err)
      })
      .then(() => {
        this.progress = false
      })
  },
}
</script>