<template>
  <v-dialog v-model="dialogClone" width="500">
    <v-form v-model="valid">
      <v-card :loading="progress" :disabled="progress">
        <v-card-title class="headline grey lighten-2">
          Teams Creation
        </v-card-title>

        <v-card-text class="mt-2">
          <v-text-field
            outlined
            :rules="[rules.required, rules.min, rules.exist]"
            label="Name"
            v-model="team.name"
            dense
            class="pt-4"
          />
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn @click="cancel"> Cancel </v-btn>
          <v-btn
            color="primary"
            class="white--text"
            :disabled="!valid"
            @click="save"
          >
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-form>

    <v-snackbar v-model="snackbar.status">
      {{ snackbar.message }}
      <v-btn :color="snackbar.type" @click="snackbar.status = false">
        Close
      </v-btn>
    </v-snackbar>
  </v-dialog>
</template>
<script>
import axios from 'axios'
import * as alerts from '@/utils/alerts-utils'
import * as endpoints from '@/constants/rest-endpoints'

export default {
  props: ['dialog', 'teams'],
  data() {
    return {
      progress: false,
      valid: false,
      dialogClone: null,
      team: {
        id: -1,
        name: '',
      },
      rules: {
        required: (value) => !!value || 'This field can not be empty',
        min: (value) => value.length >= 2 || 'Min 2 characters',
        exist: (value) =>
          (this.teamsNames && !this.teamsNames.includes(this.team.name)) ||
          'This team name already exists',
      },
      snackbar: {
        status: false,
        message: '',
        type: '',
      },
    }
  },
  mounted() {
    this.dialogClone = this.dialog
  },
  computed: {
    teamsNames() {
      return this.teams.map((team) => team.name)
    },
  },
  watch: {
    dialog() {
      // each time the dialog updates the parent will propagate this changement and we have to listen to it to update the dialogClone
      this.dialogClone = this.dialog
    },
  },
  methods: {
    save() {
      this.progress = true
      axios
        .post(endpoints.TEAMS, this.team)
        .then((res) => {
          this.$emit('save', res.data)
          this.team = {
            id: -1,
            name: '',
          }
        })
        .catch((err) => {
          this.snackbar = alerts.error(err)
        })
        .then(() => {
          this.progress = false
        })
    },
    cancel() {
      this.$emit('cancel')
    },
  },
}
</script>