<template>
  <div class="text-center">
    <v-dialog v-model="dialogClone" width="500">
      <v-card>
        <v-card-title class="headline grey lighten-2">
          {{ title }}
        </v-card-title>

        <v-card-text class="mt-2">
          {{ content }}
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" @click="canceled"> Cancel </v-btn>
          <v-btn color="red darken-2" class="white--text" @click="deleted">
            Delete
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
export default {
  props: ['title', 'content', 'dialog'],
  data() {
    return {
      dialogClone: null,
    }
  },
  mounted() {
    this.dialogClone = this.dialog
  },
  watch: {
    dialog() {
      // each time the dialog updates the parent will propagate this changement and we have to listen to it to update the dialogClone
      this.dialogClone = this.dialog
    },
  },
  methods: {
    deleted() {
      this.$emit('deleted', 1)
    },
    canceled() {
      this.$emit('deleted', 0)
    },
  },
}
</script>