<template>
  <v-form @submit.prevent="deleted" v-model="valid" ref="form">
    <v-card :loading="progress">
      <v-card-title class="headline grey lighten-2">
        {{ title }}
      </v-card-title>
      <v-card-text class="mt-2">
        <div class="subtitle-1 font-weight-medium">{{ content }}</div>
        Please type the following to confirm
        <span class="text-no-wrap primary white--text px-1">{{ confirm }}</span>
        <v-text-field
          outlined
          :rules="[rules.required, rules.exact]"
          v-model="confirmText"
          dense
        />
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn @click="canceled" :disabled="progress"> Cancel </v-btn>
        <v-btn
          color="red darken-2"
          type="submit"
          class="white--text"
          :disabled="!valid"
        >
          Delete Definetely
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-form>
</template>
<script>
export default {
  props: {
    title: {
      required: true,
      type: String,
    },
    content: {
      required: true,
      type: String,
    },
    dialog: {
      required: true,
      type: Boolean,
    },
    confirm: {
      required: true,
      type: String,
      default: 'delete-me',
    },
    progress: {
      required: false,
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      valid: false,
      rules: {
        required: (value) => !!value || 'This field can not be empty',
        exact: (value) =>
          value === this.confirm ||
          'Your text and the confirm text does not match',
      },
      confirmText: null,
      dialogCloned: null,
    }
  },
  mounted() {
    this.dialogCloned = this.dialog
  },
  methods: {
    deleted() {
      this.$emit('deleted', 1)
      this.reset()
    },
    canceled() {
      this.$emit('deleted', 0)
      this.reset()
    },
    reset() {
      this.confirmText = null
      this.$refs.form.reset()
    },
  },
}
</script>