<template></template>
<script>
import store from '@/store'

export default {
  created() {
    this.logout()
  },
  methods: {
    logout() {
      this.$store.dispatch('auth/SIGN_OUT')
    },
  },
}
</script>