<template>
  <v-card shaped :loading="progress" :disabled="progress">
    <v-list two-line>
      <v-list-item>
        <v-list-item-avatar>
          <v-icon class="grey darken-2 white--text">fas fa-trash-alt</v-icon>
        </v-list-item-avatar>
        <v-list-item-content>
          <v-list-item-title class="headline"
            >Account Deletion</v-list-item-title
          >
          <v-list-item-subtitle class="subtitle-1"
            >Delete your account definitely ?</v-list-item-subtitle
          >
        </v-list-item-content>
      </v-list-item>
    </v-list>
    <v-card-text>
      <p class="body-1">
        Added
        <span class="text-no-wrap primary white--text px-1">{{
          getCreationDate()
        }}</span>
      </p>
    </v-card-text>
    <v-divider></v-divider>
    <v-card-actions>
      <v-btn
        class="ma-2"
        color="red darken-2 white--text"
        @click="dialogDelete = true"
      >
        <v-icon left>delete_forever</v-icon>Delete definitely
      </v-btn>
      <v-spacer></v-spacer>
      <v-btn class="ma-2" color="primary" disabled>
        <v-icon left>save</v-icon>Cancel
      </v-btn>
    </v-card-actions>

    <v-dialog v-model="dialogDelete" max-width="500px">
      <app-delete-dialog-confirm
        title="Account Deletion"
        content="Are you sure you want to delete your account ?"
        :dialog="dialogDelete"
        :confirm="account.email"
        @deleted="deleteAccount"
        :progress="progress"
      ></app-delete-dialog-confirm>
    </v-dialog>

    <v-snackbar v-model="snackbar.status">
      {{ snackbar.message }}
      <v-btn :color="snackbar.type" @click="snackbar.status = false">
        Close
      </v-btn>
    </v-snackbar>
  </v-card>
</template>
<script>
import DeleteDialogConfirm from '@/components/ui/dialog/DeleteDialogConfirm.vue'
import axios from 'axios'
import * as alerts from '@/utils/alerts-utils'
import * as endpoints from '@/constants/rest-endpoints'
import * as stringUtils from '@/utils/string-utils'
import * as dateUtils from '@/utils/date-utils'

export default {
  components: {
    appDeleteDialogConfirm: DeleteDialogConfirm,
  },
  props: ['account'],
  data() {
    return {
      progress: false,
      valid: false,
      snackbar: {
        status: false,
        message: '',
        type: '',
      },
      dialogDelete: false,
    }
  },
  methods: {
    getCreationDate() {
      if (this.account.creationDate)
        return dateUtils.veryLongDate(this.account.creationDate)
      else if (this.account.requestDate)
        return dateUtils.veryLongDate(this.account.requestDate)
      return ''
    },
    deleteAccount(choice) {
      if (!!choice) {
        this.progress = true
        axios
          .delete(endpoints.ACCOUNT.replace('{id}', this.account.id))
          .then((res) => {
            this.snackbar = alerts.info(
              "Your account was successfully deleted. You'll be redirected to the signin page."
            )
            // sign out the user after deleting its account
            setTimeout(() => {
              this.$store.dispatch('auth/SIGN_OUT')
            }, 2000)
          })
          .catch((err) => {
            this.snackbar = alerts.error(err)
          })
          .then(() => {
            this.progress = false
            this.dialogDelete = false
          })
      } else {
        this.progress = false
        this.dialogDelete = false
      }
    },
  },
}
</script>