<template>
  <v-form v-model="valid" @submit.prevent="submit">
    <v-card shaped :loading="progress" :disabled="progress">
      <v-list two-line>
        <v-list-item>
          <v-list-item-avatar>
            <v-icon class="grey darken-2 white--text">fas fa-at</v-icon>
          </v-list-item-avatar>
          <v-list-item-content>
            <v-list-item-title class="headline">Email</v-list-item-title>
            <v-list-item-subtitle class="subtitle-1"
              >Update your email address</v-list-item-subtitle
            >
          </v-list-item-content>
        </v-list-item>
      </v-list>
      <v-card-text>
        <v-row dense>
          <v-text-field
            v-model="email"
            label="New email address"
            class="px-3"
            outlined
            :rules="[rules.required, rules.email, rules.exist]"
          ></v-text-field>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn class="ma-2" color="primary" type="submit" :disabled="!valid">
          <v-icon left>save</v-icon>Save Changes
        </v-btn>
      </v-card-actions>
    </v-card>

    <v-snackbar v-model="snackbar.status">
      {{ snackbar.message }}
      <v-btn :color="snackbar.type" @click="snackbar.status = false">
        Close
      </v-btn>
    </v-snackbar>
  </v-form>
</template>
<script>
import axios from 'axios'
import * as alerts from '@/utils/alerts-utils'
import * as endpoints from '@/constants/rest-endpoints'
import * as stringUtils from '@/utils/string-utils'

export default {
  props: ['account'],
  data() {
    return {
      progress: false,
      valid: false,
      email: null,
      rules: {
        required: (value) => !!value || 'This field can not be empty',
        email: (value) => {
          return stringUtils.isValidEmail(value) || 'Invalid e-mail.'
        },
        exist: (value) =>
          (value && value !== this.account.email) ||
          'This is your current email, choose another one',
      },
      snackbar: {
        status: false,
        message: '',
        type: '',
      },
    }
  },
  methods: {
    submit() {
      this.progress = true
      axios
        .put(
          endpoints.ACCOUNTS_UPDATE_EMAIL.replace('{id}', this.account.id),
          null,
          { params: { email: this.email } }
        )
        .then((res) => {
          this.snackbar = alerts.info(
            "Your email has been successfully updated. You'll be redirected to the signin page."
          )
          // sign out the user after updating the email so other users can use his old email
          setTimeout(() => {
            this.$store.dispatch('auth/SIGN_OUT')
          }, 2000)
        })
        .catch((err) => {
          this.snackbar = alerts.error(err)
        })
        .then(() => {
          this.progress = false
        })
    },
  },
}
</script>