<template>
  <v-form v-model="valid" @submit.prevent="submit">
    <v-card shaped :loading="progress" :disabled="progress">
      <v-list two-line>
        <v-list-item>
          <v-list-item-avatar>
            <v-icon class="grey darken-2 white--text">security</v-icon>
          </v-list-item-avatar>
          <v-list-item-content>
            <v-list-item-title class="headline">Password</v-list-item-title>
            <v-list-item-subtitle class="subtitle-1"
              >Update your password</v-list-item-subtitle
            >
          </v-list-item-content>
        </v-list-item>
      </v-list>
      <v-card-text>
        <v-row dense>
          <v-text-field
            label="Current password"
            class="px-3"
            outlined
            v-model="current"
            :rules="[rules.required, rules.min]"
            type="password"
          ></v-text-field>
        </v-row>
        <v-row dense>
          <v-text-field
            label="New password"
            class="px-3"
            outlined
            v-model="password"
            :rules="[rules.required, rules.min]"
            type="password"
          ></v-text-field>
        </v-row>
        <v-row dense>
          <v-text-field
            label="Confirm the new password"
            class="px-3"
            outlined
            v-model="confirm"
            :rules="[
              rules.required,
              rules.min,
              (value) =>
                value === this.password || 'Does not match the new password',
            ]"
            type="password"
          ></v-text-field>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn class="ma-2" color="primary" type="submit" :disabled="!valid">
          <v-icon left>save</v-icon>Save Changes
        </v-btn>
      </v-card-actions>
    </v-card>

    <v-snackbar v-model="snackbar.status">
      {{ snackbar.message }}
      <v-btn :color="snackbar.type" @click="snackbar.status = false">
        Close
      </v-btn>
    </v-snackbar>
  </v-form>
</template>
<script>
import axios from 'axios'
import * as alerts from '@/utils/alerts-utils'
import * as endpoints from '@/constants/rest-endpoints'

export default {
  data() {
    return {
      progress: false,
      valid: false,
      current: null,
      password: null,
      confirm: null,
      rules: {
        required: (value) => !!value || 'This field can not be empty',
        min: (value) => (value && value.length >= 5) || 'Min 5 characters',
      },
      snackbar: {
        status: false,
        message: '',
        type: '',
      },
    }
  },
  methods: {
    submit() {
      const aid = this.$store.getters['auth/getAccountId']
      this.progress = true
      axios
        .put(endpoints.ACCOUNTS_UPDATE_PASSWORD.replace('{id}', aid), {
          oldPassword: this.current,
          newPassword: this.password,
        })
        .then((res) => {
          this.snackbar = alerts.info(
            'Your password has been successfully updated'
          )
        })
        .catch((err) => {
          this.snackbar = alerts.error(err)
        })
        .then(() => {
          this.progress = false
        })
    },
  },
}
</script>