<template>
  <v-container>
    <v-breadcrumbs :items="links">
      <template v-slot:item="{ item }">
        <v-breadcrumbs-item :to="item.to" :disabled="item.disabled" exact>
          {{ item.text.toUpperCase() }}
        </v-breadcrumbs-item>
      </template>
    </v-breadcrumbs>
    <app-linear-progress v-if="progress">
      <span>Getting New Requests</span>
    </app-linear-progress>
    <app-static-iterator :items="accounts" v-else>
      <template scope="obj" slot="card">
        <app-new-request-card :account="obj"></app-new-request-card>
      </template>
      <span slot="footer">Requests per page</span>
    </app-static-iterator>
    <v-snackbar v-model="snackbar.status">
      {{ snackbar.message }}
      <v-btn :color="snackbar.type" @click="snackbar.status = false">
        Close
      </v-btn>
    </v-snackbar>
  </v-container>
</template>
<script>
import NewRequestCard from '@/components/ui/cards/NewRequestCard.vue'
import LinearProgress from '@/components/ui/progress/LinearProgress.vue'
import StaticIterator from '@/components/ui/iterator/StaticIterator.vue'
import axios from 'axios'
import * as alerts from '@/utils/alerts-utils'
import * as endpoints from '@/constants/rest-endpoints'
import * as routesNames from '@/constants/routes-names'

export default {
  components: {
    appNewRequestCard: NewRequestCard,
    appLinearProgress: LinearProgress,
    appStaticIterator: StaticIterator,
  },
  data: () => ({
    links: [
      {
        text: 'Home',
        disabled: false,
        to: { name: routesNames.HOME_PAGE },
      },
      {
        text: 'Admin',
        disabled: true,
        to: { name: routesNames.ADMIN_PAGE },
      },
      {
        text: 'NEW REQUESTS Management',
        disabled: true,
        to: { name: routesNames.ADMIN_REQUESTS_PAGE },
      },
    ],
    progress: false,
    accounts: [],
    snackbar: {
      status: false,
      message: '',
      type: '',
    },
  }),
  mounted() {
    this.progress = true
    axios
      .get(endpoints.ACCOUNTS_NEW)
      .then((res) => {
        this.accounts = res.data
      })
      .catch((err) => {
        this.snackbar = alerts.error(err)
      })
      .then((res) => {
        this.progress = false
      })
  },
  methods: {},
}
</script>