<template>
  <v-container>
    <v-breadcrumbs :items="links">
      <template v-slot:item="{ item }">
        <v-breadcrumbs-item :to="item.to" :disabled="item.disabled" exact>
          {{ item.text.toUpperCase() }}
        </v-breadcrumbs-item>
      </template>
    </v-breadcrumbs>

    <v-data-iterator
      :items="teams"
      :items-per-page.sync="itemsPerPage"
      :page="page"
      :search="search"
      :sort-by="sortBy.toLowerCase()"
      :sort-desc="sortDesc"
      class="elevation-2"
    >
      <template v-slot:header>
        <v-toolbar class="mb-6 elevation-1">
          <v-toolbar-title>Teams</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-spacer></v-spacer>
          <v-text-field
            v-model="search"
            outlined
            hide-details
            prepend-inner-icon="mdi-magnify"
            label="Search"
            dense
          ></v-text-field>
          <template v-if="$vuetify.breakpoint.mdAndUp">
            <v-spacer></v-spacer>
            <v-select
              v-model="sortBy"
              outlined
              hide-details
              :items="keys"
              prepend-inner-icon="mdi-magnify"
              label="Sort by"
              dense
            ></v-select>
            <v-spacer></v-spacer>
            <v-btn-toggle v-model="sortDesc" mandatory>
              <v-btn icon small :value="false">
                <v-icon>mdi-arrow-up</v-icon>
              </v-btn>
              <v-btn icon small :value="true">
                <v-icon>mdi-arrow-down</v-icon>
              </v-btn>
            </v-btn-toggle>
          </template>
          <v-spacer></v-spacer>

          <v-tooltip bottom>
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                class="mx-2"
                fab
                small
                color="primary"
                v-bind="attrs"
                v-on="on"
                @click="createDialog = true"
              >
                <v-icon> mdi-plus </v-icon>
              </v-btn>
            </template>
            <span>add a new team</span>
          </v-tooltip>
        </v-toolbar>
      </template>

      <template v-slot:default="props">
        <v-row dense>
          <v-col cols="6" md="3" v-for="item in props.items" :key="item.name">
            <app-team-card
              :team="item"
              :teams="teams"
              @updated="updateTeam(item, $event)"
              @deleted="deleteTeam($event)"
            ></app-team-card>
          </v-col>
        </v-row>
      </template>
    </v-data-iterator>

    <app-create-team-dialog
      :dialog="createDialog"
      :teams="teams"
      @cancel="createDialog = false"
      @save="createNewTeam"
    ></app-create-team-dialog>

    <v-snackbar v-model="snackbar.status">
      {{ snackbar.message }}
      <v-btn :color="snackbar.type" @click="snackbar.status = false">
        Close
      </v-btn>
    </v-snackbar>
  </v-container>
</template>
<script>
import TeamCard from '@/components/ui/cards/TeamCard.vue'
import CreateTeamDialog from '@/components/ui/dialog/CreateTeamDialog.vue'
import axios from 'axios'
import * as alerts from '@/utils/alerts-utils'
import * as arrayUtils from '@/utils/array-utils'
import * as endpoints from '@/constants/rest-endpoints'
import * as routesNames from '@/constants/routes-names'

export default {
  components: {
    appTeamCard: TeamCard,
    appCreateTeamDialog: CreateTeamDialog,
  },
  data: () => ({
    links: [
      {
        text: 'Home',
        disabled: false,
        to: { name: routesNames.HOME_PAGE },
      },
      {
        text: 'Admin',
        disabled: true,
        to: { name: routesNames.ADMIN_PAGE },
      },
      {
        text: 'Teams Management',
        disabled: true,
        to: { name: routesNames.ADMIN_TEAMS_PAGE },
      },
    ],
    snackbar: {
      status: false,
      message: '',
      type: '',
    },
    teams: [],
    progress: true,
    itemsPerPageArray: [4, 8, 12],
    search: '',
    filter: {},
    sortDesc: false,
    page: 1,
    itemsPerPage: 4,
    sortBy: 'name',
    keys: ['Name'],
    createDialog: false, // this dialog will be used to show/hide the create team dialog
  }),
  computed: {
    numberOfPages() {
      return Math.ceil(this.teams.length / this.itemsPerPage)
    },
    filteredKeys() {
      return this.keys.filter((key) => key !== 'Name')
    },
  },
  mounted() {
    this.fetchTeams()
  },
  methods: {
    nextPage() {
      if (this.page + 1 <= this.numberOfPages) this.page += 1
    },
    formerPage() {
      if (this.page - 1 >= 1) this.page -= 1
    },
    updateItemsPerPage(number) {
      this.itemsPerPage = number
    },
    fetchTeams() {
      axios
        .get(endpoints.TEAMS)
        .then((response) => {
          this.teams = response.data
        })
        .catch((err) => {
          this.snackbar = alerts.error(err)
        })
        .then(() => {
          this.progress = false
        })
    },
    updateTeam(oldTeam, newTeam) {
      // update an array in vue js
      // https://medium.com/@miladmeidanshahi/update-array-and-object-in-vuejs-a283983fe5ba
      // https://developer.mozilla.org/fr/docs/Web/JavaScript/Reference/Objets_globaux/Array/splice
      arrayUtils.removeElement(oldTeam, this.teams)
      this.teams.splice(this.teams.length, 0, newTeam)
      this.snackbar = alerts.info('Team was successfully updated')
    },
    deleteTeam(team) {
      const index = this.teams.map((item) => item.id).indexOf(team.id)
      // replacing one element with nothing after the index of our team wich means deleting it
      this.teams.splice(index, 1)
      this.snackbar = alerts.info('Team was successfully deleted')
    },
    createNewTeam(team) {
      this.createDialog = false
      this.teams.splice(this.teams.length, 0, team)
      this.snackbar = alerts.info('The team was successfully created')
    },
  },
}
</script>