<template>
  <v-container>
    <v-breadcrumbs :items="links">
      <template v-slot:item="{ item }">
        <v-breadcrumbs-item :to="item.to" :disabled="item.disabled" exact>
          {{ item.text.toUpperCase() }}
        </v-breadcrumbs-item>
      </template>
    </v-breadcrumbs>

    <v-data-table
      :headers="headers"
      :items="accounts"
      :search="search"
      sort-by="name"
      class="elevation-1"
      :loading="progress"
      :items-per-page="itemsPerPage"
      hide-default-footer
    >
      <template v-slot:top>
        <v-toolbar flat>
          <v-toolbar-title>Accounts</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-spacer></v-spacer>
          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Search"
            single-line
            hide-details
          ></v-text-field>
        </v-toolbar>
      </template>

      <template v-slot:item.name="{ item }">
        {{ `${item.user.firstName} ${item.user.lastName}` }}
      </template>

      <template v-slot:item.creationDate="{ item }">
        {{ getCreationDate(item) | date }}
      </template>

      <template v-slot:item.role="{ item }">
        <v-chip v-if="getRole(item) === 'admin'" color="primary" small outlined>
          <v-icon left small> fa-user-shield </v-icon>
          {{ getRole(item) }}
        </v-chip>
        <v-chip v-else small outlined>
          <v-icon left small> fa-user-alt </v-icon>
          {{ getRole(item) }}
        </v-chip>
      </template>

      <template v-slot:item.status="{ item }">
        <v-chip color="success" small v-if="item.isActive" outlined>
          <v-icon left small> fa-user-check </v-icon>
          enabled
        </v-chip>
        <v-chip color="red darken-2" small v-else outlined>
          <v-icon left small> fa-user-slash </v-icon>
          disabled
        </v-chip>
      </template>

      <template v-slot:item.actions="{ item }">
        <v-icon
          small
          class="mr-2"
          @click="selectAccountForModification(item)"
          color="primary"
          :disabled="getRole(item) === 'admin'"
        >
          mdi-pencil
        </v-icon>
        <v-icon
          small
          @click="selectAccountForDeletion(item)"
          color="red darken-2"
          :disabled="getRole(item) === 'admin'"
        >
          mdi-delete
        </v-icon>
      </template>
    </v-data-table>
    <v-row dense>
      <v-col cols="12" md="6">
        <span class="subheading">Accounts per page</span>
        <v-chip-group
          v-model="selection"
          active-class="primary--text text--accent-4"
          mandatory
        >
          <v-chip @click="updateItemsPerPage(5)">5</v-chip>
          <v-chip @click="updateItemsPerPage(10)">10</v-chip>
          <v-chip @click="updateItemsPerPage(15)">15</v-chip>
          <v-chip @click="updateItemsPerPage(20)">20</v-chip>
        </v-chip-group>
      </v-col>
      <v-col cols="12" md="6">
        <v-pagination
          :value="page"
          :length="pageCount"
          class="mt-6"
          style="justify-content: start"
          circle
          @next="nextPage"
          @previous="previousPage"
          @input="specificPage"
        ></v-pagination>
      </v-col>
    </v-row>

    <v-dialog
      v-model="dialog"
      max-width="500px"
      v-if="
        selectedAccount && selectedAccount.user && selectedAccount.user.team
      "
    >
      <app-account-card
        :account="selectedAccount"
        :key="keyUpdate"
      ></app-account-card>
    </v-dialog>

    <v-dialog v-model="dialogDelete" max-width="500px">
      <app-delete-dialog-confirm
        title="Account Deletion"
        content="Are you sure you want to delete this account ?"
        :dialog="dialogDelete"
        :confirm="selectedAccount.email"
        @deleted="deleteAccount"
        :progress="progress"
      ></app-delete-dialog-confirm>
    </v-dialog>

    <v-snackbar v-model="snackbar.status">
      {{ snackbar.message }}
      <v-btn :color="snackbar.type" @click="snackbar.status = false">
        Close
      </v-btn>
    </v-snackbar>
  </v-container>
</template>
<script>
import AccountCard from '@/components/ui/cards/AccountCard.vue'
import DeleteDialogConfirm from '@/components/ui/dialog/DeleteDialogConfirm.vue'
import axios from 'axios'
import * as alerts from '@/utils/alerts-utils'
import * as endpoints from '@/constants/rest-endpoints'
import * as routesNames from '@/constants/routes-names'
import * as arrayUtils from '@/utils/array-utils'

export default {
  components: {
    appAccountCard: AccountCard,
    appDeleteDialogConfirm: DeleteDialogConfirm,
  },
  data: () => ({
    links: [
      {
        text: 'Home',
        disabled: false,
        to: { name: routesNames.HOME_PAGE },
      },
      {
        text: 'Admin',
        disabled: true,
        to: { name: routesNames.ADMIN_PAGE },
      },
      {
        text: 'Users Management',
        disabled: true,
        to: { name: routesNames.ADMIN_USERS_PAGE },
      },
    ],
    search: '',
    headers: [
      {
        text: 'Name',
        align: 'start',
        sortable: true,
        value: 'name',
      },
      { text: 'ID', value: 'id' },
      { text: 'Email', value: 'email' },
      { text: 'Team', value: 'user.team.name' },
      { text: 'Date', value: 'creationDate' },
      { text: 'Role', value: 'role', sortable: false },
      { text: 'Status', value: 'status', sortable: false },
      { text: 'Actions', value: 'actions', sortable: false },
    ],
    snackbar: {
      status: false,
      message: '',
      type: '',
    },
    dialog: false,
    dialogDelete: false,
    selectedAccount: {},
    page: 1,
    itemsPerPage: 10,
    selection: 1,
    accounts: [],
    progress: false,
    numberOfPages: 0,
    keyUpdate: 0, // this key is used to force update the app-account-card, each time the selected account changed we have to force update this component to update its data
  }),
  computed: {
    pageCount() {
      return Math.ceil(this.numberOfPages / this.itemsPerPage)
    },
  },
  mounted() {
    this.getAccounts()
    // get the accounts count from server
    this.countAccounts()
  },
  methods: {
    getCreationDate(account) {
      return account.creationDate ? account.creationDate : account.requestDate
    },
    getRole(account) {
      if (account.roles.indexOf('ROLE_ADMIN') != -1) return 'admin'
      return 'user'
    },
    selectAccountForModification(account) {
      // it's hard to put our component app-account-card inside the data-table slots that's why we puted it outside the data-table and each time
      // the user clicks on the modify button we will select the acccount to modify and pass it to app-account-card
      this.selectedAccount = account
      // we have to force update the app-account-card and register the updates (show dialog) for the next tick
      // https://fr.vuejs.org/v2/guide/reactivity.html#File-d%E2%80%99attente-de-mise-a-jour-asynchrone
      this.keyUpdate++
      this.$nextTick(function () {
        this.dialog = true
      })
    },
    selectAccountForDeletion(account) {
      this.selectedAccount = account
      this.dialogDelete = true
    },
    // delete an account
    deleteAccount(choice) {
      if (!!choice) {
        this.progress = true
        axios
          .delete(endpoints.ACCOUNT.replace('{id}', this.selectedAccount.id))
          .then((res) => {
            this.snackbar = alerts.info(
              'The user account was successfully deleted'
            )
            arrayUtils.removeElement(this.selectedAccount, this.accounts)
          })
          .catch((err) => {
            this.snackbar = alerts.error(err)
          })
          .then(() => {
            this.reset()
          })
      } else {
        this.reset()
      }
    },
    reset() {
      this.selectedAccount = {}
      this.dialogDelete = false
      this.dialog = false
      this.progress = false
    },
    // get accounts
    getAccounts() {
      this.progress = true
      axios
        .get(endpoints.ACCOUNTS, {
          params: {
            page: this.page - 1,
            size: this.itemsPerPage,
          },
        })
        .then((res) => {
          this.accounts = res.data
        })
        .catch((err) => {
          this.snackbar = alerts.error(err)
        })
        .then((res) => {
          this.progress = false
        })
    },
    // count accounts
    countAccounts() {
      this.progress = true
      axios
        .get(endpoints.ACCOUNTS_COUNT)
        .then((res) => {
          this.numberOfPages = res.data
        })
        .catch((err) => {
          this.snackbar = alerts.error(err)
        })
        .then((res) => {
          this.progress = false
        })
    },
    // pagination
    // look for the pagination api events here https://vuetifyjs.com/en/api/v-pagination/#events
    nextPage() {
      this.getAccounts()
    },
    previousPage() {
      this.getAccounts()
    },
    specificPage(page) {
      this.page = page
      this.getAccounts()
    },
    updateItemsPerPage(count) {
      this.itemsPerPage = count
      this.page = 1
      this.getAccounts()
      this.countAccounts()
    },
  },
}
</script>