<template>
  <v-container no-gutters>
    <v-card outlined :loading="progress" :disabled="progress">
      <v-card-subtitle
        >Drag and drop roles from one group to another</v-card-subtitle
      >
      <v-row dense>
        <v-col cols="12" md="6">
          <v-card outlined class="mx-2">
            <v-card-title class="pb-0">User roles</v-card-title>
            <v-list v-if="userRoles" class="py-0"
              ><draggable
                v-model="userRoles"
                group="roles"
                @start="drag = true"
                @end="drag = false"
              >
                <v-list-item v-for="role in userRoles" :key="role">
                  <v-list-item-content class="py-0">
                    <v-list-item-title>
                      <v-chip filter outlined :color="getColor(role)">
                        <v-icon left small> {{ getIcon(role) }} </v-icon
                        >{{ role }}
                      </v-chip>
                    </v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
              </draggable>
            </v-list>
          </v-card>
        </v-col>
        <v-col cols="12" md="6">
          <v-card outlined class="mx-2">
            <v-card-title class="pb-0">Add role</v-card-title>
            <v-card-text v-if="remainingRoles">
              <v-list v-if="remainingRoles" class="py-0">
                <draggable
                  v-model="remainingRoles"
                  group="roles"
                  @start="drag = true"
                  @end="drag = false"
                >
                  <v-list-item v-for="role in remainingRoles" :key="role">
                    <v-list-item-content class="py-0">
                      <v-list-item-title>
                        <v-chip filter outlined :color="getColor(role)">
                          <v-icon left small> {{ getIcon(role) }} </v-icon
                          >{{ role }}
                        </v-chip>
                      </v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                </draggable>
              </v-list>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
      <v-card-actions class="my-0 py-0">
        <v-spacer></v-spacer>
        <v-btn text color="primary" small @click="save"> Save Changes</v-btn>
      </v-card-actions>
    </v-card>
    <v-snackbar v-model="snackbar.status">
      {{ snackbar.message }}
      <v-btn :color="snackbar.type" @click="snackbar.status = false">
        Close
      </v-btn>
    </v-snackbar>
  </v-container>
</template>
<script>
/*
 *   sources : https://medium.com/vuetify/drag-n-drop-in-vuetify-part-i-166f2c7a4a82
 *    https://github.com/SortableJS/Vue.Draggable
 *    https://codepen.io/abhaywawale/pen/PaVvyR?editors=1010
 */
import draggable from 'vuedraggable'
import axios from 'axios'
import * as alerts from '@/utils/alerts-utils'
import * as endpoints from '@/constants/rest-endpoints'
import * as dataUtils from '@/utils/data-utils'
import * as arrayUtils from '@/utils/array-utils'

export default {
  props: {
    account: {
      required: false,
      type: Object,
    },
  },
  components: {
    draggable,
  },
  data() {
    return {
      userRoles: null,
      remainingRoles: null,
      progress: false,
      snackbar: {
        status: false,
        message: '',
        type: '',
      },
    }
  },
  mounted() {
    this.progress = true
    this.userRoles = dataUtils.fromBackToFrontRoles(this.account.roles)
    axios
      .get(endpoints.ACCOUNTS_ROLES)
      .then((res) => {
        // update roles
        const allRoles = dataUtils.fromBackToFrontRoles(res.data)
        this.remainingRoles = arrayUtils.diff(allRoles, this.userRoles)
      })
      .catch((err) => {
        this.snackbar = alerts.error(err)
      })
      .then((res) => {
        this.progress = false
      })
  },
  methods: {
    save() {
      this.progress = true
      const roles = dataUtils.fromFrontToBackRoles(this.userRoles)
      const rolesParams = roles.join(',')
      axios
        .put(
          endpoints.ACCOUNTS_ROLES_UPDATE.replace('{id}', this.account.id),
          null,
          {
            params: {
              roles: rolesParams,
            },
          }
        )
        .then((res) => {
          this.snackbar = alerts.info('Roles updated successfully')
          this.$emit('roles', roles)
        })
        .catch((err) => {
          this.snackbar = alerts.error(err)
        })
        .then((res) => {
          this.progress = false
        })
    },
    getIcon(role) {
      if (role.includes('reader')) return 'fa-eye'
      else if (role.includes('writer')) return 'fa-pencil-alt'
      else if (role.includes('admin')) return 'fa-shield-alt'
      return ''
    },
    getColor(role) {
      return role.includes('admin') ? 'primary' : ''
    },
  },
}
</script>