<template>
  <v-card class="mx-auto" outlined :loading="progress">
    <v-card-title>User Team</v-card-title>
    <v-card-subtitle class="py-0">Update the user team</v-card-subtitle>
    <v-card-text class="pa-1 ma-0" v-if="team">
      <v-row dense>
        <app-team-select
          :team.sync="team"
          :outlined="true"
          class="px-3"
          :rules="[rules.required]"
          :dense="true"
        ></app-team-select>
      </v-row>
    </v-card-text>
    <v-snackbar v-model="snackbar.status">
      {{ snackbar.message }}
      <v-btn :color="snackbar.type" @click="snackbar.status = false">
        Close
      </v-btn>
    </v-snackbar>
  </v-card>
</template>
<script>
import TeamSelect from '@/components/team/TeamSelect.vue'
import axios from 'axios'
import * as endpoints from '@/constants/rest-endpoints'
import * as alerts from '@/utils/alerts-utils'

export default {
  components: {
    appTeamSelect: TeamSelect,
  },
  props: {
    account: {
      required: true,
      type: Object,
    },
  },
  data: () => ({
    rules: {
      required: (value) => !!value || 'This field can not be empty',
    },
    snackbar: {
      status: false,
      message: '',
      type: '',
    },
    progress: false,
    team: null,
  }),
  mounted() {
    this.team = this.account.user.team
  },
  watch: {
    team(newVal, oldVal) {
      // each time the team changes we will save this value using and http call to the backend, we gonna not do that on the component mounting because
      // the user has not yet choose a team; so the condition below
      if (oldVal != null) {
        this.progress = true
        let user = this.account.user
        user.team = newVal
        axios
          .put(endpoints.USER_TEAM.replace('{uid}', user.id), user.team)
          .then((res) => {
            this.snackbar = alerts.info(
              'The team has been successfully updated'
            )
          })
          .catch((err) => {
            this.snackbar = alerts.error(err)
            user.team = oldVal
          })
          .then(() => {
            this.progress = false
          })
      }
    },
  },
  methods: {},
}
</script>