<template>
  <v-container class="grey lighten-5">
    <v-row dense>
      <app-account-card-resource :account="account"></app-account-card-resource>
    </v-row>
    <v-row dense>
      <v-col cols="12" md="6">
        <v-card class="mx-auto" outlined :loading="progress">
          <app-account-card-availability
            :account="account"
            @progress="progress = $event"
            @enabled="account.isActive = true"
            @disabled="account.isActive = false"
          ></app-account-card-availability>
        </v-card>
      </v-col>
      <v-col cols="12" md="6">
        <app-account-card-team :account="account"></app-account-card-team>
      </v-col>
    </v-row>
    <v-row>
      <app-account-card-roles
        :account="account"
        @roles="updateRoles"
      ></app-account-card-roles>
    </v-row>
  </v-container>
</template>
<script>
import AccountCardResource from './AccountCardResource'
import AccountCardAvailability from './AccountCardAvailability.vue'
import AccountCardRoles from './AccountCardRoles.vue'
import AccountCardTeam from './AccountCardTeam.vue'

export default {
  props: {
    account: {
      required: true,
      type: Object,
    },
  },
  components: {
    appAccountCardResource: AccountCardResource,
    appAccountCardAvailability: AccountCardAvailability,
    appAccountCardRoles: AccountCardRoles,
    appAccountCardTeam: AccountCardTeam,
  },
  data: () => ({
    progress: false,
  }),
  methods: {
    updateRoles(roles) {
      this.account.roles = roles
    },
  },
}
</script>