<template>
  <v-row dense>
    <v-card-title>Account availability</v-card-title>
    <v-card-subtitle class="mb-2">Enable/Disable user account</v-card-subtitle>
    <v-card-text class="mb-2">
      <v-chip
        :color="!active ? 'red darken-2 white--text' : ''"
        class="mx-1"
        small
        @click="disable"
        :disabled="progress"
      >
        <v-icon left small> fa-user-slash </v-icon>
        Disabled
      </v-chip>
      <v-chip
        :color="active ? 'success' : ''"
        class="mx-1"
        small
        @click="enable"
        :disabled="progress"
      >
        <v-icon left small> fa-user-check </v-icon>
        Enabled
      </v-chip>
    </v-card-text>
    <v-snackbar v-model="snackbar.status">
      {{ snackbar.message }}
      <v-btn :color="snackbar.type" @click="snackbar.status = false">
        Close
      </v-btn>
    </v-snackbar>
  </v-row>
</template>
<script>
import axios from 'axios'
import * as alerts from '@/utils/alerts-utils'
import * as endpoints from '@/constants/rest-endpoints'

export default {
  props: {
    account: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      snackbar: {
        status: false,
        message: '',
        type: '',
      },
      active: null,
      progress: false,
    }
  },
  mounted() {
    this.active = this.account.isActive
  },
  methods: {
    enable() {
      // tell the parent that we are doing an http call
      this.startProgress()
      axios
        .get(endpoints.ACCOUNTS_ENABLE.replace('{id}', this.account.id))
        .then((res) => {
          this.active = true
          // tell the parent that the account has been enabled
          this.$emit('enabled')
        })
        .catch((err) => {
          this.snackbar = alerts.error(err)
        })
        .then((res) => {
          this.stopProgress()
        })
    },
    disable() {
      // tell the parent that we are doing an http call
      this.startProgress()
      axios
        .get(endpoints.ACCOUNTS_DISABLE.replace('{id}', this.account.id))
        .then((res) => {
          this.active = false
          this.$emit('disabled')
        })
        .catch((err) => {
          this.snackbar = alerts.error(err)
        })
        .then((res) => {
          this.stopProgress()
        })
    },
    startProgress() {
      this.progress = true
      this.$emit('progress', true)
    },
    stopProgress() {
      this.progress = false
      this.$emit('progress', false)
    },
  },
}
</script>