<template>
  <v-form @submit.prevent="submit" v-model="valid">
    <v-card class="mx-auto" outlined :loading="progress">
      <v-card-title>User Resources</v-card-title>
      <v-card-subtitle>Update user resources</v-card-subtitle>
      <v-card-text>
        <v-row dense>
          <v-col cols="6" md="4">
            <v-text-field
              outlined
              :rules="[rules.required, rules.days]"
              label="Nb days"
              v-model="resource.nbDays"
              dense
            />
          </v-col>

          <v-col cols="6" md="4">
            <v-text-field
              outlined
              :rules="[rules.required, rules.budget]"
              label="Budget"
              v-model="resource.budget"
              dense
              min="0"
            />
          </v-col>

          <v-col cols="12" md="4">
            <v-text-field
              outlined
              label="Jackpot"
              :value="resource.jackpot"
              dense
              type="number"
              min="0"
              readonly
              disabled
            />
          </v-col>
        </v-row>
      </v-card-text>
      <v-card-actions class="my-0 py-0">
        <v-spacer></v-spacer>
        <v-tooltip top>
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              text
              small
              v-bind="attrs"
              v-on="on"
              @click="moveToJackpot"
              :disabled="!validBudget || progress"
            >
              <v-icon left small>mdi-forward</v-icon>Move to jackpot
            </v-btn>
          </template>
          <span>move budget to jackpot</span>
        </v-tooltip>
        <v-btn
          text
          color="primary"
          small
          :disabled="!valid || progress"
          type="submit"
        >
          Save Changes</v-btn
        >
      </v-card-actions>
    </v-card>
    <v-snackbar v-model="snackbar.status">
      {{ snackbar.message }}
      <v-btn :color="snackbar.type" @click="snackbar.status = false">
        Close
      </v-btn>
    </v-snackbar>
  </v-form>
</template>
<script>
import axios from 'axios'
import * as endpoints from '@/constants/rest-endpoints'
import * as alerts from '@/utils/alerts-utils'
import * as stringUtils from '@/utils/string-utils'

export default {
  props: {
    account: {
      required: true,
      type: Object,
    },
  },
  data: () => ({
    resource: {
      budget: 0.0,
      nbDays: 0,
      jackpot: 0.0,
    },
    valid: false,
    rules: {
      required: (value) => (!!value && value >= 0) || 'Min value is zero',
      budget: (value) =>
        stringUtils.isValidPrice(value) || 'the budget precision is 2',
      days: (value) =>
        stringUtils.isValidNbDays(value) || 'the number of days is not valid',
    },
    snackbar: {
      status: false,
      message: '',
      type: '',
    },
    progress: false,
  }),
  computed: {
    validBudget() {
      return stringUtils.isValidPrice(this.resource.budget)
    },
  },
  mounted() {
    this.progress = true
    axios
      .get(endpoints.USER_RESOURCES.replace('{uid}', this.account.user.id))
      .then((res) => {
        this.resource = res.data
      })
      .catch((err) => {
        this.snackbar = alerts.error(err)
      })
      .then((res) => {
        this.progress = false
      })
  },
  methods: {
    moveToJackpot() {
      this.resource.jackpot = (
        parseFloat(this.resource.jackpot) + parseFloat(this.resource.budget)
      ).toFixed(2)
      this.resource.budget = '0'
    },
    submit() {
      this.progress = true
      axios
        .put(
          endpoints.USER_RESOURCES.replace('{uid}', this.account.user.id),
          this.resource
        )
        .then((res) => {
          this.snackbar = alerts.info('User resources updated successfully')
        })
        .catch((err) => {
          this.snackbar = alerts.error(err)
        })
        .then((res) => {
          this.progress = false
        })
    },
  },
}
</script>