<template>
  <v-container>
    <v-row dense>
      <v-spacer></v-spacer>
      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            class="ma-1"
            icon
            x-small
            v-bind="attrs"
            v-on="on"
            @click="disableAlert"
          >
            <v-icon small>fa-times</v-icon>
          </v-btn>
        </template>
        <span>Do not show it again</span>
      </v-tooltip>
    </v-row>
    <v-card-title class="mt-0 pt-0">{{ printAuthor() }}</v-card-title>
    <v-card-subtitle>{{ printJob() }}</v-card-subtitle>

    <v-card-text>
      <div>
        <span class="font-weight-medium black--text">Birth date : </span>
        {{ account.user.birthday | date }} ({{ getAge() }} years old)
      </div>
      <div>
        <span class="font-weight-medium black--text">Team : </span>
        {{ account.user.team.name }}
      </div>
      <div>
        <span class="font-weight-medium black--text">Email : </span>
        {{ account.email }}
      </div>
      <div>
        <span class="font-weight-medium black--text">Request date : </span>
        {{ account.requestDate | datetime }}
      </div>
    </v-card-text>
    <v-snackbar v-model="snackbar.status">
      {{ snackbar.message }}
      <v-btn :color="snackbar.type" @click="snackbar.status = false">
        Close
      </v-btn>
    </v-snackbar>
  </v-container>
</template>
<script>
import moment from 'moment'
import axios from 'axios'
import * as alerts from '@/utils/alerts-utils'
import * as endpoints from '@/constants/rest-endpoints'

export default {
  props: {
    account: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      snackbar: {
        status: false,
        message: '',
        type: '',
      },
    }
  },
  methods: {
    getAge() {
      return moment().diff(this.account.user.birthday, 'years')
    },
    disableAlert() {
      // tell the parent that we are doing an http call
      this.$emit('progress', true)
      axios
        .get(endpoints.ACCOUNTS_DISABLE_ALERT.replace('{id}', this.account.id))
        .then((res) => {
          // if the call is ok we have to inform the parent to disable the card
          this.$emit('disable')
        })
        .catch((err) => {
          this.snackbar = alerts.error(err)
        })
        .then((res) => {
          this.$emit('progress', false)
        })
    },
    printAuthor() {
      let author = `${this.account.user.firstName} ${this.account.user.lastName}`
      if (author.length > 20) author = author.substring(0, 18).concat('...')
      return author
    },
    printJob() {
      let job = this.account.user.job
      if (job.length > 30) job = job.substring(0, 28).concat('...')
      return job
    },
  },
}
</script>