<template>
  <v-row dense>
    <v-card
      class="pa-2 ma-2 mx-auto"
      max-width="344"
      :loading="progress"
      :disabled="disabled || progress"
    >
      <template slot="progress">
        <v-progress-linear
          color="primary"
          height="10"
          indeterminate
        ></v-progress-linear>
      </template>

      <app-new-request-card-header
        :account="account"
        @disable="disabled = true"
        @progress="progress = $event"
      ></app-new-request-card-header>

      <v-divider class="mx-4"></v-divider>

      <app-account-card-availability
        :account="account"
        @progress="progress = $event"
      ></app-account-card-availability>

      <v-divider class="mx-4"></v-divider>

      <v-row dense>
        <v-card-title class="mb-0 pb-0">User roles</v-card-title>
        <v-spacer></v-spacer>

        <v-btn icon @click="show = !show" class="ma-1">
          <v-icon>{{ show ? 'mdi-chevron-up' : 'mdi-chevron-down' }}</v-icon>
        </v-btn>
      </v-row>
      <v-expand-transition>
        <div v-show="show">
          <v-card-text class="my-0 py-0">
            <v-chip-group
              v-model="rolesIndexes"
              column
              multiple
              class="ma-0 pa-0"
            >
              <v-chip filter outlined v-for="role in roles" :key="role">{{
                role
              }}</v-chip>
            </v-chip-group>
          </v-card-text>
        </div>
      </v-expand-transition>
      <v-expand-transition>
        <div v-show="show">
          <v-card-actions class="my-0">
            <v-spacer></v-spacer>
            <v-btn color="primary" text @click="submit"> Save changes </v-btn>
          </v-card-actions>
        </div>
      </v-expand-transition>
    </v-card>
    <v-snackbar v-model="snackbar.status">
      {{ snackbar.message }}
      <v-btn :color="snackbar.type" @click="snackbar.status = false">
        Close
      </v-btn>
    </v-snackbar>
  </v-row>
</template>
<script>
import NewRequestCardHeader from './NewRequestCardHeader.vue'
import AccountCardAvailability from './AccountCardAvailability.vue'
import axios from 'axios'
import * as alerts from '@/utils/alerts-utils'
import * as endpoints from '@/constants/rest-endpoints'
import * as dataUtils from '@/utils/data-utils'

export default {
  props: {
    account: {
      type: Object,
      required: true,
    },
  },
  components: {
    appNewRequestCardHeader: NewRequestCardHeader,
    appAccountCardAvailability: AccountCardAvailability,
  },
  data: () => ({
    show: false,
    disabled: false,
    progress: false,
    snackbar: {
      status: false,
      message: '',
      type: '',
    },
    roles: null,
    rolesIndexes: [],
  }),
  mounted() {
    this.progress = true
    axios
      .get(endpoints.ACCOUNTS_ROLES)
      .then((res) => {
        // update roles
        this.roles = dataUtils.fromBackToFrontRoles(res.data)

        // update roles indexes
        this.rolesIndexes = this.account.roles.map((role) =>
          res.data.indexOf(role)
        )
      })
      .catch((err) => {
        this.snackbar = alerts.error(err)
      })
      .then((res) => {
        this.progress = false
      })
  },
  methods: {
    submit() {
      this.progress = true
      const roles = this.rolesIndexes
        .map((index) => this.roles[index])
        .map(dataUtils.fromFrontToBackRolesFunction)
        .join(',')
      axios
        .put(
          endpoints.ACCOUNTS_ROLES_UPDATE.replace('{id}', this.account.id),
          null,
          {
            params: {
              roles: roles,
            },
          }
        )
        .then((res) => {
          this.snackbar = alerts.info('Roles updated successfully')
        })
        .catch((err) => {
          this.snackbar = alerts.error(err)
        })
        .then((res) => {
          this.progress = false
        })
    },
  },
}
</script>