<template>
  <v-form v-model="valid">
    <v-card elevation="2" class="mx-2" :disabled="progress" :loading="progress">
      <v-card-title v-if="mode == 'edit'">{{ team.name }}</v-card-title>
      <v-text-field
        outlined
        :rules="[rules.required, rules.min, rules.exist]"
        label="Name"
        v-model="internalTeam.name"
        dense
        v-if="mode == 'save'"
        class="pt-4"
      />
      <v-card-actions :class="mode == 'save' ? 'py-0' : ''">
        <v-spacer></v-spacer>
        <v-btn
          icon
          small
          color="primary"
          class="my-0 py-0"
          @click="undo"
          :disabled="mode !== 'save'"
        >
          <v-icon small> fa-undo-alt </v-icon>
        </v-btn>
        <v-btn
          icon
          small
          color="primary"
          class="my-0 py-0"
          @click="save"
          v-if="mode == 'save'"
          :disabled="!valid"
        >
          <v-icon> save </v-icon>
        </v-btn>
        <v-btn
          icon
          small
          color="primary"
          class="my-0 py-0"
          @click="edit"
          v-if="mode == 'edit'"
        >
          <v-icon> mdi-pencil </v-icon>
        </v-btn>
        <v-btn
          icon
          small
          color="red darken-2"
          class="my-0 py-0"
          @click="deleteDialog = true"
        >
          <v-icon> mdi-delete </v-icon>
        </v-btn>
      </v-card-actions>

      <app-delete-dialog
        v-if="internalTeam"
        :dialog="deleteDialog"
        title="Team Deletion"
        :content="`Do you really want to delete this team (${internalTeam.name}) ?`"
        @deleted="remove"
      ></app-delete-dialog>

      <v-snackbar v-model="snackbar.status">
        {{ snackbar.message }}
        <v-btn :color="snackbar.type" @click="snackbar.status = false">
          Close
        </v-btn>
      </v-snackbar>
    </v-card>
  </v-form>
</template>
<script>
import DeleteDialog from '@/components/ui/dialog/DeleteDialog.vue'
import axios from 'axios'
import * as alerts from '@/utils/alerts-utils'
import * as endpoints from '@/constants/rest-endpoints'
import * as objectsUtils from '@/utils/objects-utils'

export default {
  props: {
    team: {
      required: true,
      type: Object,
    },
    teams: {
      required: true,
      type: Array,
    },
  },
  components: {
    appDeleteDialog: DeleteDialog,
  },
  data() {
    return {
      valid: false,
      snackbar: {
        status: false,
        message: '',
        type: '',
      },
      progress: false,
      mode: 'edit', // modes save or edit
      internalTeam: null,
      rules: {
        required: (value) => !!value || 'This field can not be empty',
        min: (value) => value.length >= 2 || 'Min 2 characters',
        exist: (value) =>
          (this.teamsNames &&
            !this.teamsNames.includes(this.internalTeam.name)) ||
          'This team name already exists',
      },
      deleteDialog: false,
    }
  },
  mounted() {
    this.internalTeam = objectsUtils.cloneSimpleObject(this.team)
  },
  computed: {
    teamsNames() {
      return this.teams.map((team) => team.name)
    },
  },
  methods: {
    save() {
      this.mode = 'edit'
      this.progress = true
      axios
        .put(
          endpoints.TEAM.replace('{id}', this.internalTeam.id),
          this.internalTeam
        )
        .then((res) => {
          this.$emit('updated', this.internalTeam)
        })
        .catch((err) => {
          this.snackbar = alerts.error(err)
        })
        .then(() => {
          this.progress = false
        })
    },
    edit() {
      this.mode = 'save'
    },
    remove(choice) {
      if (!!choice) {
        this.progress = true
        axios
          .delete(endpoints.TEAM.replace('{id}', this.internalTeam.id))
          .then((res) => {
            this.$emit('deleted', this.internalTeam)
          })
          .catch((err) => {
            this.snackbar = alerts.error(
              'It seams that this team is still used in the app. Please double check before deleting it'
            )
          })
          .then(() => {
            this.deleteDialog = false
            this.progress = false
          })
      } else {
        this.deleteDialog = false
      }
    },
    undo() {
      this.internalTeam = objectsUtils.cloneSimpleObject(this.team)
      this.mode = 'edit'
    },
  },
}
</script>