<template>
  <v-skeleton-loader
    v-if="progress"
    type="avatar, card, card-heading, card-heading, actions"
  ></v-skeleton-loader>
  <v-card max-width="344" class="pa-2 ma-2 mx-auto" outlined v-else>
    <v-list-item>
      <v-list-item-avatar color="grey">
        <v-img
          v-if="training.author.photo && training.author.photo.length > 1"
          :src="training.author.photo"
        ></v-img>
        <v-img
          v-else
          src="https://cdn.vuetifyjs.com/images/lists/1.jpg"
        ></v-img>
      </v-list-item-avatar>
      <v-list-item-content>
        <v-list-item-title class="title">{{ training.name }}</v-list-item-title>
        <v-list-item-subtitle
          >by
          {{
            `${training.author.firstName} ${training.author.lastName}`
          }}</v-list-item-subtitle
        >
      </v-list-item-content>
    </v-list-item>
    <v-img
      class="ma-2"
      alt="Training logo"
      height="150"
      :src="training.image"
      v-if="training.image && training.image.length > 1"
    />
    <v-img
      alt="Education logo"
      class="ma-2"
      height="150"
      src="@/assets/education.png"
      v-else
    />
    <v-chip class="ma-2" outlined>Price : {{ training.price }} $</v-chip>
    <v-chip class="ma-2" outlined
      >Duration : {{ training.duration }} days</v-chip
    >
    <v-chip class="ma-2" outlined
      >Starting date : {{ training.startingDate | date }}</v-chip
    >

    <v-chip class="ma-2" outlined>Remaining places : {{ remaining }}</v-chip>

    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn icon :to="to">
        <v-icon>open_in_new</v-icon>
      </v-btn>
      <template>
        <!-- Remove whishlist -->
        <v-tooltip top v-if="inWhishlist">
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              color="red darken-2"
              v-bind="attrs"
              v-on="on"
              icon
              :disabled="progress || !hasWriteUsersPerm"
              @click="remove"
            >
              <v-icon>mdi-heart-broken</v-icon>
            </v-btn>
          </template>
          <span>Remove from the whishlist</span>
        </v-tooltip>
        <!-- Add whishlist -->
        <v-tooltip top v-else>
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              v-bind="attrs"
              v-on="on"
              icon
              :disabled="progress || !hasWriteUsersPerm"
              @click="add"
            >
              <v-icon>mdi-heart</v-icon>
            </v-btn>
          </template>
          <span>Add to the whishlist</span>
        </v-tooltip>
      </template>
      <template>
        <!-- leave -->
        <v-tooltip top v-if="participated">
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              color="primary"
              v-bind="attrs"
              v-on="on"
              icon
              @click="leave"
              :disabled="progress || oldTraining || !hasWriteUsersPerm"
            >
              <v-icon>lock</v-icon>
            </v-btn>
          </template>
          <span>Leave</span>
        </v-tooltip>
        <!-- participate -->
        <v-tooltip top v-else>
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              v-bind="attrs"
              v-on="on"
              icon
              @click="participate"
              :disabled="
                progress || oldTraining || !!!remaining || !hasWriteUsersPerm
              "
            >
              <v-icon>lock_open</v-icon>
            </v-btn>
          </template>
          <span>Participate</span>
        </v-tooltip>
      </template>
    </v-card-actions>
    <v-snackbar v-model="snackbar.status">
      {{ snackbar.message }}
      <v-btn :color="snackbar.type" @click="snackbar.status = false">
        Close
      </v-btn>
    </v-snackbar>
  </v-card>
</template>
<script>
import { participateMixin } from '@/mixins/training-participate-mixin'
import { whishlistMixin } from '@/mixins/training-whishlist-mixin'
import moment from 'moment'
import axios from 'axios'
import * as alerts from '@/utils/alerts-utils'
import * as endpoints from '@/constants/rest-endpoints'
import * as routesNames from '@/constants/routes-names'

export default {
  props: {
    training: {
      type: Object,
      required: true,
    },
  },
  mixins: [participateMixin, whishlistMixin],
  data() {
    return {
      progress: false,
      trainingId: null,
      remaining: null,
      uid: null,
      participated: false, // this will be true if the user participate to the current training
      inWhishlist: false, //  return true if the user is in the whishlist
      snackbar: {
        status: false,
        message: '',
        type: '',
      },
      to: null,
    }
  },
  computed: {
    oldTraining() {
      return moment(this.training.startingDate).isSameOrBefore(moment(), 'day')
    },
    // if the current has the users-writer permission we can let him add or remove the training from his whishlist, same if the user would like to participate or leave the training
    hasWriteUsersPerm() {
      return this.$store.getters['auth/hasWriteUsersPerm']
    },
  },
  mounted() {
    this.progress = true
    this.uid = this.$store.getters['auth/getUid']
    this.trainingId = this.training.id
    this.to = {
      name: routesNames.TRAINING_PAGE,
      params: { id: this.trainingId },
    }
    // get followed trainings
    axios
      .get(endpoints.USER_FOLLOWED_TRAININGS.replace('{uid}', this.uid))
      .then((res) => {
        // filter on this training
        if (
          res.data.filter((training) => training.id === this.trainingId)
            .length > 0
        ) {
          this.participated = true
        }
      })
      .catch((err) => {
        this.snackbar = alerts.error(err)
      })
      .then(() => {
        this.progress = false
      })
    // get whishlist
    axios
      .get(endpoints.USER_WHISHLIST_TRAININGS.replace('{uid}', this.uid))
      .then((res) => {
        // filter on this training
        if (
          res.data.filter((training) => training.id === this.trainingId)
            .length > 0
        ) {
          this.inWhishlist = true
        }
      })
      .catch((err) => {
        this.snackbar = alerts.error(err)
      })
      .then(() => {
        this.progress = false
      })
    this.getRemainingPlaces()
  },
  methods: {
    // this method will be used by the mixin
    getTrainingId() {
      return this.trainingId
    },
    refresh() {
      // this method will be called by the participate mixin, we can use it to refresh the remaining places
      this.getRemainingPlaces()
    },
    getRemainingPlaces() {
      // get participants so we can calculate the remaining places
      axios
        .get(
          endpoints.TRAINING_COUNT_PARTICIPANTS.replace('{id}', this.trainingId)
        )
        .then((res) => {
          this.remaining = this.training.maxParticipants - res.data
        })
        .catch((err) => {
          this.snackbar = alerts.error(err)
        })
        .then(() => {
          this.progress = false
        })
    },
  },
}
</script>