<template>
  <div>
    <v-row>
      <v-col cols="12">
        <app-training-header></app-training-header>
      </v-col>
    </v-row>
    <v-row dense>
      <v-col cols="12">
        <v-container>
          <v-row>
            <v-col md="8" sm="12" :order="order[0]">
              <app-training-description></app-training-description>
              <app-training-requirements></app-training-requirements>
              <app-training-criterias></app-training-criterias>
              <app-training-rating></app-training-rating>
            </v-col>
            <v-col md="4" sm="12" :order="order[1]">
              <app-training-aside></app-training-aside>
            </v-col>
          </v-row>
        </v-container>
      </v-col>
    </v-row>
    <v-row dense>
      <v-col cols="12">
        <app-training-reviews v-if="!loading"></app-training-reviews>
      </v-col>
    </v-row>
    <v-row>
      <v-snackbar v-model="snackbar.status">
        {{ snackbar.message }}
        <v-btn :color="snackbar.type" @click="snackbar.status = false">
          Close
        </v-btn>
      </v-snackbar>
    </v-row>
  </div>
</template>

<script>
import TrainingHeader from '@/components/training/TrainingHeader.vue'
import TrainingDescription from '@/components/training/TrainingDescription.vue'
import TrainingRequirements from '@/components/training/TrainingRequirements.vue'
import TrainingCriterias from '@/components/training/TrainingCriterias.vue'
import TrainingAside from '@/components/training/aside/TrainingAside.vue'
import TrainingRating from '@/components/training/rating/TrainingRating.vue'
import TrainingReviews from '@/components/training/reviews/TrainingReviews.vue'
import TrainingProgress from '@/components/ui/progress/TrainingProgress.vue'
import axios from 'axios'
import * as alerts from '@/utils/alerts-utils'
import * as endpoints from '@/constants/rest-endpoints'

export default {
  components: {
    appTrainingHeader: TrainingHeader,
    appTrainingAside: TrainingAside,
    appTrainingRating: TrainingRating,
    appTrainingReviews: TrainingReviews,
    appTrainingDescription: TrainingDescription,
    appTrainingRequirements: TrainingRequirements,
    appTrainingCriterias: TrainingCriterias,
    appTrainingProgress: TrainingProgress,
  },
  data() {
    return {
      snackbar: {
        status: false,
        message: '',
        type: '',
      },
    }
  },
  computed: {
    order() {
      const { md, sm } = this.$vuetify.breakpoint
      return md ? ['first', 'last'] : sm ? ['last', 'first'] : ['first', 'last']
    },
    // I did it in the hard way here because i let the components mounting and in each one i check if the training exists in the store to perform api calls
    // the best way will be to handle that in this component which means ; let the components mouting only if the training is in the store
    // like i did here with the reviews component
    loading() {
      return this.$store.getters['training/getLoading']
    },
  },
}
</script>