<template>
  <v-container>
    <v-row v-if="progress">
      <v-col cols="12">
        <v-sheet color="grey lighten-4" class="pa-3">
          <v-skeleton-loader
            class="mx-auto"
            max-width="300"
            type="heading"
          ></v-skeleton-loader>
        </v-sheet>
      </v-col>
    </v-row>
    <v-row v-else>
      <v-col cols="12">
        <span class="display-1 font-weight-bold">
          {{ training.name }}
          <v-chip class="ma-2 body-2" :color="pickColor()" label>{{
            training.level
          }}</v-chip>
        </span>
        <div class="subtitle-1 font-weight-medium">
          by {{ `${training.author.firstName} ${training.author.lastName}` }}
        </div>
        <div class="caption">{{ training.startingDate | date }}</div>
      </v-col>
      <v-chip
        class="ma-2"
        color="primary"
        v-for="tag in training.tags"
        :key="tag.id"
        >{{ tag.value }}</v-chip
      >
    </v-row>
  </v-container>
</template>
<script>
import * as stringUtils from '@/utils/string-utils'
export default {
  computed: {
    training() {
      return this.$store.getters['training/getTraining']
    },
    progress() {
      return this.$store.getters['training/getLoading']
    },
  },
  methods: {
    pickColor() {
      return stringUtils.pickColor(this.training.level)
    },
  },
}
</script>