<template>
  <v-card flat tile v-if="progress">
    <v-sheet color="grey lighten-4" class="pa-3">
      <v-skeleton-loader
        class="mx-auto"
        max-width="300"
        type="card-heading, paragraph, paragraph, card-heading, paragraph, paragraph, card-heading, paragraph, paragraph"
      ></v-skeleton-loader>
    </v-sheet>
  </v-card>
  <v-card flat tile v-else>
    <v-card-text class="black--text">
      <div v-html="compiledDescription"></div>
    </v-card-text>
  </v-card>
</template>
<script>
export default {
  computed: {
    compiledDescription: function () {
      if (this.training.description)
        return marked(this.training.description, { sanitize: true })
    },
    training() {
      return this.$store.getters['training/getTraining']
    },
    progress() {
      return this.$store.getters['training/getLoading']
    },
  },
}
</script>