<template>
  <v-card flat tile>
    <v-card-title>For whom</v-card-title>
    <v-card-text class="black--text" v-if="progress">
      <v-sheet color="grey lighten-4" class="pa-3">
        <v-skeleton-loader
          class="mx-auto"
          max-width="300"
          type="text, text, text"
        ></v-skeleton-loader>
      </v-sheet>
    </v-card-text>
    <v-card-text class="black--text" v-else>
      <ul>
        <li v-for="criteria in training.criterias" :key="criteria.id">
          {{ criteria.description }}
        </li>
      </ul>
    </v-card-text>
  </v-card>
</template>
<script>
export default {
  computed: {
    training() {
      return this.$store.getters['training/getTraining']
    },
    progress() {
      return this.$store.getters['training/getLoading']
    },
  },
}
</script>