<template>
  <v-app>
    <app-the-toolbar
      v-if="authenticated"
      @drawerWasChanged="drawer = $event"
    ></app-the-toolbar>
    <app-the-navigation-drawer :drawer="drawer"></app-the-navigation-drawer>
    <v-content>
      <router-view></router-view>
    </v-content>
    <app-the-footer v-if="authenticated"></app-the-footer>
  </v-app>
</template>

<script>
import TheFooter from './components/layout/TheFooter'
import TheToolbar from './components/layout/TheToolbar'
import TheNavigationDrawer from './components/layout/TheNavigationDrawer'

export default {
  name: 'App',
  components: {
    appTheFooter: TheFooter,
    appTheToolbar: TheToolbar,
    appTheNavigationDrawer: TheNavigationDrawer,
  },

  data: () => ({
    drawer: false,
  }),

  computed: {
    authenticated() {
      return this.$store.getters['auth/isAuthenticated']
    },
  },
  created() {
    // sign in the user automatically if we have a token in the local storage
    this.$store.dispatch('auth/AUTO_SIGN_IN')
  },
}
</script>
